<!--
<h3>分类</h3>
<ul id="categories">
  <li><a href="#">General <em>(1)</em></a></li>
</ul>
<h3 class="sidebar-title">归档</h3>
<ul id="archives">
  <li>
    <a href="#">November 2012 <em>(2)</em></a>
  </li>
</ul>
-->
<h3 class="sidebar-title"></h3>
<div class="static-body">
  <ul>
<!--     <li><a target="_blank" href="http://www.rayli.com.cn">瑞丽网</a></li>
    <li><a target="_blank" href="http://www.metroer.com">都市客</a></li>
    <li><a target="_blank" href="http://www.cnarts.net">中国艺术品</a></li>
    <li><a target="_blank" href="http://www.yoka.com">YOKA时尚网</a></li>
    <li><a target="_blank" href="http://www.weartrends.com">华纺资讯</a></li>
    <li><a target="_blank" href="http://www.smartshe.com">她时代</a></li> -->
  </ul>
</div>