
@charset "utf-8";
/* custom CSS Document */
body {
//  background-color: #f1f1f1;
}

a{color:#333;}

.full-wdith {
  min-width: 100%;
}

header {
  background-color:lighten($primary-color, 10%);
}

.full-width {
  background-color:lighten($primary-color, 10%);
  min-height: 175px;
  border:3px solid black;
  width:100%;
}


// Navigation Bar with Dropdown
 .navstyle ul li a{margin-bottom:0px;}
$button-bg: $primary-color;//#eb974e;
nav {
  h2 {
    font-weight: 300;
    color: #5c6d7e;
  }
  .button {
    border:0;
    background: $button-bg;
   // @include box-shadow(0);
    -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
      box-shadow: 0;
    color: rgba(255,255,255,.8);

    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
   // @include box-shadow(0px 0.1em 0px #a74d46);
    -webkit-box-shadow: 0px 0.1em 0px #a74d46;
      -moz-box-shadow: 0px 0.1em 0px #a74d46;
      box-shadow: 0px 0.1em 0px #a74d46;
    &:hover {
      background: darken($button-bg,5%);
      color: rgba(255,255,255,1);
    }
    &:active {
  //    @include box-shadow(0px 0.1em 0px #a74d46);
   -webkit-box-shadow: 0px 0.1em 0px #a74d46;
      -moz-box-shadow: 0px 0.1em 0px #a74d46;
      box-shadow: 0px 0.1em 0px #a74d46;
      background: darken($button-bg,8%);
    }
    }
  }



.category-nav{padding-left:0px }

.category-nav .a{
  font-size:1em;  
  text-align:left;
  margin:1px 1px 0px 2px;
  width:10.6em;
  line-height:0.45em;
  padding:0.9em 0em;
  }

  .category-nav .s{
  margin:1px 1px 0px 2px;
  width:14.2em;
  line-height:0.45em;
  padding:1em 0em;
  font-size:0.7em;
  text-align:left
  }

#news li{full-width:100%;white-space:nowrap;
  overflow:hidden;text-overflow:ellipsis; 
  text-overflow : clip ellipsis
}

#more-category-nav{
  height: 2.3rem;
  overflow: hidden;
  -webkit-transition-property: height, background-color;
  -webkit-transition-duration: .7s; 
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-delay:.5s;
}

#more-category-nav:hover {
  height: 29.5rem;
  overflow: hidden;
   -webkit-transition-property: height, background-color; 
   -webkit-transition-duration: .7s; 
   -webkit-transition-timing-function: ease-in;
   -webkit-transition-delay:.5s;
}

.more-product-info{
  height: 2.3rem;
  overflow: hidden;
  -webkit-transition-property: height, background-color;
  -webkit-transition-duration: .7s; 
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-delay:.5s;
}

.more-product-info:hover {
  height: 8rem;
  overflow: hidden;
   -webkit-transition-property: height, background-color; 
   -webkit-transition-duration: .7s; 
   -webkit-transition-timing-function: ease-in;
   -webkit-transition-delay:.5s;
}

.bg-primary{background-color:$primary-color;}

.padding-right-0{padding-right:0px;}


.bg-color-red{background-color:lighten($primary-color, 10%);}

.padding-top-20{padding-top:emCalc(30);}


.f-dropdown-wide{width:900px; font-size:0.4rem;}

.th-round{-moz-border-radius: 35px;
border-radius: 35px;}



.item-wrapper {
  padding: 20px;
  border: 2px solid #efefef;
  border-radius: 7px;
  margin-top: 40px;
  
  &:hover {
    .img-wrapper {
      img { -webkit-filter: grayscale(0); }
      
      .add-to-cart { bottom: 0; }
    }
  }
}

.img-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  .add-to-cart {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #333;
    padding: 16px 8px;
    bottom: -50px;
    position: absolute;
    z-index: 2;
    color: #fff;
    margin: 0 auto;
    border: none;
    box-shadow: none;

    &:hover { background-color: $primary-color; }
  }

  img {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    // -webkit-filter: grayscale(1);
    width: 100%;
  }
}  

h3 { font-size: 22px; }
h5 { font-weight: bold; }

p {
  color: #888;
  font-size: 13px;
  margin-bottom: 0;
}
              
   