<div class="row">


  <ul class="breadcrumb" style="font-size: 14px;">
    <li><a href="/">首页</a> <span class="divider">/</span></li>
    <%if @cat
        @cat.cat_paths.each_with_index do |cat,index|%>
            <%if index != @cat.cat_paths.size - 1%>
                <li>
                  <%=link_to cat.cat_name,"#{cat_path(cat)}?gtype=#{params[:gtype]}",:target=>"_blank" if cat%>
                  <span class="divider">/</span>
                </li>
            <%else%>
                <li class="active">
                  <%=cat.cat_name if cat%>
                </li>
            <%end%>

        <%end%>
    <%end%>
  </ul>

</div>
