<div id="nav_menu" data-0="top: 100px;" data-140="top: -40px;">
  <div id="nav_menu_left"></div>
  <ul id="nav_ul">
    <li>
      <a id="homepage" href="http://www.TRADE-V.com">首页</a>
    </li>
    <li>
      <a id="new" class="<%= 'selected' if controller_name == 'goods' %>" href="/products/newest">新品速递</a>
      <div class="sub_menu">
        <b style="left:0px;" class="nav_arrow"></b>
        <div class="shadow">
          <div class="l" >
            <ul>
              <li><a href="http://www.TRADE-V.com/products/newest" id="507">本期新品</a></li>
              <li><a href="http://www.TRADE-V.com/products/more">更多新品</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a id="brands" href="http://www.TRADE-V.com/article-pinpaiyemian-100.html"> 设计品牌</a>
      <div class="sub_menu">
        <b style="left:0px;" class="nav_arrow"></b>
        <div class="shadow">
          <div class="l" >
            <ul>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-62.html">REINEREN</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-58.html">BABYGHOST</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-59.html">chows</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-56.html">CRUSH</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-19.html">D-SATA by CuR</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-61.html">ESTUNE</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-39.html">Eyedress</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-41.html">Helen Lee</a></li>          
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-26.html">Jade en plus加是</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-37.html">姜茶</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-36.html">La Vie</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-34.html">MATCHBOX</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-60.html">MyCALUMA</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-33.html">NICOLE ZHANG </a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-32.html">NuoMi糯米</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-31.html">OSKA</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-42.html">RIPPLE FIT COLLECTION</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-28.html">SHOKAY</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-29.html">STEPHANE CHEUNG</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-54.html">Tina Couture</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-25.html">榭俪尚海</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-20.html">亦·哲</a></li>
              <li><a tabindex="-1" href="http://www.TRADE-V.com/brand-50.html">熙素</a></li>
            </ul>
          </div>
        </div>
      </div>

    </li>
    <li>
      <a id="latest_fashion" href="http://www.TRADE-V.com/gallery-22.html?openTab=1">时装</a>
      <div class="sub_menu">
        <b class="nav_arrow"></b>
        <div class="shadow">
          <div class="l" >
            <ul>
                <li><a id="522" href="http://www.TRADE-V.com/gallery-52.html?openTab=1">外套</a></li>
                <li><a id="485" href="http://www.TRADE-V.com/gallery-48.html?openTab=1">针织衫</a></li>
                <li><a id="468" href="http://www.TRADE-V.com/gallery-29.html?openTab=1">薄上装</a></li>
                <li><a id="461" href="http://www.TRADE-V.com/gallery-23.html?openTab=1">连衣裙</a></li>
                <li><a id="467" href="http://www.TRADE-V.com/gallery-28.html?openTab=1">礼服裙</a></li>
                <li><a id="463" href="http://www.TRADE-V.com/gallery-24.html?openTab=1">裙子</a></li>
                <li><a id="476" href="http://www.TRADE-V.com/gallery-37.html?openTab=1">衬衫</a></li>
                <li><a id="479" href="http://www.TRADE-V.com/gallery-41.html?openTab=1">裤子</a></li>
              </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
       <a id="bags" href="http://www.TRADE-V.com/gallery-59.html?openTab=2">包袋</a>
       <div class="sub_menu">
         <b class="nav_arrow"></b>
         <div class="shadow">
           <div class="l" >
             <ul>
                 <li><a id="493" href="http://www.TRADE-V.com/gallery-62.html?openTab=2">手拿包</a></li>
                 <li><a id="535" href="http://www.TRADE-V.com/gallery-60.html?openTab=2">挎包</a></li>
            </ul>
           </div>
         </div>
       </div>
    </li>
    <li>
      <a id="accessories" href="http://www.TRADE-V.com/gallery-69.html?openTab=3">配饰</a>
      <div class="sub_menu">
        <b class="nav_arrow"></b>
        <div class="shadow">
          <div class="l" >
            <ul>
                <li><a id="20" href="http://www.TRADE-V.com/gallery-70.html?openTab=3">首饰</a></li>
                <li><a id="500" href="http://www.TRADE-V.com/gallery-77.html?openTab=3">腰带</a></li>
                <li><a id="539" href="http://www.TRADE-V.com/gallery-81.html?openTab=3">眼镜</a></li>
                <li><a id="501" href="http://www.TRADE-V.com/gallery-80.html?openTab=3">围巾</a></li>
                <li><a id="549" href="http://www.TRADE-V.com/gallery-78.html?openTab=3">手套</a></li>
              </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a id="fashion_magazine" href="http://blog.TRADE-V.com/topics">摩登杂志</a>
    </li>
    <!-- change ID to exclusives_center when logged in
    <li class="">
      <a href="/gallery-index---0---40.html" id="exclusives">会员专享</a>
    </li>
    -->
  </ul>
  <div id="search">
    <input type="text" value="<%=@search_key%>" id="search_text" name="name">
    <input type="submit" id="btn_search" value="搜索">
  </div>
</div>