<div id="topmenu" class="navbar navbar-inverse navbar-fixed-top" data-0="top: 100px;" data-100="top: 0px; opacity: 1;" data-150="opacity: 1">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="http://www.TRADE-V.com" class="brand" data-0="display: none;" data-100="display: block;"><img src="/assets/store/logo2.png" style="margin-top: 8px;"/></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="first" data-0="display: block;" data-100="display: none;">
            <a href="http://www.TRADE-V.com" >首页 <span>HOME</span></a>
            <a class="mini_logo" href="http://www.TRADE-V.com" data-0="display: none;" data-100="display: block;">
              <img src="/assets/store/logo2.png" style="margin-top: 8px;"/>
            </a>
          </li>
          <li class="active">
            <a href="/products/newest">新品 <span>NEW IN</span></a>
          </li>
          <li>
            <a href="http://www.TRADE-V.com/gallery-index---0---28.html">风格 <span>STYLES</span></a>
          </li>
          <li class="">
            <a href="http://www.TRADE-V.com/article-pinpaiyemian-100.html">品牌 <span>BRANDS</span></a>
          </li>
          <li >
            <a href="http://www.TRADE-V.com/gallery-22.html?openTab=1">服饰 <span>APPAREL</span></a>
          </li>
          <li>
            <a href="http://blog.TRADE-V.com/topics">杂志 <span>MAGAZINE</span></a>
          </li>
          <li class="seventh">
            <a href="http://blog.TRADE-V.com/articles">资讯 <span>BLOG</span></a>
          </li>
          <li class="">
            <a href="http://www.TRADE-V.com/gallery-index---0---40.html">折扣 <span>SALE</span></a>
          </li>
          <li class="last"></li>
        </ul>
      </div>
    </div>
    <div id="menu_cart" data-0="display: none;" data-100="display: block;">
      <a href="#" class="number cart-link">(<%=@user.cart_total_quantity%>)</a>
      <a class="check" href="/cart-checkout.html">结算</a>
    </div>
  </div>
</div>