
<%#=render "shared/metable", :resource => nil %>
<div id="modal_login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

     贸威是吃货帮的技术平台，信用平台，交易平台，请扫描二维码登陆
      </div>
  <div class="modal-body">
       <img src="/a078/homepage/logo.jpg">
    </div>
  </div>


