



  <section class="am-panel am-panel-primary">
    <header class="am-panel-hd">
      <h3 class="am-panel-title">货主联系方式</h3>
    </header>
    <div class="am-panel-bd">
      <span>该订单联系人为：<%=@memberes[0].name%></span><br/>
      <a href="tel:<%=@memberes[0].mobile%>">手机号为<%=@memberes[0].mobile%></a> <br/>

    </div>
  </section>