<%=javascript_include_tag "area_seletor"%>
<%=javascript_include_tag "patch/member_addrs"%>
<style>
  .bottomdivsclearfix{
      display: none;
  }

</style>
<div class="am-panel am-panel-default">
  <div class="am-panel-hd" style="text-align: center">新增寄货人地址</div>
</div>
<%=render :partial=>"patch/member_addrs/form_manco_first",:locals=>{ :display=>( @addrss== 0 ), :@addr=>Ecstore::MemberAddr.new }%>
