<div class="main">
<ul class="am-list am-list-static am-list-border">
  <%if @shop_clients.size>0%>
    <%@shop_clients.each  do |client|%>
      <li>
        <!--<span class="am-badge am-badge-success">查看详细</span>-->
        <span class="left"><%=truncate2(client.user.weixin_nickname,:length=>4)%></span> &nbsp<span class="right"> 注册时间：<%=client.created_at.strftime("%Y-%m-%d ")%></span>
      </li>
    <%end%>
  <%else%>
    <li>
      <a href="/shop/shopinfos/myshop?shop_id=<%=@shop_id%>" class="am-badge am-badge-success">赶紧去分享您的二微码</a>
      您的店铺目前还没有客户光临哦
    </li>
  <%end%>
</ul>
</div>