<div class="main">
<ul class="am-list am-list-static am-list-border">
  <%if @shopuser.size>0%>
  <%@shopuser.each  do |user|%>
  <li>
    <span class="am-badge am-badge-success">查看详细</span>
    <span class="left"><%=user.visitor_name%></span> &nbsp<span class="right"> 注册时间：<%=(user.created_at).localtime.to_s(:db)%></span></li>

      <%end%>
      <%else%>
      <li>
        <a href="/shop/shopinfos/myshop?shop_id=#{<%=@shop_id%>}" class="am-badge am-badge-success">赶紧去分享您的二微码</a>
      您的店铺目前还没有人注册哦</li>
      <%end%>
</ul>


</div>