<!DOCTYPE html>
<html>
  <head>
      <title>贸威</title>
      <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
      <style type="text/css">
        body { background-color:#F8F8F8; font-family:Arial, Helvetica, sans-serif}
        a,a.ilink,a.ilink:link {text-decoration:none; color:#000;};
        a.ilink:hover {text-decoration:underline; color:#b20000};
        
        a img, a img:hover {border:none;}
        a.ilink1 {text-decoration:none}
        </style>
  </head>
<body>

<div style="background:#F8F8F8; width:100%; padding:20px;">
<table border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="680" height="70" align="right" valign="bottom" style="font-size:12px; color:#888; padding-bottom:12px;">如果图片无法显示，<a href="http://www.TRADE-V.com/article-cominfo_contact-255.html" target="_blank">请点击查看</a></td>
  </tr>
</table>
<table width="680" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF">
  <tr>
    <td width="441" height="70"><a href="http://www.TRADE-V.com/" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM20121220_logo.jpg" alt="LOGO" width="441" height="69" border="0" /></a></td>
    <td width="69"></td>
    <td width="242" align="right" valign="bottom"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM20130205_logo_right.jpg" alt="LOGO" width="182" height="69" border="0" /></td>
  </tr>
</table>
<table width="680" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#000000"><table width="601" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="90"><a href="http://www.TRADE-V.com/" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM2012_menu1.jpg" width="86" height="26" border="0"/></a></td>
          <td width="90"><a href="http://www.TRADE-V.com/gallery-index---0---34.html" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM2012_menu2.jpg" width="86" height="26" border="0"/></a></td>
          <td width="90"><a href="http://www.TRADE-V.com/article-pinpaiyemian-100.html" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM2012_menu3.jpg" width="86" height="26" border="0"/></a></td>
          <td width="89"><a href="http://www.TRADE-V.com/gallery-22.html?openTab=1" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM2012_menu4.jpg" width="85" height="26" border="0"/></a></td>
          <td width="90"><a href="http://www.TRADE-V.com/gallery-59.html?openTab=2" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM2012_menu5.jpg" width="86" height="26" border="0"/></a></td>
          <td width="90"><a href="http://www.TRADE-V.com/gallery-69.html?openTab=3" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM2012_menu6.jpg" width="86" height="26" border="0"/></a></td>
          <td width="89"><a href="http://blog.TRADE-V.com/topics" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM2012_menu7.jpg" width="86" height="26" border="0"/></a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><a href="http://www.TRADE-V.com/products/newest" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM20130205_banner.jpg" width="680" height="430" border="0" /></a></td>
  </tr>
</table>
<table border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF;margin-top:10px;">
  <tr>
    <td><a href="http://www.TRADE-V.com/products/13000054" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM20130205_pro1.jpg" width="220" height="310" border="0" /></a></td>
    <td width="10"></td>
    <td><a href="http://www.TRADE-V.com/products/13000058" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM20130205_pro2.jpg" width="220" height="310" border="0" /></a></td>
    <td width="10"></td>
    <td><a href="http://www.TRADE-V.com/products/13000056" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM20130205_pro3.jpg" width="220" height="310" border="0" /></a></td>
  </tr>
  <tr>
    <td align="center" style="font-size:12px; padding-top:5px; padding-bottom:10px;">蕾丝外套</td>
    <td width="10"></td>
    <td align="center" style="font-size:12px; padding-top:5px; padding-bottom:10px;">白色蕾丝衬衫</td>
    <td width="10"></td>
    <td align="center" style="font-size:12px; padding-top:5px; padding-bottom:10px;">白色蕾丝衬衫</td>
  </tr>
  <tr>
    <td><a href="http://www.TRADE-V.com/products/13000059" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM20130205_pro4.jpg" width="220" height="330" border="0" /></a></td>
    <td width="10"></td>
    <td><a href="http://www.TRADE-V.com/products/13000060" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM20130205_pro5.jpg" width="220" height="330" border="0" /></a></td>
    <td width="10"></td>
    <td><a href="http://www.TRADE-V.com/products/13000057" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM20130205_pro6.jpg" width="220" height="330" border="0" /></a></td>
  </tr>
  <tr>
    <td align="center" style="font-size:12px; padding-top:5px; padding-bottom:10px;">白色蕾丝长外套</td>
    <td width="10"></td>
    <td align="center" style="font-size:12px; padding-top:5px; padding-bottom:10px;">黑白蕾丝裙</td>
    <td width="10"></td>
    <td align="center" style="font-size:12px; padding-top:5px; padding-bottom:10px;">黑色蕾丝衬衫</td>
  </tr>
</table>
</td>
</tr>
</table>
<table width="680" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF;margin-top:10px;">
<tr>
  <td><table border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="680" height="10"></td>
      </tr>
      <tr>
        <td><a href="http://www.TRADE-V.com/article-zhuantiyemian-256.html"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM20130205_HOT.jpg" width="680" height="129" border="0"/></a></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table>
    <table border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="680" height="10"></td>
      </tr>
      <tr>
        <td><img src="http://www.TRADE-V.com/public/images/EDM/bottom.gif" width="680" height="23" border="0"/></td>
      </tr>
    </table>
    <table width="680" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF">
      <tbody>
        <tr>
          <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;"><div style="font-size:12px; line-height:18px; color:#000;">
              <p>为了确保正常接收我们的资讯请将此邮件（info@TRADE-V.com）<a href="http://www.TRADE-V.com/" target="_blank">添加到邮箱联系人</a><br />
                如果你不希望收到 TRADE-V 的电邮广告，或者你更改了电邮地址请<a href="http://www.TRADE-V.com/" target="_blank">点击这里</a><br />
                <a href="http://e.weibo.com/imodec?ref=http%3A%2F%2Fweibo.com%2F2141001125%2Fmyfollow" target="_blank"><img src="http://www.TRADE-V.com/public/images/EDM/V3-EDM2012_weibo.jpg" width="218" height="35" border="0"/></a> <br />
              </p>
            </div></td>
        </tr>
      </tbody>
    </table>
    <table width="680" border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td align="center" valign="top" style="padding-top:5px;"><div style="font-size:12px; line-height:18px; color:#888888;">商标及版权所有 © 2012 TRADE-V.com&nbsp;&nbsp;保留所有权利 / 客户隐私政策 / 我的 TRADE-V ID </div></td>
        </tr>
      </tbody>
    </table>
</div>

  </body>
</html>