<style type="text/css">
    .am-panel-default{
        position:relative;
    }
    .icon-arr {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 10px;
        height: 15px;
        background: url(/assets/icon_order.png) 0 0 no-repeat;
        background-size: 100px 100px;
    }

</style>

<div class="am-panel am-panel-warning "style="margin: 0px;padding: 0px">
  <div class="am-panel-hd"  style="text-align: center;padding: 10px">服务中心</div>
</div>

<div class="am-panel am-panel-default">
  <a href="/services/services_center">
    <div class="am-panel-hd">服务中心</div>
    <span class="icon-arr"></span> </a>
</div>

<div class="am-panel am-panel-default">
  <a href="/services/services_center">
    <div class="am-panel-hd">购物指南</div>
    <span class="icon-arr"></span> </a>
</div>
<div class="am-panel am-panel-default">
  <a href="/services/services_center">
    <div class="am-panel-hd">配送方式</div>
    <span class="icon-arr"></span> </a>
</div>
<div class="am-panel am-panel-default">
  <a href="/services/services_center">
    <div class="am-panel-hd">支付方式</div>
    <span class="icon-arr"></span> </a>
</div>
<div class="am-panel am-panel-default">
  <a href="/services/services_center">
    <div class="am-panel-hd">售后服务</div>
    <span class="icon-arr"></span> </a>
</div>