@charset "utf-8";
/* custom CSS Document */
.padding-right-0{padding-right:0px;}

.top-menu{padding-top:23px;height:20px;}

.bg-color-red{background-color:lighten($primary-color, 10%);}

.padding-top-20{padding-top:emCalc(30);}
.low_button {padding:0.5em 1.8em 0.5em 1.8em;}