<br><br><br>
<div class="am-list-news-bd">

  <ul class="am-list">
    <li style="border: none" class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
      <div class="am-col col-sm-4 am-list-thumb">
      <img src="/assets/error.png" >
      </div>
      <div class="am-col col-sm-8 am-list-main">
        <div style="text-align: center;color: #ff0000">温馨提示</div>
       <div class="dotted">   </div>
        <span >尊敬的客户:</span> <br>
        <span style="font-size: 14px">目前贸威商品只能添加3个!!!</span> <br>
        <a href="/shop/shopinfos/my_goods">点击返回我的商品中心</a>
             </div>  </li> </ul>
         </div>