<div class="main" >
<div class="get">
  <div class="am-container">
    <h1 class="get-title">欢迎来到贸威自贸平台</h1>

    <p>
      期待您的参与
    </p>

       <p>
         <%if @shop.nil?%>
      <a href="/shopinfos/register?shop_id=<%=@user.member_id%>"class="am-btn am-btn-sm get-btn">开始商店之旅 </a>
         <%else%>
      <a  href="#" class="am-btn am-btn-sm get-btn">管理店铺</a>
             <%end%>
    </p>
  </div>
</div>
<!--
<div class="detail">
  <div class="am-container">
    <h2 class="detail-h2"></h2>

    <div class="am-g">
      <div class="am-u-sm-3 detail-mb">

        <h3 class="detail-h3">
          <i class="am-icon-mobile am-icon-sm"></i>

        </h3>

        <p class="detail-p">

        </p>
      </div>
      <div class="am-u-sm-3 detail-mb">
        <h3 class="detail-h3">
          <i class="am-icon-cogs am-icon-sm"></i>

        </h3>

        <p class="detail-p">

        </p>
      </div>
      <div class="am-u-sm-3 detail-mb">
        <h3 class="detail-h3">
          <i class="am-icon-check-square-o am-icon-sm"></i>

        </h3>

        <p class="detail-p">

        </p>
      </div>
      <div class="am-u-sm-3 detail-mb">
        <h3 class="detail-h3">
          <i class="am-icon-send-o am-icon-sm"></i>

        </h3>

        <p class="detail-p">

        </p>
      </div>
    </div>
  </div>
</div>


        -->
</div>