<div class="am-panel am-panel-warning "style="margin: 0px;padding: 0px">
  <div class="am-panel-hd" style="text-align: center"><%= I18n.t "new_addr"%></div>
</div>

<%=render :partial=>"form_mobile",:locals=>{ :display=>true }%>
