/* custom CSS Document */
.padding-right-0 {
  padding-right: 0px; }

.bg-color-red {
  background-color: #f52d24; }

.padding-top-20 {
  padding-top: 1.875rem; }

.low_button {
  padding: 0.5em 1.8em 0.5em 1.8em; }

 .bottom-0{margin-bottom:0px;}

.product-price {background-color: red; color:white;}
.product-price a,h4{color:white;}
 .product-name{}
}
