
// console.log(document.frames("iframeCart"));
// document.frames("iframeCart").location.reload();
// iframeCart.location.reload();
var scrop=document.body.scrollWidth;
var _pDoc =  window.parent.document;

$(_pDoc).find("body").append('<div id="simple_modal_over" class="__mask" style="opacity: 0.3;filter:alpha(opacity=30);position: fixed;display:block;z-index: 99998;top: 0;left: 0;width: 100%;height: 100%;background-color: #000000;background-position: center center;background-repeat: no-repeat;background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff), to(#291a49));background: -webkit-radial-gradient(circle, #ffffff, #291a49);background: -moz-radial-gradient(circle, #ffffff, #291a49);background: -ms-radial-gradient(circle, #ffffff, #291a49);"></div>');

if(parseInt(scrop)>=700){

    $("#iframe_cart").attr("src",$("#iframe_cart").attr("src"));
    $(_pDoc).find("#iframe_cart").animate({ marginTop: '-260px' },'normal');
}else{
    $("#iframe_cart").css({"width":"100%","margin-left":"-184px","margin-top":"-47px","top":"33%"});
    $(_pDoc).find("#iframe_cart").animate({ marginTop: '-50px' },'normal');
}





$("#cart_link .cart-number").text('(<%=@cart_total_quantity%>)');
$("#menu_cart .number").text('(<%=@cart_total_quantity%>)');
