<header id="header" class="header clearfix">

  <span class="headtit">订餐</span>
</header>
 <style type="text/css">
   .cart_table{
       width: 100%;
   }
   .ui-btn-area{
       margin-top: 20px;
   }

 </style>
<table border="1px " class="cart_table">

  <tr>
    <th style="text-align: left; padding-left: 16px;">联系人</th>
    <th>联系电话</th>
    <th>就餐人数</th>


  </tr>
  <tr>
    <th style="text-align: left; padding-left: 16px;"><%= @oa.dining_use%></th>
    <th><%= @oa.phone%></th>
    <th><%= @oa.dining_count%></th>
 </tr>

</table>









    <div class="bottomdiv clearfix">
      <div class="cover_load_img w38" id="CoverloadImg"></div>
      <div class="inner clearfix">
        <div class="fl">
          <p class="cart_total"><span class="c_t_price"></span></p>

        </div>
        <input type="button" class="fr btn_sure" value="确认">
        <div mars_sead="checkout_submit_btn" class="fr btn_sure" data-orderfrom="true" data-countorder="true" data-ordertime="988" style="display:none">
          提交
          <div class="fr cart_time_smb">
            <span class="clockicon fl"></span>
            <span class="num_cunt"><span class=":">14</span><span>:</span><span>53</span><span></span></span>
          </div>
        </div>
      </div>

    </div>
