<div class="brand clearfix">
	<div class="left">
		<%=render "store/suppliers/brand_attrs"%>
	</div>

	<div class="right">
		<%#=render "store/brands/focus" if @brand.brand_focuses.size > 0%>
		
		<%=render :partial=>"store/suppliers/mod"%>
	</div>
</div>