<script>
    $('#demo-full-img').on('click', function () {
        if ($.AMUI.fullscreen.enabled) {
            $.AMUI.fullscreen.request(this);
        }
    });
</script>
<%=stylesheet_link_tag "cheuksgroup/rongda.css"%>
<div>
<article data-am-widget="paragraph" class="am-paragraph am-paragraph-default"
         data-am-paragraph="{ tableScrollable: true, pureview: true }">
  <img id="demo-full-img" src=/assets/cheuks/IMG_0231.jpg>
  <p class=paragraph-default-p style="text-align: center;color: red">0.567T升高10M自行越野剪叉式高空作业平台-JCPT1017RT</p>
  </article></div>
   <hr>
<div class="am-list-news-hd am-cf am-nav-header"><span >产品详细说明</span></div>
<div class="am-list-news-bd">
<ul class="am-list am-list-border">
  <li><a>1.单向延升平台可以讯速的铺开至作业点</a></li>
  <li><a>2.可折叠式围栏缩小了整机体积</a></li>
  <li><a>3.自动调平液压支脚</a></li>
  <li><a>4.30%的爬坡能力，4*4驱动可在不平粗糙的地面作业</a></li>
  <li><a>5.旋转式阀组方便维护</a></li>
  <li><a>6.旋转式发动机方便维护</a></li>
  <li><a>7.故障代码自动显示方便检修</a></li>
</ul>
  </div>

<div class="am-list-news-hd am-cf am-nav-header"><span >技术参数:</span></div>

  <table class="am-table am-table-bd am-table-hover am-table-striped">
    <thead style="background-color: #ff0000;color: #FFFFFF">
    <tr>
      <th>型 号</th>
      <th>单位</th>
      <th>JCPT1017RT</th>
    </tr>
    </thead>
    <tbody>

    <tr >
      <td>安全工作载荷</td>
      <td>kg</td>
      <td>567</td>
    </tr>
    <tr >
      <td>延伸平台安全工作载荷</td>
      <td>kg</td>
      <td>136</td>
    </tr>
    <tr >
      <td>最大工作人数</td>
      <td></td>
      <td>4</td>
    </tr>
    <tr >
      <td>最大工作高度</td>
      <td>mm</td>
      <td>10000</td>
    </tr>
    <tr >
      <td>最大平台高度</td>
      <td>mm</td>
      <td>8000</td>
    </tr>
    <tr >
      <td>整机长度</td>
      <td>mm</td>
      <td>2670</td>
    </tr>
    <tr >
      <td>整机长度(带支腿)</td>
      <td>mm</td>
      <td>3380</td>
    </tr>
    <tr >
      <td>整机宽度</td>
      <td>mm</td>
      <td>1730</td>
    </tr>
    <tr >
      <td>整机高度(围栏未折叠)</td>
      <td>mm</td>
      <td>2320</td>
    </tr>
    <tr >
      <td>整机高度(围栏折叠)</td>
      <td>mm</td>
      <td>1700</td>
    </tr>
    <tr >
      <td>工作平台尺寸</td>
      <td>mm</td>
      <td>2510×1550</td>
    </tr>
    <tr >
      <td>平台延伸尺寸</td>
      <td>mm</td>
      <td>1450X1550</td>
    </tr>
    <tr >
      <td>最小离地间隙(收拢状态)</td>
      <td>mm</td>
      <td>190</td>
    </tr>
    <tr >
      <td>轴距</td>
      <td>mm</td>
      <td>1520</td>
    </tr>
    <tr >
      <td>最小转弯半径(内轮)</td>
      <td>mm</td>
      <td>190</td>
    </tr>
    <tr >
      <td>最小转弯半径(外轮)</td>
      <td>mm</td>
      <td>3680</td>
    </tr>
    <tr >
      <td>发动机</td>
      <td></td>
      <td>Kubota D905 15.5kw/3600 rpm</td>
    </tr>
    <tr >
      <td>机器行驶速度(收拢状态)</td>
      <td>km/h</td>
      <td>6.1</td>
    </tr>
    <tr >
      <td>机器行驶速度(起升状态)	</td>
      <td>km/h</td>
      <td>0.8</td>
    </tr>
    <tr >
      <td>上升/下降速度</td>
      <td>sec</td>
      <td>30/35</td>
    </tr>
    <tr >
      <td>最大爬坡能力</td>
      <td>%</td>
      <td>35</td>
    </tr>
    <tr >
      <td>工作最大允许角度</td>
      <td>°</td>
      <td>2-3</td>
    </tr>
    <tr >
      <td>液压油箱</td>
      <td>L</td>
      <td>56.8</td>
    </tr>
    <tr >
      <td>轮胎(发泡轮胎)</td>
      <td>mm</td>
      <td>Ф300×600</td>
    </tr>
    <tr >
      <td>整机重量</td>
      <td>kg</td>
      <td>2900</td>
    </tr>
    <tr >
      <td>整机重量(带支腿)</td>
      <td>kg</td>
      <td>3222</td>
    </tr>

    </tbody>
  </table>

<section data-am-widget="accordion" class="am-accordion am-accordion-gapped"
         data-am-accordion='{ "multiple": true }'>
  <dl class="am-accordion-item am-active">
    <dt class="am-accordion-title">选装配置</dt>
    <dd class="am-accordion-content am-collapse am-in ">- 超重传感器  <br/>
      - 自动液压调平支腿 <br/>
      - 连接到平台的AC电源 <br/>
      - 平台工作灯   <br/>
      - 连接到平台的导气管 <br/>
      - 液压发动机   <br/>
      - 液压油散热器</dd>
  </dl>
  <dl class="am-accordion-item ">
    <dt class="am-accordion-title">标准配置</dt>
    <dd class="am-accordion-content am-collapse ">
     - 平台自锁门
      <br>
      - 全行程行走
      <br>
      - 无痕轮胎
      <br>
      - 4×4驱动
      <br>
      - 自动刹车系统
      <br>
      - 旋转式发动机架
      <br>
      - 应急泵
      <br>
      - 紧急停止按钮
      <br>
      - 油管防爆系统
      <br>
      - 故障诊断系统
      <br>
      - 倾斜保护系统
      <br>
      - 发动机重启保护
      <br>
      - 蜂鸣器
      <br>
      - 喇叭
      <br>
      - 工作时间表
      <br>
      - 安全检修支撑杆
      <br>
      - 折叠围栏
      <br>
      - 延伸平台
      <br>
      - 充电保护系统
      <br>
      - 欧Ⅲ排放发动机
      <br>
      - 频闪灯</dd>
  </dl>

</section>

<div class="bottomdiv clearfix">
  <div class="inner clearfix">
    <a  style="float: left;background: #ffd12f;border:#ffd12f 1px solid!important ;margin-left: 5px "  class="fr btn_sure" >
        关注

    </a>

    <a href="/rongdas/order_rongda" data-islogin="true" class="fr btn_sure" >
       点击预约

        </a>

  </div>
</div>
</div>
