

<div class="am-panel am-panel-warning "style="margin: 0px;padding: 0px">
  <div class="am-panel-hd"  style="text-align: center;padding: 10px">租赁中心</div>
</div>

<div class="am-panel-group" id="accordion">
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title widget-name"  data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
        租赁服务
      </h4>
    </div>

     <ul id="do-not-say-1" class="am-list m-widget-list am-panel-collapse am-collapse am-in">

      <li>
        <a href="/cheuks/new_detail" >

          <span class="/pages/rongda_about" >融达简介</span>


        </a>
      </li>
       <li>
         <a href="/pages/rongda_service" >
      <span class="widget-name" >租赁服务</span>
           </a>
       </li>

       <li>
         <a href="/pages/contact_rongda" >
           <span class="widget-name" >联系方式</span>
         </a>
       </li>
       <li>
         <a href="/technicals" >
           <span class="widget-name" >技术服务</span>
         </a>
       </li>

      </ul>

  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}">
        租赁项目
      </h4>
    </div>
    <ul id="do-not-say-2" class=" am-list m-widget-list am-panel-collapse am-collapse">

      <li>
        <a href="/rongdas/rongda_goods" >

          <span class="widget-name" >高空作业平台租赁</span>


        </a>
      </li>
      <li>
        <a href="/rongdas/rongda_goods" >
          <span class="widget-name" >电动叉车租赁</span>
        </a>
      </li>

      <li>
        <a href="/rongdas/rongda_goods" >
          <span class="widget-name" >内燃叉车租赁</span>
        </a>
      </li>
      <li>
        <a href="/rongdas/rongda_goods" >
          <span class="widget-name" >全电动堆高车租赁</span>
        </a>
      </li>
      <li>
        <a href="/rongdas/rongda_goods" >
          <span class="widget-name" >全电动搬运车租赁</span>
        </a>
      </li>
      <li>
        <a href="/rongdas/rongda_goods" >
          <span class="widget-name" > 机床租赁</span>
        </a>
      </li>


    </ul>

    <div id="do-not-say-2" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">

      </div>
    </div>
  </div> </div>


<%=stylesheet_link_tag "cheuksgroup/rongda.css"%>