<div class="am-panel am-panel-default">
  <div class="am-panel-hd" style="text-align: center">留言给我们</div>
  <div class="am-panel-bd">
    <form class="am-form">

      <div class="am-form-group">
        <label for="doc-ipt-email-1">产品名称：</label>
        <input type="text" class="" id="doc-ipt-email-1" value="0.567T升高10M自行越野剪叉式高空作业平台-JCPT1017RT">
      </div>

        <div class="am-form-group">
          <label for="doc-ipt-email-1">联系电话</label>
          <input type="text" class="" id="doc-ipt-email-1" placeholder="输入联系电话">
        </div>








        <div class="am-form-group">
          <label for="doc-ta-1">备注信息：</label>
          <textarea class="" rows="5" id="doc-ta-1" placeholder="请输入你的信息( 租赁需求 , 租赁时长  )"></textarea>
        </div>

       <button type="submit" class="am-btn am-btn-cheuks button">提交</button>
    <button type="reset" class="am-btn am-btn-default button">重置</button>
    </form>
    <br/>
  </div>
</div>

      <style>
          .button{
            width: 50%; float: left;
        }
      </style>
