 <style>
   span:hover{
       color: red;
   }
 </style>
<div class="am-g">


  <div class="col-sm-6">
    <a href="/rongdas/goods_detail">
    <div class="am-thumbnail" >
      <img src="/assets/cheuks/IMG_0231.jpg" alt=""/>
      <div class="am-thumbnail-caption">
        <span>0.567T升高10M自行越</span>
       </div>
    </div>   </a>
  </div>

  <div class="col-sm-6">
    <a href="/rongdas/goods_detail">
      <div class="am-thumbnail" >
        <img src="/assets/cheuks/IMG_0231.jpg" alt=""/>
        <div class="am-thumbnail-caption">
          <span>0.567T升高10M自行越</span>
        </div>
      </div>
    </a>
  </div>


  <div class="col-sm-6">
    <a href="/rongdas/goods_detail">
      <div class="am-thumbnail" >
        <img src="/assets/cheuks/IMG_0231.jpg" alt=""/>
        <div class="am-thumbnail-caption">
          <span>0.567T升高10M自行越</span>
        </div>
      </div>
    </a>
  </div>


  <div class="col-sm-6">
    <a href="/rongdas/goods_detail">
      <div class="am-thumbnail" >
        <img src="/assets/cheuks/IMG_0231.jpg" alt=""/>
        <div class="am-thumbnail-caption">
          <span>0.567T升高10M自行越</span>
        </div>
      </div>
    </a>
  </div>





</div>
