

<header class="am-topbar">


  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-primary am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">


    <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索小黑板">
      </div>
      <button type="submit" class="am-btn am-btn-primary am-btn-sm">搜索</button>
    </form>

  </div>
</header>
<div class="col-md-4 blog-sidebar">
  <div class="am-panel-group">

    <section class="am-panel am-panel-primary">
      <div class="am-panel-hd">货源小黑板目录</div>
      <ul class="am-list blog-list">
        <%=render "blackgood_add"%>


      </ul>
    </section>


  </div>
</div>
<br/>
<br/>
<div class="am-g am-g-fixed blog-g-fixed">
  <div class="col-md-8">
    <article class="blog-main">


    </article>


    <ul class="am-pagination blog-pagination">
      <%=will_paginate @good,:class =>'blog-pagination' ,:previous_label => '<<上一页', :next_label => '下一页>>',:container=>false,:params=>{:page=>params[:page]}%>

    </ul>
    <a class="am-btn  am-btn-primary am-btn-block" href="/manco/good_source?supplier_id=98">发布货源小黑板 →</a>
  </div>


</div>

