
<style>
    @media only screen and (min-width: 1200px) {
        .blog-g-fixed {
            max-width: 1200px;
        }
    }
    .am-btn-cart{
        float: right;
        line-height: 30px;

    }
    @media only screen and (min-width: 641px) {
        .blog-sidebar {
            font-size: 1.4rem;
        }
    }
    .blog-main {
        padding: 20px 0;
    }
    .blog-title {
        margin: 10px 0 20px 0;
    }
    .blog-meta {
        font-size: 14px;
        margin: 10px 0 20px 0;
        color: #222;
    }
    .blog-meta a {
        color: #27ae60;
    }
    .blog-pagination a {
        font-size: 1.4rem;
    }
    .blog-team li {
        padding: 4px;
    }
    .blog-team img {
        margin-bottom: 0;
    }
    .blog-footer {
        padding: 10px 0;
        text-align: center;
    }
</style>
</head>
<body>
<header class="am-topbar">
  <h1 class="am-topbar-brand">
    万家小黑版
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">


    <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索小黑板">
      </div>
      <button type="submit" class="am-btn am-btn-default am-btn-sm">搜索</button>
    </form>

  </div>
</header>

<div class="am-g am-g-fixed blog-g-fixed">
  <div class="col-md-8">
    <article class="blog-main">

      <h4 class="am-article-meta blog-meta">by <a id="black_user" href="#">user1</a> 发布于 2014/06/17  <a href="#">上海</a></h4>
      <div class="am-g blog-content">
        <div class="col-lg-7">
         <p>本次运输起点站：安吉   </p>
          <p>本次运输终点站：常熟   </p>
          <p>安吉到常熟1公斤原价：40   </p>
          <p>安吉到常熟优惠价：20   </p>
      </div>
        </div>
    </article>
    <button class="am-btn am-btn-success am-btn-cart  express-cart" >
      <i class="am-icon-shopping-cart"></i>
      需要运输货物
    </button>

    <hr class="am-article-divider blog-hr">

    <ul class="am-pagination blog-pagination">
      <li class="am-pagination-prev"><a href="">&laquo; 上一页</a></li>
      <li class="am-pagination-next"><a href="">下一页 &raquo;</a></li>
    </ul>
  </div>

  <div class="col-md-4 blog-sidebar">
    <div class="am-panel-group">
      <section class="am-panel am-panel-success">
        <div class="am-panel-hd">我的小黑板</div>
        <div class="am-panel-bd">
          <p>点击发布属于您的小黑板</p>
          <a class="am-btn am-btn-success am-btn-primary" href="/manco/blackbord">发布小黑板 →</a>
        </div>
      </section>
      <section class="am-panel am-panel-success">
        <div class="am-panel-hd">小黑板目录</div>
        <ul class="am-list blog-list">
          <li >
            <a href="######" class="am-list-item-hd">上海到南京</a>
            <span class="am-list-date">2013-03-18</span>
          </li>
          <li >
            <a href="######" class="am-list-item-hd">北京到西藏</a>
            <span class="am-list-date">2013-05-18</span>
          </li>
          <li >
            <a href="######" class="am-list-item-hd">武汉到南京</a>
            <span class="am-list-date">2013-09-18</span>
          </li>
          <li >
            <a href="######" class="am-list-item-hd">上海到杭州</a>
            <span class="am-list-date">2013-09-18</span>
          </li>




        </ul>
      </section>

      <section class="am-panel am-panel-success">
        <div class="am-panel-hd">快递成员</div>
        <div class="am-panel-bd">
          <ul class="sm-block-grid-4 blog-team">
            <li><img class="am-thumbnail" src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/></li>
            <li><img class="am-thumbnail" src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/></li>
            <li><img class="am-thumbnail" src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/></li>
            <li><img class="am-thumbnail" src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/></li>
            <li><img class="am-thumbnail" src="http://img4.duitang.com/uploads/blog/201406/15/20140615230159_kjTmC.thumb.224_0.jpeg" alt=""/></li>
            <li><img class="am-thumbnail" src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/></li>
            <li><img class="am-thumbnail" src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/></li>
            <li><img class="am-thumbnail" src="http://img4.duitang.com/uploads/blog/201406/15/20140615230159_kjTmC.thumb.224_0.jpeg" alt=""/></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

</div>

  <script type="application/javascript">
    $(document).ready(function(){
        $(".express-cart").bind("click",function(){
            var b= $("#black_user").html()   ;
              window.location.href="/order/black_manco?username="+b;
        })


    })


  </script>
