

<div class="am-input-group am-input-group-lg">
  <span class="am-input-group-label">&nbsp;&nbsp;请选择落地配模式&nbsp;&nbsp;</span>
</div>

<div class="am-input-group am-input-group-lg">
  <label class="am-input-group-label" >
   <a href="/manco/local_express?supplier_id=98"> 本地</a>
  </label>
  <label class="am-input-group-label"  >
    <a href="/manco/express?supplier_id=98">同业供配</a>
  </label>

</div>