
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/1.0.0-beta1/css/amui.all.min.css"/>
  <style>

      .header h1 {
          font-size: 200%;
          color: #333;
          margin-top: 30px;
      }
      .header p {
          font-size: 14px;
      }
          .am-fl{
              margin-left: 30%;
              width: 30%;
          }
          .form_hide{
             display: none;
          }
          .form_show{
              display: block;
          }
      .am-form input[type="text"]{
          margin-bottom: 20px;
          width: 80%;
          margin-left: 45px;
          border: #15afef solid 1px;

      }
  </style>


<header id="am-topbar am-topbar-inverse">

  <div class="am-panel am-panel-primary">
    <div class="am-panel-hd">万家物流</div>

  </div>

</header>


<div class="am-g">
  <div class="col-lg-6 col-md-8 col-sm-centered">
       <!--<span>注意：查询完后可以根据查询结果下单哦～</span>-->

    <form method="post" id="form_first" class="am-form">
      <span class="am-badge am-badge-primary" >第1步:</span>

      <input type="text"  placeholder="始发地选择" name="departure" id="departure" value="">


      <input type="text" placeholder="终点站选择:" name="arrival" id="arrival" value="">


      <div class="am-cf">
        <input type="button" data-url="/manco/serach" name="" value="查 询" class="am-btn am-btn-primary am-btn-sm am-fl">

      </div>
    </form>

    <hr>

    <form  method="post" id="form_second" class="am-form form_hide">
      <span class="am-badge am-badge-primary" >第2步:</span>

      始发地：<input type="text" name="departure"id="departures" disabled value="">
      终点站：<input type="text" name="arrival" id="arrivals" disabled value="">
      单价：<input type="text" name="unit_price" id="unit_price" disabled value="">
      合计：<input type="text" name="total" id="total" disabled value="">
      <a class="am-btn am-btn-primary am-fl" href="#">
        <i class="am-icon-shopping-cart "></i>
        需要送货？
      </a>
    </form>

  </div>
</div>





<%= javascript_include_tag "jquery", "jquery_ujs" %>
 <script type="application/javascript">
     $(document).ready(function(){
     $(".am-fl").bind("click",function(){
    var departure=    $("#departure").val();
    var arrival=    $("#arrival").val();
         var url = $(this).data('url');
         $.ajax(url,{
             type: "post",
             data:{ departure:departure ,arrival:arrival},
             success:function(res){

             }
         })
     })
     })
 </script>