

<div class="head-info" >
<img src="/assets/manco/3.jpg" alt="..." class="am-img-circle">

</div>
    <form action="" method="post">
<div class="am-col col-lg-6">
  <div class="am-input-group">

    <input type="text" class="am-form-field" name="orderBarcode" placeholder="请输入快递单号" >
      <span class="am-input-group-btn">
        <input class="am-btn am-btn-primary" id="submit" type="submit" value="查询">
      </span>
  </div>
</div>
</div>
    </form>
       <br>
<br>

<%if @h_table%>
    <span>快递单号为：<%=@orderBarcode%> </span>
    <ul class="am-list">

      <%@h_table.each do |con| %>


                 <%if @count/13>0 %>

              <li><%=@title[@count%13]%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=con.content%>&nbsp;</li>
              <%if (@count+1)%13==0%>
                       <br>
                  <%end%>

              <%end%>

          <%@count=@count+1%>







<%end%>
    </ul>
<%end%>




<%= javascript_include_tag "jquery", "jquery_ujs" %>
<script>
  $(document).ready(function(){
      $("#submit").click(function(){




      })

  })


</script>