
  <style>
 img#logo{
  width: 25%;
          }
  </style>




  <div id="demo-view" data-backend-compiled="">
    <img src="/assets/manco/3.jpg" alt="万家">
    </div>


<div class="detail">
  <div class="am-g am-container">
  <hr data-am-widget="divider"  class="am-divider am-divider-default am-no-layout">
  <div class="col-lg-12">
 <p class="detail-p">
    上海万家物流有限公成立于2000年，由范立军先生投资创办，开办地址为：上海市闸北区延长中路795弄5号（原华生电器五厂内），成立之初条件非常艰苦，设施简陋、人员不整，网络不全，业务发展举步艰难。
  </p>

    <hr data-am-widget="divider" class="am-divider am-divider-default am-no-layout" >
    <div class="col-lg-12">

          <h3 class="detail-h3">
            <i class="am-icon-send-o am-icon-sm"></i>
            2000年9月18日
          </h3>

          <p class="detail-p">
            万家物流网络首条沪宁班车线车发车，遂定此日期为万家物流的成立日。</p>
      <img src="/assets/manco/2.jpg">
      </div>
    <hr data-am-widget="divider"  class="am-divider am-divider-default am-no-layout">

    <div class="col-lg-12">

        <h3 class="detail-h3">
          <i class="am-icon-send-o am-icon-sm"></i>
          2001年元月
        </h3>

        <p class="detail-p">
          上海万家物流有限公司与世界最大家居用品销售商宜家签定运输服务合同，为上海宜家商场提供市内及外省市送货服务，在此期间，万家物流加大对硬件的投入及网络建设的进度</p>
      <img src="/assets/manco/1.jpg">
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
<div class="col-lg-12">
        <h3 class="detail-h3">
          <i class="am-icon-send-o am-icon-sm"></i>
          2002年10月
        </h3>
        <p class="detail-p">
          上海万家物流有限公司搬迁至闵行区吴中路仓库，仓库面积扩展至3000平方米，操作场地及办公场所得到极大改善，公司规模也进一步得到扩展，万家物流 江、浙、沪网络初具规模。</p>
  <img src="/assets/manco/5.jpg">
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2005年7月
      </h3>
      <p class="detail-p">
        上海万家物流有限公司整个企业规范化操作步入了新的阶段，通过了ISO9000国际体系认证。
        <img src="/assets/manco/7.jpg">
      </p>    </div>

    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2005年10月
      </h3>
      <p class="detail-p">
        上海万家物流有限公司为纪念公司成立5周年，在常熟尚湖度假村举办了周年纪念及内部表彰大会，并首次引入了体验式培训的理念，举办了首个名为“齐心协力，共铸辉煌”的团队建设工作坊，并获得巨大成功！
        <img src="/assets/manco/9.jpg">
      </p>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2006年元月
      </h3>
      <p class="detail-p">
        上海万家物流有限公司搬迁至闵行区吴中路仓库，仓库面积扩展至3000平方米，操作场地及办公场所得到极大改善，公司规模也进一步得到扩展，万家物流 江、浙、沪网络初具规模。</p>
      <img src="/assets/manco/6.jpg">
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2007年元月
      </h3>
      <p class="detail-p">
        上海万家物流有限公司搬迁入刚刚竣工的北吴路物流基地内，隆重的乔迁仪式，以此为标志，万家物流进入一个崭新的发展阶段。
        2007年万家尖峰一队为寿县水灾捐款56000元；

        <img src="/assets/manco/10.jpg">
      </p>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2007年3月
      </h3>
      <p class="detail-p">万家物流网络在2007年度4月正式成立了“网络管理委员会”，在之后制定了“万家物流管理条例”（四十五条）规范了整个网络的操作，使之有章可循，有法可依，网络服务整体得到了明显的提升。
      </p>
      <img src="/assets/manco/11.jpg">
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2007年5月
      </h3>
      <p class="detail-p">
        万家物流与“北京中汉儒臣国际培训技术有限公司”合作，系统引入了企业教练技术的培训。全面对公司总部及网络内部的成员展开了全面培训，并在同年9月首批“万家尖峰学院一期”学员顺利毕业，成为了万家今后发展的中坚力量。
      </p>
      <img src="/assets/manco/12.jpg">
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2008年1月
      </h3>
      <p class="detail-p">
        公司从长远发展考虑，申请注册新商标：中文“万家物流”，英文“MANCO LOGISTICS”，企业标志：
       <img id="logo" src="/assets/manco/logo.jpg">

      </p>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2008年9月
      </h3>
      <p class="detail-p">
        万家物流尖峰学院第二期学员顺利毕业，标志万家物流企业内训机制已顺利延续运作，企业内训得以普及。并在当年尖峰二队亲赴汶川前线慰问并募捐款项及物资20万元；
      </p>
      <img src="/assets/manco/4.jpg">
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2009年5月
      </h3>
      <p class="detail-p">
        万家物流在南京、淮安投资设立直营大型分拨中心；2009年万家物流尖峰三队在淮安举办“苏北物流发展论坛”。并在当年被中国物流与采购联合会(China Federation of Logistics & Purchasing 简称CFLP)评为AAA级综合服务型物流企业（A级物流企业名单）；
        <img src="/assets/manco/13.jpg">
      </p>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2010年10月
      </h3>
      <p class="detail-p">
        万家物流尖峰四队上海金海岸大剧院举办“万家成立十周年”的纪念活动；
      </p>
    </div>

    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2011年9月
      </h3>
      <p class="detail-p">
        万家物流尖峰五队杭州举办主题：“物流论道”的物流论坛；
      </p>
    </div>

    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2012年8月
      </h3>
      <p class="detail-p">
        尖峰六队与央视物流频道合作共同举办“物流文化节”。并在当年获得“全国先进物流企业 ”；
      </p>
    </div>

    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2013年6月1日
      </h3>
      <p class="detail-p">
        由闵行北吴路搬迁至松江申立路295号，10000平米平台库，库高11米，26000平方米的仓库，自动喷淋消防设施，自备平台升降板，独门独院，100米宽场地，万家物流进入又一个崭新的发展阶段；      </p>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2013年9月
      </h3>
      <p class="detail-p">
        万家物流尖峰七队与狮子会合作去上海各敬老院看望资助孤寡老人，另捐助物资到四川穷困偏远地区。并在当年增评4 A物流企业；


      </p>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    <div class="col-lg-12">
      <h3 class="detail-h3">
        <i class="am-icon-send-o am-icon-sm"></i>
        2014年4月
      </h3>
      <p class="detail-p">

        获得上海市物流协会颁发的“诚信创建企业”
      </p>
    </div>




    </div>
  </div>
</div>




<script src="http://cdn.amazeui.org/zepto/1.1.4/zepto.min.js"></script>
<script src="http://cdn.amazeui.org/amazeui/1.0.0-beta1/js/amui.min.js"></script>
