   <style>

     .h3_p{
         margin: 0px;
     }
   </style>


<div class="detail">
  <div class="am-g am-container">

    <div class="col-lg-12">


      <div class="am-g">
        <div class="col-lg-3 col-md-6 col-sm-12 detail-mb">
          <hr data-am-widget="divider" style="" class="am-divider am-divider-primary am-no-layout">
          <h3 class="detail-h3">
            <i class="am-icon-mobile am-icon-sm"></i>
            <a name="info" style="font-size: 18px">公司简介</a>

          </h3>

          <p class="detail-p">
            上海万家物流有限公司成立于2000年，是一家从90年代初即入市运作的以上海为中心，立足长三角，面向全国的大型物流企业。
           <h3 class="h3_p"> 运输形式</h3>
          公路运输、铁路运输、水运及空运
          </p>
          <h3 class="h3_p">   物流服务-全方位、立体化、多渠道  </h3>
          仓储、装卸、搬运、包装、配送、流通加工、信息咨询以及物流解决方案      </p>
          <img src="/assets/manco/1.jpg">
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 detail-mb">
          <hr data-am-widget="divider" style="" class="am-divider am-divider-primary am-no-layout">
          <h3 class="detail-h3">
            <i class="am-icon-cogs am-icon-sm"></i>
             <a name="think">经营思想-为客户创造价值 </a>
          </h3>

          <p class="detail-p">
            万家物流(MANCO-logistics) 始终秉承"为客户创造价值"的主导经营思想，将先进的物流技术和科学的营运管理与客户的需求相融合，依靠 广泛强大的资源优势、资源整合能力和精益求精的科学管理，努力的降低物流成本提高经济效益，不断提升企业的经济价值和社会价值。
           </p>
          <img src="/assets/manco/5.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 detail-mb">
          <hr data-am-widget="divider" style="" class="am-divider am-divider-primary am-no-layout">
          <h3 class="detail-h3">
            <i class="am-icon-check-square-o am-icon-sm"></i>
         <a name="scope">经营范围</a>
          </h3>

          <p class="detail-p">
            　1.道路普通货运、道路货物专用运输；<br>
            　2.仓储、分拨、配送服务；<br>
            　3.国际国内快递服务； <br>
            　4.货物及技术进出口报关、报检服务；<br>
            　5.国内航空运输服务； <br>
            　6.国际航空运输服务。</p>
          <img src="/assets/manco/7.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 detail-mb">
          <hr data-am-widget="divider" style="" class="am-divider am-divider-primary am-no-layout">
          <h3 class="detail-h3">
            <i class="am-icon-send-o am-icon-sm"></i>
         <a name="services">提供的物流服务项目</a>
          </h3>

          <p class="detail-p">
            1.门对门的配送服务； <br>
            2.货物仓储分拨配送服务；<br>
            3.代收款服务； <br>
            4.签单返回服务；   <br>
            5.运费到付；          <br>
            6.货物保价；              <br>
            7.运输资源组织服务；           <br>
            8.物流体系及需求评估，物流方案设计。</p>
          <img src="/assets/manco/9.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
  <div>
    <p>谢谢观看！！</p>
                 </div>





<script src="http://cdn.amazeui.org/zepto/1.1.4/zepto.min.js"></script>
<script src="http://cdn.amazeui.org/amazeui/1.0.0-beta1/js/amui.min.js"></script>
