<section data-am-widget="sohucs" class="am-sohucs am-sohucs-default am-no-layout"
         data-am-sohucs-appid="cyr8nM16m" data-am-sohucs-conf="">
  <div id="SOHUCS" style="width: 100%;">
    <section class="reset-g section-title-wap section-title-b">
      <div class="title-comment-wap title-comment-b">
        <div class="comment-wrap-wap comment-wrap-b">
                    <span class="wrap-number-wap wrap-number-b">
                        <em id="cy-cmt-count" class="number-arrows-wap number-arrows-b">
                          0
                        </em>
                    </span>
          条评论
        </div>
      </div>
      <div class="title-user-wap title-user-b">
                <span id="cy-user-name" class="user-name-wap user-name-b">
                    登 录
                </span>
      </div>
    </section>
    <section id="cy-cbox-wrapper" class="reset-g section-cbox-wap section-cbox-b">
      <div class="cbox-post-wap cbox-post-b">
        <div class="post-area-wap post-area-b">
          <textarea name="cy-cbox" rows="3" class="area-text-wap area-text-b" placeholder="我来说两句...">
          </textarea>
          <input type="hidden" name="cyan-reply-id">
        </div>
        <div class="post-action-wap post-action-b">
          <div class="action-function-wap action-function-b">
            <ul class="function-list-wap function-list-b">
              <li class="list-face-wap list-face-b">
                <a class="face-mutual-wap face-mutual-b" href="javascript:void(0)">
                  <i class="mutual-pic-wap mutual-pic-b">
                  </i>
                </a>
              </li>
              <li class="list-upload-wap list-upload-b">
                <a class="upload-mutual-wap upload-mutual-b" href="#">
                  <i class="mutual-pic-wap mutual-pic-b">
                  </i>
                </a>
                <div class="upload-file-wap">
                  <input type="file" name="" class="file-wap" onsubmit="return false;" accept="image/jpeg, image/gif, image/bmp, image/jp2, image/x-ms-bmp, image/x-png">
                </div>
                <input name="cy-img-url" type="hidden">
              </li>
              <li class="list-upload-img-wap list-upload-img-b list-uploading-wap" style="display:none">
                <div class="uploading-wrap-wap">
                                    <span class="wrap-icon-wap wrap-icon-b">
                                    </span>
                </div>
                <div class="uploaddel-wrap-wap">
                                    <span class="wrap-img-wap wrap-img-b">
                                        <img alt="">
                                    </span>
                                    <span class="wrap-close-wap">
                                    </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="action-issue-wap action-issue-b">
            <div class="issue-site-wap issue-site-b issue-site-e">
            </div>
            <div class="issue-btn-wap issue-btn-b">
              <a class="btn-mutual-wap btn-mutual-b" href="javascript:void(0)">
                <button type="button" class="mutual-btn-wap mutual-btn-b">
                </button>
              </a>
            </div>
          </div>
          <div class="face-box-wap" style="display:none">
            <div class="box-cont-wap">
              <div class="cont-roll-wap">
                <ul class="cont-list-wap">
                  <li code="/奋斗">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face01.png">
                  </li>
                  <li code="/鼓掌">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face02.png">
                  </li>
                  <li code="/发怒">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face03.png">
                  </li>
                  <li code="/色">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face04.png">
                  </li>
                  <li code="/给力">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face05.png">
                  </li>
                  <li code="/憨笑">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face06.png">
                  </li>
                  <li code="/大哭">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face13.png">
                  </li>
                  <li code="/疑问">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face14.png">
                  </li>
                  <li code="/鄙视">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face15.png">
                  </li>
                  <li code="/钱">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face16.png">
                  </li>
                  <li code="/闭嘴">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face17.png">
                  </li>
                  <li code="/可怜">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face18.png">
                  </li>
                  <li code="/可爱">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face07.png">
                  </li>
                  <li code="/抓狂">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face08.png">
                  </li>
                  <li code="/流汗">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face09.png">
                  </li>
                  <li code="/强">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face10.png">
                  </li>
                  <li code="/弱">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face11.png">
                  </li>
                  <li code="/玫瑰">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face12.png">
                  </li>
                  <li code="/惊讶">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face19.png">
                  </li>
                  <li code="/浮云">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face20.png">
                  </li>
                  <li code="/打酱油">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face21.png">
                  </li>
                  <li code="/握手">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face22.png">
                  </li>
                  <li code="/拳头">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face23.png">
                  </li>
                  <li code="/酒">
                    <img src="http://changyan.itc.cn/upload/mobile/wap-imgs/face/face24.png">
                  </li>
                </ul>
              </div>
              <div class="cont-page-wap">
                                <span class="page-now-wap">
                                </span>
                                <span>
                                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="cy-comment-list-wrapper" class="reset-g section-list-wap">
      <section id="cy-hots-list-wrapper" class="list-kinds-wap list-hot-wap">
      </section>
      <section id="cy-latest-list-wrapper" class="list-kinds-wap list-hot-wap">
      </section>
    </section>
  </div>
</section>
<script>
    (function(){
        var appid = 'cyrlDmkiB',
                conf = 'prod_0752f6454e4f942fbf7662c61dd5e455';
        var doc = document,
                s = doc.createElement('script'),
                h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
        s.type = 'text/javascript';
        s.charset = 'utf-8';
        s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
        h.insertBefore(s,h.firstChild);
        window.SCS_NO_IFRAME = true;
    })()


</script>

