<h2 class="red">密码已经修改成功!请您重新登陆！！</h2>
<div class="signup-panel">

  <%=form_for :session,:url=>"/login",:class=>"form login_form" , :remote=>true do |f|%>


      <%=hidden_field_tag :return_url,"/"%>
      <div id="login_msg"></div>



      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse prefix-radius">
            <div class="small-3 columns">
              <span class="prefix"> <i class=" fi-torso"></i></span>
            </div>
            <div class="small-9 columns">
              <%=f.text_field :username,:placeholder=>"用户名"%>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="large-12 columns">
          <div class="row collapse prefix-radius">
            <div class="small-3 columns" style="text-align:center">
              <span class="prefix">  <i class=" fi-lock"></i> </span>
            </div>
            <div class="small-9 columns">
              <%=f.password_field :password, :placeholder=>"密码"%>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <input class="button alert btn_login" name="commit" style="width:100%" type="submit" value="登 录">
          </div>
        </div>
        <div class="row"  style="display:none">
          <div class="small-12 columns">
            <ul class="sns_login" style="display:none">
              <span> 或第三方登录:</span>
              <li>
                <a class="tsina" href="/auth/weibo" target="_top">新浪微博</a>
              </li>
              <li>
                <a class="douban" href="/auth/douban" target="_top">豆瓣</a>
              </li>
            </ul>
          </div>
        </div>




        <div class="row collapse prefix-radius">
          <div class="small-12 columns">
            <input type="checkbox" style="float:left" checked="checked" id="autologin" name="remember_me" value="1">
            <span id="remember_me" style="line-height: 3" for="autologin"> 记住登录</span>
          </div>
         </div>


  <%end%>


  </div>
</div>

