    <ul class="breadcrumbs">
      <li><a href="/distributions">首页</a></li>
      <li class="unavailable"><a href="#">采购管理</a></li>
      <li class="current"><a href="#">订单管理</a></li>
    </ul>

    <div class="row collapse secondary-tabs">
      <div class="small-12 columns">
        <ul class="tabs" data-tab>
          <li class="tab-title active"><a href="#panel-1"><i class="fi-clipboard-notes"></i>未签收</a></li>
          <li class="tab-title"><a href="#panel-2"><i class="fi-checkbox"></i>已签收</a></li>
          <li class="tab-title"><a href="#panel-3"><i class="fi-yen"></i>未付款</a></li>
          <li class="tab-title"><a href="#panel-4"><i class="fi-record"></i>已付款</a></li>
        </ul>
        <div class="tabs-content">
          <div class="content active" id="panel-1">
            <div class="row show-for-medium-up">
              <div class="columns medium-4">品名</div>
              <div class="columns medium-2">单价</div>
              <div class="columns medium-2">数量</div>
              <div class="columns medium-2">订货时间</div>
              <div class="columns medium-2">签收</div>
            </div>
            <div class="row">
              <div class="columns medium-4 small-12">牛肉牛肉牛肉牛肉牛肉</div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">单价：</div>
                  <div class="columns small-8 medium-12">17.90/kg</div>
                </div>
              </div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">数量：</div>
                  <div class="columns small-8 medium-12">
                    23.0kg
                  </div>
                </div>  
              </div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">订货时间：</div>
                  <div class="columns small-8 medium-12">
                    2015/05/07
                  </div>
                </div>  
              </div>
              <div class="columns medium-2 small-12">
                <a href="#" class="button radius success tiny">签收</a>
              </div>
            </div>  
          </div>
          <div class="content" id="panel-2">
            <div class="row show-for-medium-up">
              <div class="columns medium-4">品名</div>
              <div class="columns medium-2">单价</div>
              <div class="columns medium-2">数量</div>
              <div class="columns medium-2">订货时间</div>
              <div class="columns medium-2">收货时间</div>
            </div>
            <div class="row">
              <div class="columns medium-4 small-12">牛肉牛肉牛肉牛肉牛肉</div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">单价：</div>
                  <div class="columns small-8 medium-12">17.90/kg</div>
                </div>
              </div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">数量：</div>
                  <div class="columns small-8 medium-12">
                    23.0kg
                  </div>
                </div>  
              </div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">订货时间：</div>
                  <div class="columns small-8 medium-12">
                    2015/05/07
                  </div>
                </div>  
              </div>
              <div class="columns medium-2 small-12">
                 <div class="columns show-for-small-only small-4">收货时间：</div>
                  <div class="columns small-8 medium-12">
                    2015/05/07
                  </div>
              </div>
            </div>  
          </div>
          <div class="content" id="panel-3">
            <div class="row show-for-medium-up">
              <div class="columns medium-4">品名</div>
              <div class="columns medium-2">单价</div>
              <div class="columns medium-2">数量</div>
              <div class="columns medium-2">总价</div>
              <div class="columns medium-2">收货时间</div>
            </div>
            <div class="row">
              <div class="columns medium-4 small-12">牛肉牛肉牛肉牛肉牛肉</div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">单价：</div>
                  <div class="columns small-8 medium-12">17.90/kg</div>
                </div>
              </div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">数量：</div>
                  <div class="columns small-8 medium-12">
                    23.0kg
                  </div>
                </div>  
              </div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">总价：</div>
                  <div class="columns small-8 medium-12">
                    3434343.00
                  </div>
                </div>  
              </div>
              <div class="columns medium-2 small-12">
                 <div class="columns show-for-small-only small-4">收货时间：</div>
                  <div class="columns small-8 medium-12">
                    2015/05/07
                  </div>
              </div>
            </div> 
          </div>
          <div class="content" id="panel-4">
            <div class="row show-for-medium-up">
              <div class="columns medium-4">品名</div>
              <div class="columns medium-2">单价</div>
              <div class="columns medium-2">数量</div>
              <div class="columns medium-2">总价</div>
              <div class="columns medium-2">付款时间</div>
            </div>
            <div class="row">
              <div class="columns medium-4 small-12">牛肉牛肉牛肉牛肉牛肉</div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">单价：</div>
                  <div class="columns small-8 medium-12">17.90/kg</div>
                </div>
              </div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">数量：</div>
                  <div class="columns small-8 medium-12">
                    23.0kg
                  </div>
                </div>  
              </div>
              <div class="columns medium-2 small-12">
                <div class="row">
                  <div class="columns show-for-small-only small-4">总价：</div>
                  <div class="columns small-8 medium-12">
                    90900.00
                  </div>
                </div>  
              </div>
              <div class="columns medium-2 small-12">
                 <div class="columns show-for-small-only small-4">付款时间：</div>
                  <div class="columns small-8 medium-12">
                    2015/05/07
                  </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>