
     <ul class="breadcrumbs">
      <li><a href="index.html">首页</a></li>
      <li class="unavailable"><a href="#">采购管理</a></li>
      <li><a href="cart.html">购物车</a></li>
      <li class="current"><a href="#">生成订单</a></li>
    </ul>


<form class="custom">
 <div class="row">
      <div class="large-12 columns">
         <h4>收货地址</h4>
        <select name="sortOptions">
          <option value="sortby">上海长宁区长宁路1355号3-22室,电话:021-5273 9999,联系人：王晓</option>
          <option value="sortby">上海长宁区长宁路1355号3-22室,电话:021-5273 9999,联系人：王晓</option>
          <option value="sortby">上海长宁区长宁路1355号3-22室,电话:021-5273 9999,联系人：王晓</option>
        </select>
      </div>
    </div>

  <section class="search">
  <div class="row">
    <div class="small-12 columns small-centered">
      <h4>收货时间</h4>
        <div class="row">
          <div class="small-6 columns">
            <label>
              日期:
            </label>
            <script language="javascript" type="text/javascript" src="My97DatePicker/WdatePicker.js"></script>
            <input class="Wdate" name="date" type="text"  onClick="WdatePicker()" readonly="readonly">
          </div>
          <div class="small-6 columns">
            <label>
             时间:
              </label>
              <select>
                <option value="mile"> 12:00-13:00</option>
              </select>
          </div>
        </div>
    </div>
  </div>
</section>
  <div class="row" style="display:none">
      <div class="large-4 large-centered columns">
        <div class="calendar">
          <div class="month">
            <a href="#" class="back"></a>
            <a href="#" class="next"></a>
            <h5>September</h5>
            <p>2014</p>
          </div>
          <ul class="weekdays">
            <li><span href="#">Sun</span></li>
            <li><span href="#">Mon</span></li>
            <li><span href="#">Tue</span></li>
            <li><span href="#">Wed</span></li>
            <li><span href="#">Thu</span></li>
            <li><span href="#">Fri</span></li>
            <li><span href="#">Sat</span></li>
          </ul>
          <ul>  
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li><a href="#">13</a></li>
            <li><a href="#">14</a></li>
            <li><a href="#">15</a></li>
            <li><a href="#">16</a></li>
            <li><a href="#">17</a></li>
            <li><a href="#">18</a></li>
            <li><a href="#" class="active">19</a></li>
            <li><a href="#">20</a></li>
            <li><a href="#">21</a></li>
            <li><a href="#">22</a></li>
            <li><a href="#">23</a></li>
            <li><a href="#">24</a></li>
            <li><a href="#">25</a></li>
            <li><a href="#">26</a></li>
            <li><a href="#">27</a></li>
            <li><a href="#">28</a></li>
            <li><a href="#">29</a></li>
            <li><a href="#">30</a></li>
          </ul>
        </div>  
      </div>
  </div>

  <h4>货品清单</h4>
<div class="panel">
   <div class="row">
    <div class="columns medium-1 small-4">
      <a href="product.html"><img src="images/vegetable500x500.jpg"></a>
    </div>
    <div class="columns medium-10 small-8">
      <div class="row">
        <div class="columns medium-12">牛肉牛肉牛肉牛肉牛肉</div>
        <div class="columns medium-4 price">￥17.90/kg</div>
        <div class="columns medium-4">X&nbsp;20</div>
        <div class="columns medium-4 price">￥230.00</div>        
      </div>
    </div>
  </div>
  <hr> 
  <div class="row">
    <div class="columns medium-1 small-4">
      <a href="product.html"><img src="images/vegetable500x500.jpg"></a>
    </div>
    <div class="columns medium-10 small-8">
      <div class="row">
        <div class="columns medium-12">牛肉牛肉牛肉牛肉牛肉</div>
        <div class="columns medium-4 price">￥17.90/kg</div>
        <div class="columns medium-4">X&nbsp;20</div>
        <div class="columns medium-4 price">￥230.00</div>        
      </div>
    </div>
  </div>
  <hr> 
   <div class="row">     
    <div class="columns medium-9 small-4 text-right">
        总计：
    </div>
    <div class="columns medium-3 small-8 price text-left">
        ￥8999.00
    </div>
</div>
</div>
 <div class="row">
    <div class="columns small-12 text-center">
         <a href="/distributions/orderproducts" class="button radius success">提交订单</a>
    </div>
  </div>
</form>