<div class="modal hide " role="dialog" id="map">
  <div class="modal-header clearfix">
    <%=link_to "&times".html_safe,"#",:class=>"close", :data=>{:dismiss=>"modal"}%>
  </div>
  <div class="modal-body">
    <div class="locate_container">
      <div class="locate" id="locate"></div>
    </div>
  </div>
</div>
