<div id="header">
  <div class="container">
    <div id="imodec_logo">
      <a href="http://www.trade-v.com"><img alt="贸威" src="/assets/store/logo_big.png"></a>
    </div>
    <div id="imodec_slogan">
      <img alt="跨境贸威，一键直达" src="/assets/store/slogan.png">
    </div>
  </div>
</div>