<div id="header">
  <div class="container">
    <div id="imodec_logo">
      <a href="http://www.i-modec.com"><img alt="摩登客" src="/assets/store/logo_big.png"></a>
    </div>
    <div id="imodec_slogan">
      <img alt="摩登生活，个性衣橱" src="/assets/store/slogan.png">
    </div>
  </div>
</div>