<div><table class="am-table">
  <tbody>
  <tr>
    <td width="450">
      <span><strong>卓展集团总部联系方式</strong><br>电话：400-880-5648 <br>传真：021-3127 5656<br>地址：上海市嘉定区横仓公路2465号</span></td>
    <td width="325">&nbsp;</td></tr>
  <tr>
    <td colspan="2">
      <p><strong><font size="3">国内销售热线</font></strong></p><br></td></tr>
  <tr>
    <td>
      <p><strong>物流设备事业部</strong><br>电话：021-5915&nbsp;4909&nbsp;<br>传真：021-5915&nbsp;9419</p><br></td>
    <td>
      <p><strong>高空作业平台事业部</strong><br>电话：021-5990&nbsp;2787<br>传真：021-5915&nbsp;9419</p><br></td></tr>
  <tr>
    <td>
      <p><strong>专用车事业部</strong><br>电话：021-5990&nbsp;3226<br>传真：021-5915&nbsp;9419</p><br></td>
    <td>
      <p><strong>工业品事业部</strong><br>电话：021-5990&nbsp;2191<br>传真：021-5915&nbsp;9419</p><br></td></tr>
  <tr>
    <td>
      <p><strong>动力单元事业部</strong><br>电话：021-5990&nbsp;2180<br>传真：021-5990&nbsp;3622</p><br></td>
    <td>
      <p><strong>汇卓传动事业部</strong><br>电话：021-5990&nbsp;2180<br>传真：021-5990&nbsp;3622</p><br></td></tr>
  <tr>
    <td>
      <p><strong>国际服务热线</strong><br>Tel：021-5990&nbsp;3385<br>Fax：021-5915&nbsp;9419</p><br></td>
    <td>&nbsp;</td></tr>
  <tr>
    <td colspan="2">
      <p><strong><font size="3">卓展集团分公司</font></strong></p><br></td></tr>
  <tr>
    <td>
      <p><strong>上海分公司</strong><br>电话：021-5915&nbsp;4909<br>传真：021-5915&nbsp;9419</p><br></td>
    <td>
      <p><strong>广州分公司</strong><br>电话：020-8218&nbsp;0578<br>传真：020-3201&nbsp;2975</p><br></td></tr>
  <tr>
    <td>
      <p><strong>南宁分公司</strong><br>电话：0771-538 5648<br>传真：0771-538 5649</p><br></td>
    <td>
      <p><strong>柳州分公司</strong><br>电话：0772-323 2133<br>传真：0772-322 5049</p><br></td></tr>
  <tr>
    <td height="59">
      <p><strong>苏州分公司</strong><br>电话：0512-6838&nbsp;5079<br>传真：0512-6838&nbsp;5179</p><br></td>
    <td>
      <p><strong>中山分公司</strong><br>电话：0760-8851&nbsp;5810<br>传真：0760-8851&nbsp;5811</p><br></td></tr>
  <tr>
    <td>
      <p><strong>惠州分公司</strong><br>电话：0752-531 1538<br>传真：0752-531 1532</p><br></td>
    <td>
      <p><strong>沈阳分公司</strong><br>电话：024-8540 2908<br>传真：024-8540 2938</p><br></td></tr>
  <tr>
    <td colspan="2"><iframe  marginwidth="0" marginheight="0" src="http://www.cheuksgroup.com/map/shmap.html" frameborder="no" width="100%" scrolling="no" height="552" allowtransparency=""></iframe></td></tr></tbody></table></div>