@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input,span{margin:0;padding:0;}
body{font-size:12px;font-family: "Microsoft Yahei","微软雅黑";}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;border:none; background:none;}
textarea{resize:none;}
a{text-decoration:none;display:block;}

/*放大镜*/
#preview{

    position:relative;

}
.fdj-wrap{

    /*background:#abcdef;*/
    margin:10px auto 0 auto;
}

#img-medium{

    border:1px solid #8f8f8f;
}

.fdj-wrap .img-small{
    width:100%;
    height:58px;
    margin-top:5px;
    /*overflow:hidden;*/
    padding:0 21px;
    /*background:red;*/
    position:relative;
}
/*小图导航*/
.fdj-wrap .img-small .img-list-items{
    width:100%;
    height:58px;
    position:absolute;
    left:21px;
    top:0;
    overflow:hidden;
}
.fdj-wrap .img-small .left,.fdj-wrap .img-small .right{
    height:54px;
    width:17px;
    border:1px solid #8f8f8f;
    text-align:center;
    color:#abcdef;
    line-height:54px;
    position:absolute;
    top:0;
}
.left{
    left:0;
}
.right{
    right:0;
}
.fdj-wrap .img-small .img-list-items ul{
    /*width:1000px;*/
    /*height:58px;*/
    position:absolute;
    top:0;
    left:0;
}
.fdj-wrap .img-small .img-list-items ul li{
    float:left;
    text-align:center;
    width:62px;
    vertical-align:center;
    /*height:58px;*/
}
.fdj-wrap .img-small .img-list-items ul li img{
    border:1px solid #8f8f8f;
    width:54px;
    height:54px;
    cursor:pointer;
}
/*.fdj-wrap .img-small .img-list-items ul li img:hover{
    border:2px solid #e4393c;
    width:52px;
    height:52px;
}*/
/*大图*/
#img-big{
    display:none;
    width:400px;
  height: 100%;
    position:absolute;
    top:-10px;
    left:366px;
    border:1px solid #8f8f8f;
    z-index: 1000;
    overflow:hidden;
}
#img-big img{
    
    position:absolute;
    top:0;
    left:0;
}
/*遮罩层*/
#mark{
    width:175px;
    height:175px;
    opacity:0.5;
    filter: alpha(opacity=50);
    background: #d2c9c9;
    cursor:move;
    position:absolute;
    display:none;
}