<div id="brands" class=" common clearfix">
	<div class="title">
		<a href="" class="more">
			<img src="/assets/home/more.jpg" />
		</a>
		<a href="#">
			<img src="/assets/home/brands.jpg" />
		</a>

	</div>

	<div class="left">
		<a href="">
			<img src="http://test2.TRADE-V.com/public/images/welcome/images/HOME_brand_left.jpg" />
		</a>
	</div>

	<div class="right">
		<ul>
			<li>
				<a href="" class="brand-pic">
					<img src="http://test2.TRADE-V.com/public/images/welcome/images/HOME_brand_oska.jpg">
				</a>
				<div class="brand-info">
					<div class="brand-name">
						<a href="">OSKA</a>
					</div>
					<div>
						非凡的独创性，卓越的品质，环保有机面料，是OSKA独一无二的标志。自在优雅是OSKA的代名词，OSKA的灵感
					</div>
				</div>
			</li>

			<li style="margin-left:15px;">
				<a href="" class="brand-pic">
					<img src="http://test2.TRADE-V.com/public/images/welcome/images/HOME_brand_oska.jpg">
				</a>
				<div class="brand-info">
					<div class="brand-name">
						<a href="">OSKA</a>
					</div>
					<div>
						非凡的独创性，卓越的品质，环保有机面料，是OSKA独一无二的标志。自在优雅是OSKA的代名词，OSKA的灵感
					</div>
				</div>
			</li>

			<li>
				<a href="" class="brand-pic">
					<img src="http://test2.TRADE-V.com/public/images/welcome/images/HOME_brand_oska.jpg">
				</a>
				<div class="brand-info">
					<div class="brand-name">
						<a href="">OSKA</a>
					</div>
					<div>
						非凡的独创性，卓越的品质，环保有机面料，是OSKA独一无二的标志。自在优雅是OSKA的代名词，OSKA的灵感
					</div>
				</div>
			</li>

			<li style="margin-left:15px;">
				<a href="" class="brand-pic">
					<img src="http://test2.TRADE-V.com/public/images/welcome/images/HOME_brand_oska.jpg">
				</a>
				<div class="brand-info">
					<div class="brand-name">
						<a href="">OSKA</a>
					</div>
					<div>
						非凡的独创性，卓越的品质，环保有机面料，是OSKA独一无二的标志。自在优雅是OSKA的代名词，OSKA的灵感
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>