<div id="events" class=" common clearfix">
	<div class="title">
		<a href="" class="more">
			<img src="/assets/home/more.jpg" />
		</a>
		<a href="#">
			<img src="/assets/home/events.jpg" />
		</a>
	</div>
	<div class="event">
		<a href="">
			<img src="http://test2.TRADE-V.com/public/images/welcome/images/HOME_events_pic.jpg">
		</a>
	</div>
	<div class="news">
		<ul>
			<li>
				<a href="#"> 
					TRADE-V.com 贸威携手上海时装周走秀款预售走秀款
				</a>
				<span class="date">04.06</span>
			</li>
			<li>
				<a href="#"> 
					TRADE-V.com 贸威携手上海时装周走秀款预售走秀款
				</a>
				<span class="date">04.06</span>
			</li>
			<li>
				<a href="#"> 
					TRADE-V.com 贸威携手上海时装周走秀款预售走秀款
				</a>
				<span class="date">04.06</span>
			</li>
			<li>
				<a href="#"> 
					TRADE-V.com 贸威携手上海时装周走秀款预售走秀款
				</a>
				<span class="date">04.06</span>
			</li>
			<li>
				<a href="#"> 
					TRADE-V.com 贸威携手上海时装周走秀款预售走秀款
				</a>
				<span class="date">04.06</span>
			</li>
			<li>
				<a href="#"> 
					TRADE-V.com 贸威携手上海时装周走秀款预售走秀款
				</a>
				<span class="date">04.06</span>
			</li>
			<li>
				<a href="#"> 
					TRADE-V.com 贸威携手上海时装周走秀款预售走秀款
				</a>
				<span class="date">04.06</span>
			</li>
		</ul>
	</div>
</div>