<div class="common clearfix" id="new_hots">
	<div class="title">
		 <a href="http://www.TRADE-V.com/brands/?token=A130419002" target="_blank"> 
		 	<img src="/assets/home/hot_banner.png"> 
		 </a>
	</div>

	<div class="col">
		<a href="#">
			<img src="/2.jpg">
			<span class="caption">
				<span class="caption-inner">
					<span class="brand">Jade en plus加是</span>
					<span class="name">性感夏日套装</span>
					<br>
					<span class="view">点击查看>></span>
				</span>
			</span>
		</a>
		<a href="#">
			<img src="/1.jpg">
			<span class="caption">
				<span class="caption-inner">
					<span class="brand">Jade en plus加是</span>
					<span class="name">性感夏日套装</span>
					<br>
					<span class="view">点击查看>></span>
				</span>
			</span>
		</a>
	</div>

	<div class="col col2">
		<a href="#">
			<img src="/1.jpg">
			<span class="caption">
				<span class="caption-inner">
					<span class="brand">Jade en plus加是</span>
					<span class="name">性感夏日套装</span>
					<br>
					<span class="view">点击查看>></span>
				</span>
			</span>
		</a>
		<a href="#">
			<img src="/1.jpg">
			<span class="caption">
				<span class="caption-inner">
					<span class="brand">Jade en plus加是</span>
					<span class="name">性感夏日套装</span>
					<br>
					<span class="view">点击查看>></span>
				</span>
			</span>
		</a>
		<a href="#">
			<img src="/1.jpg">
			<span class="caption">
				<span class="caption-inner">
					<span class="brand">Jade en plus加是</span>
					<span class="name">性感夏日套装</span>
					<br>
					<span class="view">点击查看>></span>
				</span>
			</span>
		</a>
	</div>

	<div class="col col3">
		<a href="#">
			<img src="/1.jpg">
			<span class="caption">
				<span class="caption-inner">
					<span class="brand">Jade en plus加是</span>
					<span class="name">性感夏日套装</span>
					<br>
					<span class="view">点击查看>></span>
				</span>
			</span>
		</a>
		<a href="#">
			<img src="/2.jpg">
			<span class="caption">
				<span class="caption-inner">
					<span class="brand">Jade en plus加是</span>
					<span class="name">性感夏日套装</span>
					<br>
					<span class="view">点击查看>></span>
				</span>
			</span>
		</a>
	</div>

</div>