<div id="trend" class="common clearfix">
	<div class="title">
		<a href="" class="more">
			<img src="/assets/home/more.jpg" />
		</a>
		<a href="#">
			<img src="/assets/home/trend.jpg" />
		</a>
	</div>
	<div class="left">
		<div class="trend-item clearfix">
			<a href="" class="trend-pic">
				<img src="http://test2.TRADE-V.com/public/images/welcome/images/HOME_trend_pic1.jpg" />
			</a>
			<div class="trend-mid"></div>
			<div class="trend-desc">
				<div class="trend-title"><a href="">感动融入针织之中</a></div>
				<div>贸威独家专访 Shokay创意总监 Keena Fletcher贸威独家专访 Shokay创意总监 Keena Fletcher贸威独家专访 Shokay</div>
			</div>
		</div>
		
		<div class="line"></div>

		<div class="trend-item clearfix">
			
			
			<div class="trend-desc">
				<div class="trend-title"><a href="">感动融入针织之中</a></div>
				<div>贸威独家专访 Shokay创意总监 Keena Fletcher贸威独家专访 Shokay创意总监 Keena Fletcher贸威独家专访 Shokay</div>
			</div>
			<div class="trend-mid"></div>
			<a href="" class="trend-pic">
				<img src="http://test2.TRADE-V.com/public/images/welcome/images/HOME_trend_pic1.jpg" />
			</a>
		</div>
		
		<div class="line"></div>
		
		<div class="trend-item clearfix">
			<a href="" class="trend-pic">
				<img src="http://test2.TRADE-V.com/public/images/welcome/images/HOME_trend_pic1.jpg" />
			</a>
			<div class="trend-mid"></div>
			<div class="trend-desc">
				<div class="trend-title"><a href="">感动融入针织之中</a></div>
				<div>贸威独家专访 Shokay创意总监 Keena Fletcher贸威独家专访 Shokay创意总监 Keena Fletcher贸威独家专访 Shokay</div>
			</div>
		</div>
		
		<div class="line"></div>
		
		<div class="trend-item clearfix">
			
			
			<div class="trend-desc">
				<div class="trend-title"><a href="">感动融入针织之中</a></div>
				<div>贸威独家专访 Shokay创意总监 Keena Fletcher贸威独家专访 Shokay创意总监 Keena Fletcher贸威独家专访 Shokay</div>
			</div>
			<div class="trend-mid"></div>
			<a href="" class="trend-pic">
				<img src="http://test2.TRADE-V.com/public/images/welcome/images/HOME_trend_pic1.jpg" />
			</a>
		</div>
	</div>
	<div class="right">
		<a href="" class="big-cover">
			<img src="http://test2.TRADE-V.com/public/images/welcome/images/HOME_trend_right.jpg" />
		</a>
	</div>
</div>