<div class="header">
  <div class="header_cat">
    <a class="header_cat_href" href="/mobile/cats/">
      
    </a>
  </div>
</div>
<div class="home_tab">
  <div class="home_tab_wrap">
    <span class="home_tab_inner">
    <a class="on">
      首发
    </a>
    <a>
      品牌
    </a>
    <a>
      特惠
    </a>
    <a>
      微店
    </a>
  </ul>
  </span>
</div>
<div>
  <img src="/assets/mobile/jd/wx_001.png" width="640px" height="267px">
</div>
<div class="sec_tab">
  <a class="sec_tab_wrap cur">
    <span>
      全部
    </span>
  </a>
  <a class="sec_tab_wrap">
    <span>
      德国香肠
    </span>
  </a>
  <a class="sec_tab_wrap">
    <span>
      食油饮料
    </span>
  </a>
  <a class="sec_tab_wrap">
    <span>
      鲜花礼品
    </span>
  </a>
</div>
<div class="sec_tab_list">
  <ul>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <img class="photo" src="/assets/mobile/jd/wx_home_1.png">
      </div>
      <div class="info">
          <div class="name">                                         
            生鲜水果馆                                    
          </div>                                     
          <div class="desc">                                         
            微信独享！超级划算！超性价比！                                     
          </div>                                     
          <div class="price">
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <img class="photo" src="/assets/mobile/jd/wx_home_2.png">
      </div>
      <div class="info_yellow">
          <div class="name">                                         
            进口食品馆                                   
          </div>                                     
          <div class="desc">                                         
            微信独享！超多品类！超性价比！                                     
          </div>                                     
          <div class="price">
                                                
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <img class="photo" src="/assets/mobile/jd/wx_home_3.png">
      </div>
      <div class="info_blue">
          <div class="name">                                         
            酒类茶叶馆                                   
          </div>                                     
          <div class="desc">                                         
            贸威独享！超高品质！                                     
          </div>                                     
          <div class="price">
                                                 
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <img class="photo" src="/assets/mobile/jd/wx_home_4.png">
      </div>
      <div class="info_red">
          <div class="name">                                         
            婴童天地馆                                   
          </div>                                     
          <div class="desc">                                         
            欧洲品质！世界分享！                                     
          </div>                                     
          <div class="price">
                                                 
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
  </ul>
</div>