<div class="header">
  <div class="header_cat">
    <a class="header_cat_href" href="">
      
    </a>
  </div>
</div>
<div class="home_tab">
  <div class="home_tab_wrap">
    <span class="home_tab_inner">
    <a class="on">
      首发
    </a>
    <a>
      品牌
    </a>
    <a>
      特价
    </a>
    <a>
      店铺
    </a>
  </ul>
  </span>
</div>
<div>
  <img src="/assets/mobile/jd/wx_001.jpg" width="640px" height="267px">
</div>
<div class="sec_tab">
  <a class="sec_tab_wrap cur">
    <span>
      全部
    </span>
  </a>
  <a class="sec_tab_wrap">
    <span>
      手机数码
    </span>
  </a>
  <a class="sec_tab_wrap">
    <span>
      家用电器
    </span>
  </a>
  <a class="sec_tab_wrap">
    <span>
      时尚百货
    </span>
  </a>
</div>
<div class="sec_tab_list">
  <ul>
    <li>
      <div class="sign">
         4月15日抢购                             
      </div>
      <div class="img">
        <img class="photo" src="http://wq.360buyimg.com/img/20150409/wx_600-250-5.jpg">
      </div>
      <div class="info">
          <div class="name">                                         
            乐檬 K3/K3 Note                                     
          </div>                                     
          <div class="desc">                                         
            4月15日 9：30 微信独享！潮机跑分王！超性价比！                                     
          </div>                                     
          <div class="price">
            ￥899                                     
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月15日抢购                             
      </div>
      <div class="img">
        <img class="photo" src="http://wq.360buyimg.com/img/20150409/wx_600-250-5.jpg">
      </div>
      <div class="info">
          <div class="name">                                         
            乐檬 K3/K3 Note                                     
          </div>                                     
          <div class="desc">                                         
            4月15日 9：30 微信独享！潮机跑分王！超性价比！                                     
          </div>                                     
          <div class="price">
            ￥899                                     
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月15日抢购                             
      </div>
      <div class="img">
        <img class="photo" src="http://wq.360buyimg.com/img/20150409/wx_600-250-5.jpg">
      </div>
      <div class="info">
          <div class="name">                                         
            乐檬 K3/K3 Note                                     
          </div>                                     
          <div class="desc">                                         
            4月15日 9：30 微信独享！潮机跑分王！超性价比！                                     
          </div>                                     
          <div class="price">
            ￥899                                     
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
  </ul>
</div>