<div class="header">
  <div class="header_cat">
    <a class="header_cat_href" href="/mobile/cats/">
      
    </a>
  </div>
</div>
<div class="home_tab">
  <div class="home_tab_wrap">
    <span class="home_tab_inner">
    <a class="on">
      首发
    </a>
    <a>
      团购
    </a>
    <a>
      特惠
    </a>
    <a href="">
      微店
    </a>
  </ul>
  </span>
</div>
<div>
  <img src="/assets/mobile/jd/wx_001.png" width="640px" height="267px">
</div>
<div class="sec_tab">
  <a class="sec_tab_wrap cur all">
    <span>
      全部
    </span>
  </a>
  <a class="sec_tab_wrap germany">
    <span>
      德国香肠
    </span>
  </a>
  <a class="sec_tab_wrap drink">
    <span>
      食油饮料
    </span>
  </a>
  <a class="sec_tab_wrap flower">
    <span>
      鲜花礼品
    </span>
  </a>
</div>
<div class="sec_tab_list all">
  <ul>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/galleries/130">
          <img class="photo" src="/assets/mobile/jd/wx_home_1.png">
        </a>
      </div>
      <div class="info">
          <div class="name">                                         
            生鲜水果馆                                    
          </div>                                     
          <div class="desc">                                         
            微信独享！超级划算！超性价比！                                     
          </div>                                     
          <div class="price">
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/galleries/129">
          <img class="photo" src="/assets/mobile/jd/wx_home_2.png">
        </a>
      </div>
      <div class="info_yellow">
          <div class="name">                                         
            进口食品馆                                   
          </div>                                     
          <div class="desc">                                         
            微信独享！超多品类！超性价比！                                     
          </div>                                     
          <div class="price">
                                                
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/galleries/128">
          <img class="photo" src="/assets/mobile/jd/wx_home_3.png">
        </a>
      </div>
      <div class="info_blue">
          <div class="name">                                         
            酒类茶叶馆                                   
          </div>                                     
          <div class="desc">                                         
            贸威独享！超高品质！                                     
          </div>                                     
          <div class="price">
                                                 
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/galleries/133">
          <img class="photo" src="/assets/mobile/jd/wx_home_4.png">
        </a>
      </div>
      <div class="info_red">
          <div class="name">                                         
            婴童天地馆                                   
          </div>                                     
          <div class="desc">                                         
            欧洲品质！世界分享！                                     
          </div>                                     
          <div class="price">
                                                 
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
  </ul>
</div>

<div class="sec_tab_list germany" style="display:none;">
  <ul>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a0771076">
          <img class="photo" src="/assets/mobile/jd/wx_home_5.png">
        </a>
      </div>
      <div class="info">
          <div class="name">                                         
            蘑菇里昂那香肠                                    
          </div>                                     
          <div class="desc">                                         
            最美味！最具特色！最有人气！                                     
          </div>                                     
          <div class="price">
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a0771046">
          <img class="photo" src="/assets/mobile/jd/wx_home_6.png">
        </a>
      </div>
      <div class="info_yellow">
          <div class="name">                                         
            黑布丁香肠                                   
          </div>                                     
          <div class="desc">                                         
            爱尔兰人的最爱！煎烤蒸煮！                                   
          </div>                                     
          <div class="price">
                                                
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a0771041">
          <img class="photo" src="/assets/mobile/jd/wx_home_7.png">
        </a>
      </div>
      <div class="info_blue">
          <div class="name">                                         
            米兰风味萨拉米香肠                                   
          </div>                                     
          <div class="desc">                                         
            贸威独享！超高品质！                                     
          </div>                                     
          <div class="price">
                                                 
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a0771039">
          <img class="photo" src="/assets/mobile/jd/wx_home_8.png">
        </a>
      </div>
      <div class="info_red">
          <div class="name">                                         
            维也纳香肠                                   
          </div>                                     
          <div class="desc">                                         
            欧洲品质！世界分享！                                     
          </div>                                     
          <div class="price">
                                                 
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
  </ul>
</div>
<div class="sec_tab_list drink" style="display:none;">
  <ul>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a0670002">
          <img class="photo" src="/assets/mobile/jd/wx_home_9.png">
        </a>
      </div>
      <div class="info">
          <div class="name">                                         
            红小米                                    
          </div>                                     
          <div class="desc">                                         
            颗粒均匀饱满，色泽嫩黄柔和，营养丰富!                                 
          </div>                                     
          <div class="price">
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a0670001">
          <img class="photo" src="/assets/mobile/jd/wx_home_10.png">
        </a>
      </div>
      <div class="info_yellow">
          <div class="name">                                         
            黄小米                                   
          </div>                                     
          <div class="desc">                                         
            益肾、除热、解毒!                                  
          </div>                                     
          <div class="price">
                                                
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a01080004">
          <img class="photo" src="/assets/mobile/jd/wx_home_11.png">
        </a>
      </div>
      <div class="info_blue">
          <div class="name">                                         
            藏玉将军（黑香米）                                   
          </div>                                     
          <div class="desc">                                         
            色味俱佳，制作简单！                                     
          </div>                                     
          <div class="price">
                                                 
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a01080005">
          <img class="photo" src="/assets/mobile/jd/wx_home_12.png">
        </a>
      </div>
      <div class="info_red">
          <div class="name">                                         
            东北大米                                   
          </div>                                     
          <div class="desc">                                         
            新鲜干净，营养安全！                                     
          </div>                                     
          <div class="price">
                                                 
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
  </ul>
</div>
<div class="sec_tab_list flower" style="display:none;">
  <ul>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a01190007">
          <img class="photo" src="/assets/mobile/jd/wx_home_13.png">
        </a>
      </div>
      <div class="info">
          <div class="name">                                         
            粉色柔情                                    
          </div>                                     
          <div class="desc">                                         
            永远伴随着你，呵护着你!                                 
          </div>                                     
          <div class="price">
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a01190006">
          <img class="photo" src="/assets/mobile/jd/wx_home_14.png">
        </a>
      </div>
      <div class="info_yellow">
          <div class="name">                                         
            初爱                                   
          </div>                                     
          <div class="desc">                                         
            Pink Lady玫瑰，撷取支数谐音，象征永久爱意!                               
          </div>                                     
          <div class="price">
                                                
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a01190004">
          <img class="photo" src="/assets/mobile/jd/wx_home_15.png">
        </a>
      </div>
      <div class="info_blue">
          <div class="name">                                         
            热恋如火                                 
          </div>                                     
          <div class="desc">                                         
            长相处，永难忘.                                   
          </div>                                     
          <div class="price">
                                                 
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
    <li>
      <div class="sign">
         4月抢购                             
      </div>
      <div class="img">
        <a href="/mobile/products/a01190003">
          <img class="photo" src="/assets/mobile/jd/wx_home_16.png">
        </a>
      </div>
      <div class="info_red">
          <div class="name">                                         
            百合祝福                                   
          </div>                                     
          <div class="desc">                                         
            粉色百合的祝福，一如我对你不变的情谊！                                     
          </div>                                     
          <div class="price">
                                                 
          </div>                                 
      </div>
      <div class="buy">                                     
          <span class="btn">立即查看</span>                                 
      </div>
    </li>
  </ul>
</div>
<script type="text/javascript">
    $(document).ready(function(){
      $(".sec_tab_wrap").click(function(e){
          $(".sec_tab_wrap").removeClass("cur");
          $(this).addClass("cur");
          if($(this).hasClass("germany"))
          {
            $(".sec_tab_list").hide();
            $(".germany").show();
          }else if($(this).hasClass("all"))
          {
            $(".sec_tab_list").hide();
            $(".all").show();
          }else if($(this).hasClass("drink"))
          {
            $(".sec_tab_list").hide();
            $(".drink").show();
          }else if($(this).hasClass("flower"))
          {
            $(".sec_tab_list").hide();
            $(".flower").show();
          }
      });
    });
</script>