html, body {padding:0;margin:0; font-family:Georgia, serif; color:#4a443d; text-align:center;}
a {color:#4a443d; text-decoration:none}
body {overflow:auto; height:4000px; font-family: Tahoma, Helvetica, "microsoft yahei", Arial; background-color: #dfdee5;}

#skrollr-body { width:100%; height:100%; position:fixed; left: 0; right: 0; top: 0; bottom: 0;} /*min-width: 980px;  */
#skrollr-body div { overflow:hidden; position:absolute; }


#skrollr-body .drawer {
  margin: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 100%;
  background: #222;
  z-index: 1000;
  text-align: center;
}



#skrollr-body .product_container {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #dfdee5;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  /*
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;*/

}

#skrollr-body .gallery {
  display: block;
  background-image: url('bg.jpg');
  background-position: center 0px;
  background-repeat: no-repeat;
  height: 1100px;
  width: 1056px;
  text-align: center;
  margin-left: -840px;
  left: 50%;
  z-index: 9;
  position: absolute;
  /*position: relative;*/
}

#skrollr-body .gallery .swipeview-wrapper {
  margin: 0 0 0 138px;
  float: left;
  width: 780px;
  height: 1100px;
  /*background: #dfdee5;*/
}

#skrollr-body .gallery .swipeview-wrapper .swipeview {
  overflow: visible;
}

#skrollr-body .gallery .swipeview-wrapper .swipeview > div {
  position:relative;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  overflow:hidden;
}

#skrollr-body .gallery .swipeview-wrapper .swipeview span {
  -webkit-box-sizing:border-box;
  display:block;
  text-align:center;
  font-size:1.4em;
  padding:0 20px;
}
#skrollr-body .gallery .swipeview-wrapper .swipeview img {
  display:block;
  -webkit-transition-duration:.4s;
  -moz-transition-duration:.4s;
  -ms-transition-duration:.4s;
  -o-transition-duration:.4s;
  transition-duration:.4s;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  -o-transition-property:opacity;
  transition-property:opacity;
  opacity: 1;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  /*cursor: pointer;*/
}

#skrollr-body .gallery_nav {
  left: 50%;
  margin: 0 0 0 -20px;
  bottom: 20px;
  z-index: 11;
  height: 16px;
  color: #777;
  padding: 0 0 0 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  text-align: center;
  position: absolute;
  /*display: none;*/
  opacity: 0;
}

#skrollr-body .gallery_nav li {
  display:block;
  float:left;
  width:8px;
  height:8px;
  line-height:8px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
  background: #999;
  overflow:hidden;
  padding:0;
  margin:3px 10px 0 0;
  text-align:center;
  cursor: pointer;
  text-indent: -9999px;
}

#skrollr-body .gallery_nav li.selected {
  background:#666;
}

#skrollr-body .description {
  left: 50%;
  top: 35%;
  margin-left: 150px;
  /*margin-top: -110px;*/
  z-index: 10;
  width: 300px;
  height: 500px;
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  text-align: center;
}
#skrollr-body .description h3 {
  font-size: 26px;
  font-weight: normal;
  /*text-align: left;*/
  color: #666666;
  margin: 0px;
}
#skrollr-body .description p {
  font-size: 16px;
  /*text-align: left;*/
  line-height: 30px;
  /*color: #666;*/
}

#skrollr-body .meta_info {
  display: none;
  left: 50%;
  top: 25%;
  margin-left: 100px;
  /*margin-top: -160px;*/
  z-index: 10;
  width: 400px;
  height: 500px;
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  text-align: center;
  overflow: visible;
}

#skrollr-body .meta_info .actions {
  display: block;
  width: 287px;
  height: 43px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
}
#skrollr-body .meta_info a.add_to_cart{
  display: inline-block;
  /*line-height: 0;*/
  width: 143px;
  height: 43px;
  background: url('add_to_cart_and_more.png') top left no-repeat;
  margin: 0 auto;
  text-indent: -9999px;
  float: left;
}
#skrollr-body .meta_info a.add_to_cart:hover{
  background: url('add_to_cart_and_more.png') bottom left no-repeat;
}
#skrollr-body .meta_info a.see_more{
  display: inline-block;
  /*line-height: 0;*/
  width: 144px;
  height: 43px;
  background: url('add_to_cart_and_more.png') top right no-repeat;
  margin: 0 auto;
  text-indent: -9999px;
  float: left;
}
/*#skrollr-body .meta_info a.see_more:hover,*/
#skrollr-body .meta_info a.see_more.actived{
  background: url('add_to_cart_and_more.png') bottom right no-repeat;
}
#skrollr-body .meta_info a.brand{
  display: block;
  line-height: 0;
  margin: 0 auto;
}
#skrollr-body .meta_info a.brand img{
  border: none;
  padding: 0;
  margin: 0;
}
#skrollr-body .meta_info h3 {
  font-size: 20px;
  font-weight: normal;
  /*text-align: left;*/
  color: #555555;
  margin: 0px 0px 40px 0;
}
#skrollr-body .meta_info h3 span {
  color: #d30000;
  /*color: #c70000;*/
}
#skrollr-body .meta_info h3 span.price {
  font-family: Georgia;
}
#skrollr-body .meta_info p {
  font-size: 16px;
  line-height: 30px;
}
#skrollr-body .meta_info .spec {
  display: block;
  width: 100%;
  height: 90px;
  position: relative;
  text-align: center;
  overflow: visible;
}
#skrollr-body .meta_info .spec table.spec_bar{
  /*display: block;*/
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}
#skrollr-body .meta_info .spec table.spec_bar tr {

}
#skrollr-body .meta_info .spec table.spec_bar td{
  padding: 0;
}
#skrollr-body .meta_info .spec table.spec_bar tr.label td {
  font-size: 12px;
  color: #777;
  line-height: 20px;
}
#skrollr-body .meta_info .spec table.spec_bar td.bullet{
  width: 12px;
  background: url('bullet.png') 7px 4px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.size_helper {
  color: #444;
}
#skrollr-body .meta_info .spec table.spec_bar td a.size_helper:hover {
  color: #222;
}
#skrollr-body .meta_info .spec table.spec_bar td a.color,
#skrollr-body .meta_info .spec table.spec_bar td a.size {
  display: inline-block;
  height: 34px;
  width: 34px;
  margin: 0 3px;
  background: url('selectors.png') -34px -35px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.selected{
  background: url('selectors.png') -34px 0px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td .number_container {
  position: relative;
  width: 100%;
  height: 34px;
  display: block;
  margin-top: -3px;
  overflow: visible;
}
#skrollr-body .meta_info .spec table.spec_bar td a.number_select{
  position: absolute;
  top: 0;
  left: 0;
  /*margin-top: -2px;*/
  display: inline-block;
  height: 34px;
  width: 34px;
  margin: 0 3px;
  line-height: 32px;
  padding-right: 18px;
  color: #777;
  font-size: 14px;
  background: url('selectors.png') -340px -35px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td ul.number_dropdown {
  display: block;
  position: absolute;
  top: -180px;
  left: 0px;
  list-style: none;
  padding: 3px 0;
  margin: 0;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 13px 15px rgba(0, 0, 0, 0.5);
  display: none;
  /*border: solid 1px #aaa;*/
}
#skrollr-body .meta_info .spec table.spec_bar td ul.number_dropdown li {
  display: block;
  width: 70px;
  color: #222;
  font-size: 14px;
  padding: 1px 0;
  line-height: 18px;
  height: 18px;
  cursor:default;
}
#skrollr-body .meta_info .spec table.spec_bar td ul.number_dropdown li:hover {
  background: #ddd; 
}
#skrollr-body .meta_info .spec table.spec_bar td select{
  /*position: absolute;*/
  top: 0;
  left: 0;
  color: #777;
  font-size: 14px;
  background: none;
  border: none;
}
#skrollr-body .meta_info .spec table.spec_bar td a .mask{
  display: block;
  height: 34px;
  width: 34px;
  background: url('selectors.png') 0px -35px no-repeat;
  position: relative;
}
#skrollr-body .meta_info .spec table.spec_bar td a.selected .mask{
  background: url('selectors.png') 0px 0px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.xs{
  background: url('selectors.png') -68px -35px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.xs.selected{
  background: url('selectors.png') -68px 0px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.s{
  background: url('selectors.png') -102px -35px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.s.selected{
  background: url('selectors.png') -102px 0px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.m{
  background: url('selectors.png') -136px -35px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.m.selected{
  background: url('selectors.png') -136px 0px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.l{
  background: url('selectors.png') -170px -35px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.l.selected{
  background: url('selectors.png') -170px 0px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.xl{
  background: url('selectors.png') -204px -35px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.xl.selected{
  background: url('selectors.png') -204px 0px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.xxl{
  background: url('selectors.png') -238px -35px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.xxl.selected{
  background: url('selectors.png') -238px 0px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.custom{
  background: url('selectors.png') -272px -35px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.custom.selected{
  background: url('selectors.png') -272px 0px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.semi_custom{
  background: url('selectors.png') -306px -35px no-repeat;
}
#skrollr-body .meta_info .spec table.spec_bar td a.semi_custom.selected{
  background: url('selectors.png') -306px 0px no-repeat;
}



#skrollr-body .scrolling {
  left: 50%;
  margin-left: 275px;
  display: block;
  width: 64px;
  height: 42px;
  background: url('scrolling.png') top left no-repeat;
  text-indent: -9999px;
  position: absolute;
  bottom: 5px;
  z-index: 11;
}

#skrollr-body .image_right .gallery{
  left: 50%; 
  margin-left: -220px;
}

#skrollr-body .image_right .meta_info {
  margin-left: -500px;
}

#skrollr-body .image_right .description {
  margin-left: -450px;
}

#skrollr-body .paddle,
#skrollr-body .paddle.pl {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 390px;
  height: 100%;
  z-index: 11;
  /*background: url('transparent.gif');*/
}
#skrollr-body .paddle.pr {
  left: 50%;
  margin-left: -320px;
}
#skrollr-body .paddle.pl .paddle_img,
#skrollr-body .paddle.pr .paddle_img {
  position: absolute;
  top: 43%;
  left: 20px;
  z-index: 11;
  display: block;
  width: 33px;
  height: 64px;
  text-indent: -9999px;
  background: url('paddles.png') 0px 0px no-repeat;
  cursor: pointer;
  display: none;
}
#skrollr-body .paddle.pr .paddle_img {
  left: auto;
  right: 20px;
  background: url('paddles.png') 0px -74px no-repeat;
}

#skrollr-body .image_right .paddle.pl{
  left: 50%; 
  margin-left: -30px;
}
#skrollr-body .image_right .paddle.pr{
  left: auto; 
  right: 0%;
}



#skrollr-body .right_arrow,
.drawer .left_arrow {
  position: absolute;
  right: 0%;
  /*top: 296px;*/
  top: 43%;
  /*margin-top: -60px;*/
  z-index: 11;
  width: 60px;
  height: 80px;
  text-indent: -9999px;
  background: url('arrows.png') 16px 20px no-repeat;
  display: none;
}
#skrollr-body .right_arrow:hover {
  background: url('arrows.png') 16px -60px no-repeat; 
}
.drawer .left_arrow {
  z-index: 1111;
  left: 0%;
  background: url('arrows.png') 16px -140px no-repeat;
}
.drawer .left_arrow:hover {
  background: url('arrows.png') 16px -220px no-repeat; 
}
.drawer .close_drawer {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1111;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url('close.png') top left no-repeat;
}
.drawer .close_drawer:hover {
  background: url('close.png') bottom left no-repeat; 
}

#skrollr-body .meta_info .more {
  /*display: block;*/
  display: none;
  /*width: 100%;*/
  width: 398px;
  position: relative;
  text-align: center;
  overflow: visible;
  border: 1px solid #bbb;
  border-top: none;
}

#skrollr-body .meta_info h3.title{ /*header of 1st demo*/
cursor: hand;
cursor: pointer;
padding: 0px 0px 0px 36px;/*
border: 1px solid gray;
border-bottom: none;*/
border-top: 1px solid #bbb;
margin: 0;
text-align: left;
font-size: 16px;
font-weight: normal;
color: #666;
height: 36px;
line-height: 36px;
}
#skrollr-body .meta_info h3.title span.expand{
  text-align: right;
  float: right;
  padding-right: 10px;
  color: #777;
  width: 20px;
  height: 36px;
  text-align: center;
  background: url('expander.png') 3px 12px no-repeat;
}
#skrollr-body .meta_info h3.title.opened span.expand{
  background: url('expander.png') 3px -16px no-repeat;
}
#skrollr-body .meta_info h3.desc{
  background: url('mini_description.png') 10px 13px no-repeat;
}
#skrollr-body .meta_info h3.material{
  background: url('mini_description.png') 10px -63px no-repeat;
}
#skrollr-body .meta_info h3.mesure{
  background: url('mini_description.png') 10px -26px no-repeat;
}
#skrollr-body .meta_info h3.expr{
  background: url('mini_description.png') 10px -101px no-repeat;
}

#skrollr-body .meta_info h3.openpet{ /*class added to contents of 1st demo when they are open*/
  /*background: yellow;*/
  margin: 0;
}

#skrollr-body .meta_info div.detail {
  display: block;
  position: relative;
  text-align: left;
  font-size: 13px;
  line-height: 22px;
  padding: 0 20px 10px 36px;
/*  border-left: 1px solid gray;
  border-right: 1px solid gray;*/
}
#skrollr-body .meta_info div.detail h5{
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  color: #444;
}
#skrollr-body .meta_info div.detail p {
  margin: 0 0 8px 0;
  font-size: 13px;
  line-height: 22px;
}
#skrollr-body .meta_info div.detail p span{
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  color: #444;
}
#skrollr-body .meta_info div.detail table.size_table {
  /*margin: 0 auto;*/
  padding: 0;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  
}
#skrollr-body .meta_info div.detail table.size_table th {
  width: 60px;
  text-align: center;
  color: #666;
  font-weight: normal;
  /*background: #eee;*/
}
#skrollr-body .meta_info div.detail table.size_table td {
  width: 60px;
  text-align: center;
  color: #777;
  line-height: 20px;
}
#skrollr-body .meta_info div.detail a {
  color: #444;
}

#skrollr-body .meta_info div.detail table.expr_table {
  /*margin: 0 auto;*/
  padding: 0;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  margin: -5px 0 10px 0;
}
#skrollr-body .meta_info div.detail table.expr_table th {
  width: 60px;
  height: 34px;
  text-align: left;
  color: #666;
  font-weight: normal;
  /*background: #eee;*/
}
#skrollr-body .meta_info div.detail table.expr_table td {
  text-align: center;
  color: #777;
}

#skrollr-body .meta_info div.detail .progressbg {
  background: url('progress_bar.png') top left no-repeat;
  height: 7px;
  /*margin: 47px 83px;*/
  position: relative;
  overflow: visible;
  display: block;
  width: 270px;
}
#skrollr-body .meta_info div.detail .progressbg .progress {
  background: url('progress_bar.png') bottom left no-repeat;
  height: 7px;
  position: relative;
  float: left;
  width: 5px;
}
#skrollr-body .meta_info div.detail .progressbg .progress_right {
  background: url('progress_bar.png') bottom right no-repeat;
  height: 7px;
  float: left;
  position: relative;
  margin-right: -3px;
  width: 3px;
}
#skrollr-body .meta_info div.detail .progressbg .progress.p0{
  width: 12px;
}
#skrollr-body .meta_info div.detail .progressbg .progress.p25{
  width: 64px;
}
#skrollr-body .meta_info div.detail .progressbg .progress.p50{
  width: 132px;
}
#skrollr-body .meta_info div.detail .progressbg .progress.p75{
  width: 200px;
}
#skrollr-body .meta_info div.detail .progressbg .progress.p100{
  width: 267px;
}

#skrollr-body .meta_info div.detail .expr_label {
  overflow: visible;
  display: block;
  width: 270px;
  text-align: left;
  position: relative;
  font-size: 10px;
  line-height: 18px;
}
#skrollr-body .meta_info div.detail .expr_label_left {
  overflow: visible;
  display: block;
  margin-left: 6px;
}
#skrollr-body .meta_info div.detail .expr_label_center {
  overflow: visible;
  display: block;
  margin-left: 122px;
}
#skrollr-body .meta_info div.detail .expr_label_right {
  overflow: visible;
  display: block;
  margin-left: 244px;
}

#product1 {
  z-index:5;
}
#product2 {
  z-index:4;
}
#product3 {
  z-index:3;
}
#product4 {
  z-index:2;
}

/*#wish1 {background: #e7685d url('1.jpg') 50% 0px no-repeat ; z-index:5;}*/


#wish1 {
  /*background-color: #dddddd;*/
  background-repeat: no-repeat;
  background-image: url('2.jpg');
  /*background-color: #dfdee5;*/
  background-position: 0px 0px;
  z-index:5;
  /*box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);*/
  height: 100%;
}
#wish2 {
  background-color: #dddddd;
  background-image: url('bg.jpg');
  background-color: #dfdee5;
  background-position: -138px 0px;
  z-index:4;
  /*box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);*/
  height: 100%;
}
#wish3 {
  background-color: #dddddd;
  background-repeat: no-repeat;
  background-image: url('3.jpg');
  background-position: 10% 0px;
  z-index:3;
  /*box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);*/
  height: 100%;
}
#wish4 {
  background-color: #dddddd;
  background-repeat: no-repeat;
  background-image: url('4.jpg');
  background-position: 10% 0px;
  z-index:2;
  /*box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);*/
  height: 100%;
}

/*#wish2 {background: #94c3b6 url('2.jpg') 50% 0px no-repeat ; z-index:4; box-shadow: 0 0 0 20px #49675f;  }*/

#snow {width:363px; background:url('snow.png') no-repeat}
#pattern1 { background:url('snow-flakes.png') ; z-index:2; background-attachment:fixed}
.ribbon {background:#49675f; height:40px; top:50%; margin-top:-20px; z-index:3;   }
#ribbon-left {left:0}
#ribbon-right {right:0}
svg {position:absolute; z-index:5; left:50%;  top:50%; margin-left:-170px; margin-top:-180px}
#pattern2 { background:url('pattern.png'); z-index:1;}
/*#wish3 {background:#8dbaae url('merry3.png') no-repeat center center; z-index:6; border-radius:50%;}*/
#info {background:#fff; width:20%; height:50px; bottom:auto; z-index:10; font-size:22px;  line-height:50px;}
#copyright {font-size:12px;  z-index:10;bottom:10px; width:100%;}


.jcarousel-skin-tango {
  width: 1040px;
  margin: 0 auto;
}
.jcarousel-skin-tango .jcarousel-container {
    
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
  direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 960px;
    padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  960px;
    height: 250px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 225px;
    height: 260px;
    text-align: left;
    position: relative;
}
.jcarousel-skin-tango .jcarousel-item  img{
    border: 5px solid #fff;
    
}
.jcarousel-skin-tango .jcarousel-item h3{
  margin: 10px 0;
}
.jcarousel-skin-tango .jcarousel-item h3 a{
  font-size: 16px;
  font-weight: normal;
  color: #eee;
  margin: 10px 0;
  text-decoration: none;
}
.jcarousel-skin-tango .jcarousel-item p {
  margin: 0;
}
.jcarousel-skin-tango .jcarousel-item p a{
  color: #ccc;
  text-decoration: none;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-left: 0;
  /*margin-right: 20px;*/
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
  margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    /*background: #fff;*/
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: fixed;
    top: 40%;
    
    cursor: pointer;
    background: transparent url('../../images/arrows.png') no-repeat 16px 20px;
    width: 60px;
    height: 80px;
    opacity: 0.3;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    opacity: 0.6;
    /*background: url('../../images/arrows.png') 16px -60px no-repeat; */
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    opacity: 0.6;
    /*background: url('../../images/arrows.png') 16px -60px no-repeat; */
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    opacity: 1;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: fixed;
    top: 40%;
    cursor: pointer;
    background: transparent url('../../images/arrows.png') no-repeat 16px -140px;
    width: 60px;
    height: 80px;
    opacity: 0.3;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    opacity: 0.6;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    opacity: 0.6;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    opacity: 0.6;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    opacity: 1;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

#skrollr-body .gallery .jcarousel-skin-tango {
  /*margin: 0 0 0 138px;*/
  /*float: left;*/
  top: 0;
  left: 50%;
  margin-left: -390px;
  display: block;
  width: 780px;
  height: 1100px;
  padding: 0;
  /*background: #dfdee5;*/
}
#skrollr-body .gallery .jcarousel-skin-tango .jcarousel-container-horizontal {
  padding: 0;
  width: 780px;
  height: 1100px;
}
#skrollr-body .gallery .jcarousel-skin-tango .jcarousel-item img {
  border: none;
}

#skrollr-body .gallery .jcarousel-skin-tango .jcarousel-item {
  width: 780px;
  position: relative;
  text-align: left;
  height: 1100px;
}
#skrollr-body .gallery .jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 780px;
  height: 1100px;
}