.tree-menu{
	font-size:13px;
	overflow:hidden;
	a{
		text-decoration: none;
		color:#333;
	}
	.title-level1{
		margin:2px 0px;
		a{
			text-decoration: none;
			background: #000;
			display: block;
			color:#fff;
			text-indent: 10px;
			padding-top: 2px;
			padding-bottom: 2px;
		}
	}
	.items-level1{
		margin-left: 15px;
		list-style: none;
		.item-level1{
			list-style: none;
		}
	}

	.title-level2{
		padding: 2px 0px;
	}
	.items-level2{
		margin-left: 10px;
		list-style: none;
		.item-level2{
			list-style: none;
			&:before{
				content:  " - ";
			}
		}
	}

	.folded{
		display: none;
	}
	.expand{
		display: block;
	}
}