
<%=content_for :title do "活动在线招募 | Cheuks | 卓仕 工业品专家" end%>
<%=content_for :head do stylesheet_link_tag("events") end%>


<div>
	<%=raw @event.body%>
</div>
<div class="applicant-form" id="form">
	<%=render "events/applicants/form"%>
</div>