  <style>.bottomdivsclearfix{display: none}</style>
<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>



  <div class="am-g" style="padding: 15px">



              <%=render "form"%>



</div>