.am-titlebar-title{
    width: 100px;
}
   .am-panel-warning {
       border-color: #0e90d2;
       background: #0e90d2;
       color: #FFFFFF;
   }

.am-panel-warning>.am-panel-hd {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
   border-color: #0e90d2;
}

    .am-panel-warning > .am-panel-hd {
     color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
        border-color: #0e90d2;
}

   .am-btn-warning {
       color: #fff;
       background-color: #0e90d2;
       border-color: #0e90d2;

   }

   .btn-inverse{
       clear: both;
       width: 100%;
       color: #ffffff;
       background-color: #0e90d2;

       background:#0e90d2 ;
       display: inline-block;
       margin-bottom: 0;
       font-weight: normal;
       text-align: center;
       vertical-align: middle;
       cursor: pointer;
       background-image: none;

       white-space: nowrap;
       padding: 0.625em 1em;
       border-radius: 2px;
       line-height: 1.2;
       /* font-size: 1.6rem; */
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       -o-user-select: none;
       user-select: none;
       -webkit-transition: width 0.15s;
       transition: width 0.15s;
   }

   .btn-inverse:hover,{
       color: #ffffff;
       background-color: #299dff;
       border-color: #299dff;
       background: #299dff;
   }
.am-btn-danger {
    color: #fff;
    background-color: #299dff;
    border-color: #299dff;
}

   .am-btn-danger:hover{
       color: #ffffff;
       background-color: #5378f3;
       border-color: #5378f3;
       background: #5378f3;
   }

   .btn_sure {
       box-shadow: 0 1px 1px rgba(0,0,0,.2);
       color: #fff;
       width: 150px;
       float: right;
       filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c9b',endColorstr='#e61f80');
       background: -ms-linear-gradient(top, #5378f3, #0e90d2);
       background: -moz-linear-gradient(top, #5378f3, #0e90d2);
       background: -webkit-gradient(linear,0 0,0 100%,from(#5378f3),to(#0e90d2));
       border: #0e90d2 1px solid!important;
       cursor: pointer;
   }
   .bottomdiv {
       position: fixed;
       bottom: 0;
       width: 100%;
       background: #fff;
       border: #ddd 1px solid;
       border-top: #fff 1px solid;
       z-index: 1000000;
   }
   .btn_cancel, .btn_ensure, .btn_gry, .btn_red, .btn_sure, .btn_unav, .btn_white, .btn_white_order {
       font-weight: 400;
       height: 35px;
       text-align: center;
       font-size: 16px;
       line-height: 35px;
       border-radius: 2px;
       display: inline-block;

   }

 /* cart*/
   body{
       background: #fcfffa;
   }
   .s_links,.footnav,.copyright{
       display: none;
   }

   .cart_orderlist_info{
       margin: 0;

   }
   .cartdiv{
       line-height: 40px;
       background-color: #f0f1ff;
   }
   #quantity{
       width: 100px;
   }
   .delete{
       float: right;
   }
   input.textcenter {
       text-align: center;
       position: relative;
       margin: 0 auto;
       width: 40px;
       border: solid 1px #ccc;
   }
  /*  goods/mancoproduct*/
   .icon-arr {
       position: absolute;
       top: 40%;
       right: 10px;


       background-size: 100px 100px;
   }

 /*main */

   .get {
       background: #1E5B94;
       color: #fff;
       text-align: center;
       padding: 100px 0;
   }

   .get-title {
       font-size: 200%;
       border: 2px solid #fff;
       padding: 20px;
       display: inline-block;
   }

   .get-btn {
       background: #fff;
   }

   .detail {
       background: #fff;
   }



   .detail-h3 {
       color: #1f8dd6;
   }

   .detail-p {
       color: #7f8c8d;
   }

   .detail-mb {
       margin-bottom: 30px;
   }



   .footer p {
       color: #7f8c8d;
       margin: 0;
       padding: 15px 0;
       text-align: center;
       background: #2d3e50;
   }

 /*时间插件*/
   #suggest,#suggest2{width:100%}
   .gray{color:gray;}
   .ac_results {background:#fff;border:1px solid #7f9db9;z-index: 10000;display: none;}.ac_results ul{margin:0;padding:0;list-style:none;}
   .ac_results li a{white-space: nowrap;text-decoration:none;display:block;color:#05a;padding:10px 3px;}
   .ac_results li{border:1px solid #fff; line-height:18px}
   .ac_over,.ac_results li a:hover {background:#c8e3fc;}
   .ac_results li a span{float:right;}
   .ac_result_tip{border-bottom:1px dashed #666;padding:3px;}

  /*  show_Carblack*/
   @media only screen and (min-width: 1200px) {
       .blog-g-fixed {
           max-width: 1200px;
       }
   }
   ul a

   @media only screen and (min-width: 641px) {
       .blog-sidebar {
           font-size: 1.4rem;
       }
   }
   .blog-main {
       padding: 20px 0;
   }
   .blog-title {
       margin: 10px 0 20px 0;
   }
   .blog-meta {
       font-size: 14px;
       margin: 10px 0 20px 0;
       color: #222;
   }
   .blog-meta a {
       color: #27ae60;
   }
   .blog-pagination a {
       font-size: 1.4rem;
   }
   .blog-team li {
       padding: 4px;
   }
   .blog-team img {
       margin-bottom: 0;
   }
   .blog-footer {
       padding: 10px 0;
       text-align: center;
   }
   .inner{
       float: right;
   }
   .hour{


       line-height: 5px;
   }

   #good_mktprice{
       color: #ff0e1a;
       font-size: 15px;
   }
   .am-label{
       background-color: #15afef;
       width: 100%;
       color: #ffffff;
   }
   .am-form textarea{
       width: 80%;
       height: 100px;
       margin-left: 45px;
       border: #15afef solid 1px;  !important;
   }
   .am-form input[type="radio"]{
       padding: 20px;
   }
   .radio_inline{
       float: left;
       text-align: center;
       margin-right: 30px;
       margin-left: 100px;
   }
   .control-group_lable{
       text-align: center;
   }
   .black_btn{
       float: right;
       margin-right: 20px;
   }
 /* find_manco*/
   body{
       background-color: #fcfffa;
   }
   .out{
       float: right;
   }
   .head-info {
       margin: 1rem auto;
       width: 300px;
       text-align: center;
   }
   .header h1 {
       font-size: 200%;
       color: #333;
       margin-top: 30px;
   }
   .header p {
       font-size: 14px;
   }
   .am-fl{
       margin-left: 30%;
       width: 30%;
   }
   .form_hide ,#mancoweight,.button-hide,.kgi{
       display: none;
   }
   .button-am{
       font-size: 20px    ;
   }
   .am-form-group{
       text-align: center;
   }
   .form_show{
       display: block;
   }

   .am-form input[type="text"] {

       background-color: #fcfffa;

   }
   .floatfirst.floatright{
       float: left;

   }
   .kginput #mancoweight> input[type=text]{
       width: 40%;
   }
   .kginput #mancoweight,.kginput .kgi{
       float: left;
   }


    /*addr*/
   #province,#city,#district{
       width: 30%;
   }

