<div class="space10"></div>
<div class="shop_tit clearfix">
  <h1>最新上线</h1>
  |<span style="display:none">每天10点　新品特卖</span></div>
<div id="channel_img">
  <div class="shop_list">
    <div class="pic">
      <a href="/mgallery?name=酒类" class="itemList">
        <img src="/images/mobile/_alcohol.png" data-onerror="" data-brandid="198168" data-original="/images/mobile/_alcohol.png" class="pro" style="display: block;">
      </a>
      <div class="re_time time_brand" style="display:none"><span></span>5天</div>
      <div class="suppliers_send sup_brand" style="display:none"><span></span>满299减20，满399减50</div>
      <div class="mark" style="display:none"><img src="./files/vipshow1398222336102.png" width="88"></div>
    </div>
    <div class="shop_info clearfix">
      <p class="fl s_brand_name">Penfolds 奔富酒园洛神山庄干红葡萄酒</p>
      <div class="fr discout" ><span class="salebg2">6.6</span>折</div>
    </div>
  </div>
  <div class="shop_list">
    <div class="pic">
      <a href="/mgallery?name=奶酪" class="itemList">
        <img src="/images/mobile/_dairy.png" data-onerror="" data-brandid="198168" data-original="/images/mobile/_dairy.png" class="pro" style="display: block;">
      </a>
      <div class="re_time time_brand" style="display:none"><span></span>5天</div>
      <div class="suppliers_send sup_brand" style="display:none"><span></span>满299减20，满399减50</div>
      <div class="mark" style="display:none"><img src="./files/vipshow1398222336102.png" width="88"></div>
    </div>
    <div class="shop_info clearfix">
      <p class="fl s_brand_name">法国总统奶酪</p>
      <div class="fr discout" ><span class="salebg2">7.7</span>折</div>
    </div>
  </div>
  <div class="shop_list">
    <div class="pic">
      <a href="/mgallery?name=零食" class="itemList">
        <img src="/images/mobile/_snacks.png" data-onerror="" data-brandid="198168" data-original="/images/mobile/_snacks.png" class="pro" style="display: block;">
      </a>
      <div class="re_time time_brand" style="display:none"><span></span>5天</div>
      <div class="suppliers_send sup_brand" style="display:none"><span></span>满299减20，满399减50</div>
      <div class="mark" style="display:none"><img src="./files/vipshow1398222336102.png" width="88"></div>
    </div>
    <div class="shop_info clearfix">
      <p class="fl s_brand_name">台湾进口零食</p>
      <div class="fr discout" ><span class="salebg2">7.4</span>折</div>
    </div>
  </div>
  <div class="shop_list">
    <div class="pic">
      <a href="/mgallery?name=肉类" class="itemList">
        <img src="/images/mobile/_meat.png" data-onerror="" data-brandid="198168" data-original="/images/mobile/_meat.png" class="pro" style="display: block;">
      </a>
      <div class="re_time time_brand" style="display:none"><span></span>5天</div>
      <div class="suppliers_send sup_brand"><span></span>任意商品满350包邮</div>
      <div class="mark" style="display:none"><img src="./files/vipshow1398222336102.png" width="88"></div>
    </div>
    <div class="shop_info clearfix">
      <p class="fl s_brand_name">德国进口肉类食品</p>
      <div class="fr discout"><span class="salebg2">6.7</span>折</div>
    </div>
  </div>
</div>

<a href="javascript:;" class="btn_more" data-channel="0" data-getbrand="more" mars_sead="brandlist_more_btn">查看更多在售品牌</a>
