.brand_pages{
	.delete{
		font-size: 20px;
		color:red;
		text-decoration: none;
	}

	.pos-control{
		height: 30px;
		width: 30px;
		display: inline-block;
		margin-left: 20px;
		i{
			cursor: pointer;
		}
	}
	.item{
		.no{
			width: 20px;
			display: inline-block;
		}
		&.cur{
			background-color:#F7F7F9;
		}
	}
	.ordernum {
		input{
			margin-bottom: 0px;
		}
	}
}
