<style type="text/css">
    .am-panel-default{
        position:relative;
    }
    .icon-arr {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 10px;
        height: 15px;
        background: url(/assets/icon_order.png) 0 0 no-repeat;
        background-size: 100px 100px;
    }
    a{
        margin-left: 15px;
    }

</style>
<div class="am-list-news-hd "><a href="##"><h2>故障分析</h2><span class="am-list-news-more am-fr">更多 »</span></a></div>

<ul class="am-list">
  <li><a href="failure_detail">叉车维修规定 <span class="icon-arr"></span></a></li>
  <li><a href="failure_detail">公司叉车维修管理办法 <span class="icon-arr"></span></a></li>
  <li><a href="failure_detail">叉车机械的故障特点分析及诊断技巧 <span class="icon-arr"></span></a></li>
  <li><a href="failure_detail">CL-10-32全电动堆高车的操作与维护 <span class="icon-arr"></span></a></li>
  <li><a href="failure_detail">叉车配气机构气门组零件和气门传动组零件的检验与修理 <span class="icon-arr"></span></a></li>
  <li><a href="failure_detail">搬运车保养与维修 <span class="icon-arr"></span></a></li>
</ul>