
<style>
    @media only screen and (min-width: 1200px) {
        .blog-g-fixed {
            max-width: 1200px;
        }
    }

    @media only screen and (min-width: 641px) {
        .blog-sidebar {
            font-size: 1.4rem;
        }
    }

    .blog-main {
        padding: 20px 0;
    }

    .blog-title {
        margin: 10px 0 20px 0;
    }

    .blog-meta {
        font-size: 14px;
        margin: 10px 0 20px 0;
        color: #222;
    }

    .blog-meta a {
        color: #27ae60;
    }

    .blog-pagination a {
        font-size: 1.4rem;
    }

    .blog-team li {
        padding: 4px;
    }

    .blog-team img {
        margin-bottom: 0;
    }

    .blog-footer {
        padding: 10px 0;
        text-align: center;
    }
</style>
</head>
<body>


<div class="am-g am-g-fixed blog-g-fixed">
  <div class="col-md-8">
    <article class="blog-main">
      <h3 class="am-article-title blog-title" style="text-align: center" >
        公司叉车维修管理办法
      </h3>
      <hr>

      <div class="am-g blog-content">
        <div class="col-lg-7">


                  <p>为加强公司叉车维修成本的控制和维修程序的规范，特制定本办法。</p>
                  <p>1、叉车出现故障后，叉车操作人员一律填写报修单，写明故障、报 修人、报修人的联系方式（没有电话的要留下可联系到的电话）。叉 车所在的部门主任科员以上人员（包括主任科员）签字确认，方可报 修。如不符合以上所要求，叉车维保人员可以拒绝修理。</p>
                  <p>2、叉车维修更换的配件，维保人员要告知报修人员及设备管理人员 经确认无误后，才能更换。维保单位更换下的配件必须用标签注明该 配件的叉车编号及更换的日期予以保存。</p>
                  <p>3、维修好的叉车。维保单位出具维修服务单，服务单上写明日期、 叉车编号、故障、配件型号及数量。服务单上字迹要工整，空白处要 用笔划掉。最终，报修人员及设备管理人员在服务单上签字认可（签 名必须正规可辨）。</p>
                  <p>4、维修好的叉车。要在维保人员处领取叉车钥匙，才能开走。不得 私自搭线或用其它钥匙开走叉车。否则，按照违章处罚（罚款50元）。</p>
                  <p>5、维修过程中发现没有报修单中所涉及的故障和要更换配件，一定 要通知到报修人员和设备管理人员到场确认，报修人员重填报修单， 才能更换配件。</p>
                  <p>6、若维修人员在维修中发现叉车的故障是因为违章操作或没有按照 叉车点检的要求发生的故障，立即告知设备管理部门人员和叉车操作 人员到场查看。确认后，一律按照叉车维修及配件的10%给予罚款。</p>
                  <p>7、若维保单位人员用旧件代替更换的配件或没有更换配件，在服务 单上写明更换配件。一经发现，更换的配件不予走账，并给予500元 的罚款。</p>



        </div>
    </div>
    </article>




    <hr class="am-article-divider blog-hr">
    <ul class="am-pagination blog-pagination">
      <li class="am-pagination-prev"><a href="">&laquo; 上一页</a></li>
      <li class="am-pagination-next"><a href="">下一页 &raquo;</a></li>
    </ul>
  </div>

  <div class="col-md-4 blog-sidebar">
    <div class="am-panel-group">

      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">新闻目录</div>
        <ul class="am-list blog-list">


        </ul>
      </section>


    </div>
  </div>

</div>




