
<style>
    @media only screen and (min-width: 1200px) {
        .blog-g-fixed {
            max-width: 1200px;
        }
    }

    @media only screen and (min-width: 641px) {
        .blog-sidebar {
            font-size: 1.4rem;
        }
    }

    .blog-main {
        padding: 20px 0;
    }

    .blog-title {
        margin: 10px 0 20px 0;
    }

    .blog-meta {
        font-size: 14px;
        margin: 10px 0 20px 0;
        color: #222;
    }

    .blog-meta a {
        color: #27ae60;
    }

    .blog-pagination a {
        font-size: 1.4rem;
    }

    .blog-team li {
        padding: 4px;
    }

    .blog-team img {
        margin-bottom: 0;
    }

    .blog-footer {
        padding: 10px 0;
        text-align: center;
    }
</style>
</head>
<body>


<div class="am-g am-g-fixed blog-g-fixed">
  <div class="col-md-8">
    <article class="blog-main">
      <h3 class="am-article-title blog-title" style="text-align: center" >
        升降机操作注意事项
      </h3>
      <hr>

      <div class="am-g blog-content">
        <div class="col-lg-7">
          <span >
            升降机操作注意事项:</span><br>
            <span>&nbsp;&nbsp;&nbsp;1、升降机必须放置在坚实平整的地面上，以防工作时倾翻。</span> <br>
          <span>&nbsp;&nbsp;&nbsp;2、按铭牌规定的载荷工作，严禁超载使用。在应急情况下，最多允许短暂超载10%。</span> <br>
          <span>&nbsp;&nbsp;&nbsp;3、尽可能将重物均匀分布在台面中央。在特殊情况下，允许偏载：纵向偏载的载荷不得超过1/2的额定负荷，横向偏载不得超过1/3的额定载荷。偏载载荷必须远离台边约300毫米。</span> <br>

        </div>
        <div class="col-lg-5">
          <p><img src="/assets/cheuks/IMG_0231.jpg"></p>
        </div>
      </div>
      <div class="am-g">
        <div class="col-sm-12">
          <span>&nbsp;&nbsp;&nbsp;4、管子等易于滚动的物料，必须挡紧或捆扎妥当。</span> <br>
          <span>&nbsp;&nbsp;&nbsp;5、无载人保护的升降台严禁载人。载人用的升降台都设有栏杆和防裂阀。防裂阀可防止油管破裂导致工作台失控下降的事故。</span> <br>
          <span>&nbsp;&nbsp;&nbsp;6、升降机工作时，防止手、足和衣服受到挤压。</span> <br>
          <span>&nbsp;&nbsp;&nbsp;7、按下“上升”或“下降”按钮，使工作台升降。如果工作台不动，应立即停机进行检查。</span> <br>
          <span>&nbsp;&nbsp;&nbsp;8、如果升降机不起升，并且听见溢流阀叫啸，应立即停机检查。否则，油泵会迅速过热，遭受严重破坏。溢流阀是用来保护机器和操作人员的安全的，不得任意调整。</span> <br>
          <span>&nbsp;&nbsp;&nbsp;8、如果升降机不起升，并且听见溢流阀叫啸，应立即停机检查。否则，油泵会迅速过热，遭受严重破坏。溢流阀是用来保护机器和操作人员的安全的，不得任意调整。</span> <br>
          <span>&nbsp;&nbsp;&nbsp;9、只有当工作台停止运动时，方可卸下重物。</span>



        </div>
      </div>
    </article>




    <hr class="am-article-divider blog-hr">
    <ul class="am-pagination blog-pagination">
      <li class="am-pagination-prev"><a href="">&laquo; 上一页</a></li>
      <li class="am-pagination-next"><a href="">下一页 &raquo;</a></li>
    </ul>
  </div>

  <div class="col-md-4 blog-sidebar">
    <div class="am-panel-group">

      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">新闻目录</div>
        <ul class="am-list blog-list">


        </ul>
      </section>


    </div>
  </div>

</div>




