<style type="text/css">
    .am-panel-default{
        position:relative;
    }
    .icon-arr {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 10px;
        height: 15px;
        background: url(/assets/icon_order.png) 0 0 no-repeat;
        background-size: 100px 100px;
    }
        a{
            margin-left: 15px;
        }

</style>
<div class="am-list-news-hd "><a href="##"><h2>产品标准</h2><span class="am-list-news-more am-fr">更多 »</span></a></div>

<ul class="am-list">
  <li><a href="product_detail">升降机操作注意事项 <span class="icon-arr"></span></a></li>
  <li><a href="product_detail">如何安全操作车载式高空作业平台？ <span class="icon-arr"></span></a></li>
  <li><a href="product_detail">如何安全操作车载式高空作业平台？ <span class="icon-arr"></span></a></li>
  <li><a href="product_detail">自行式高空作业平台过坑洼凸起路面？。 <span class="icon-arr"></span></a></li>
  <li><a href="product_detail">高空作业安全防护用具有哪些？ <span class="icon-arr"></span></a></li>
  <li><a href="product_detail">防静电元件盒的功能 <span class="icon-arr"></span></a></li>
</ul>