

<style>
    @media only screen and (min-width: 1200px) {
        .blog-g-fixed {
            max-width: 1200px;
        }
    }

    @media only screen and (min-width: 641px) {
        .blog-sidebar {
            font-size: 1.4rem;
        }
    }

    .blog-main {
        padding: 20px 0;
    }

    .blog-title {
        margin: 10px 0 20px 0;
    }

    .blog-meta {
        font-size: 14px;
        margin: 10px 0 20px 0;
        color: #222;
    }

    .blog-meta a {
        color: #27ae60;
    }

    .blog-pagination a {
        font-size: 1.4rem;
    }

    .blog-team li {
        padding: 4px;
    }

    .blog-team img {
        margin-bottom: 0;
    }

    .blog-footer {
        padding: 10px 0;
        text-align: center;
    }
</style>
</head>
<body>


<div class="am-g am-g-fixed blog-g-fixed">
  <div class="col-md-8">
    <article class="blog-main">
      <h3 class="am-article-title blog-title"  style="text-align: center">
        <span>叉车轮胎出现非正常磨损的原因</span><br><span>使用注意事项 </span>
      </h3>
      <hr>

      <div class="am-g blog-content">
        <div class="col-lg-7">

          <div>&nbsp;（一）叉车轮胎出现非正常磨损的主要原因</div >

          <div>&nbsp; &nbsp; &nbsp; 1、在一定的胎压下，由于帘布和帘线的应力增大，挠曲变形会加大，导致胎壁部位出现折断、松散和帘布的脱层，胎体的受力将超出允许的应力和轮胎接地的压力，导致胎体温度升高，承载能力下降，因此胎肩与地面接触容易产生摩擦；使用不当同样也会造成磨损，叉车的轮胎是有一个适宜的轮胎气压，当轮胎的气压高于标准值的时候，胎冠中央接地，轮胎与地面接触面积减少，单位上的负荷就会变大，导致帘线疲劳过程加速，引起帘线拉断，会造成轮胎的早期爆胎；道路条件同样会影响到轮胎的使用寿命，影响到轮胎与地面接触的抹茶粉情况及轮胎受到的动载荷。</div>

          <div>&nbsp; &nbsp; &nbsp; 2、当轮胎受到油脂。酸性物质及长时间的高温作用下，轮胎的物质性能将发生变化，承载能力将大大降低，使用过程中很容易发生爆胎的情况。另外，受油腐蚀过的轮胎会出现封气层块状剥落、胎口出现小面积脱落，以及胎体帘线与橡胶脱落等现象。由于补片无法与含油橡胶亲和，因此即使轮胎的损坏伤口很小，也失去了修补的可能性。</div>

          <div>&nbsp; &nbsp; &nbsp; 3、叉车使用过程中，如果操作不当，例如快速起步，胎面和路面的滑移增大，行驶和作业中频繁使用紧急制动，就会引起轮胎的行驶阻力增加，造成胎面胎冠局部磨损。使用中一次紧急制动可磨去花纹高0.9mm，相当于正常行驶4000km磨损量。行车时，不经心的走过障碍物，会使轮胎局部变形或刮伤胎面而导致其破损。非正常造成的磨损很多都是可以预防的，这就需要司机及相关人员对轮胎的维护保养特别用心。</div>

          <div>（二）叉车轮胎使用的注意事项</div>

          <div>&nbsp; &nbsp; &nbsp; 1、加强对轮胎的维护。为了走远路人们会选择舒适的鞋子，对轮胎的维护保养，要做到”四勤“：</div>

          <div>（1）勤查气压（按照规定的气压给轮胎充气，在冷却及一定载荷下定期检查和调整轮胎的气压）。</div>

          <div>（2）勤查温胎（夏季温度高，避免阳光直射轮胎，不得采用泼凉水或放气降压；冬季露天停放时间过长的话，应在轮胎下面垫上木板，起步后要先热热车）。</div>

          <div>（3）勤挖石子（要不时剔除潜在胎纹之间的碎石、玻璃和金属片，如果伤口过大，应及时更换新的轮胎）。</div>

          <div>（4）勤塞小洞（要及时检查轮胎割破、开裂等情况）。</div>

          <div>&nbsp; &nbsp; &nbsp; &nbsp;2、合理选择和搭配轮胎。根据作业的车速、路面情况、叉车自重与货物产生的静载荷、叉车行驶时的动载荷搭配轮胎。</div>

          <div>&nbsp; &nbsp; &nbsp; &nbsp;3、防止叉车超载，货物要装在平衡。</div>

          <div>&nbsp; &nbsp; &nbsp; &nbsp;4、提高驾驶技术。起初时应慢抬离合器踏板，平稳起步。行驶时最高时速应不超过轮胎级别低的时速限制。行驶过程中应尽量避免急加速、急制动和急转向。行车中应注意散落在道路上粗大、尖锐和锋利的物料。当遇上石块和坑洞等障碍物时，应减速通过或避开。</div>


        </div>
      </div>
    </article>




    <hr class="am-article-divider blog-hr">
    <ul class="am-pagination blog-pagination">
      <li class="am-pagination-prev"><a href="">&laquo; 上一页</a></li>
      <li class="am-pagination-next"><a href="">下一页 &raquo;</a></li>
    </ul>
  </div>

  <div class="col-md-4 blog-sidebar">
    <div class="am-panel-group">

      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">新闻目录</div>
        <ul class="am-list blog-list">


        </ul>
      </section>


    </div>
  </div>

</div>












