<style type="text/css">
    .am-panel-default{
        position:relative;
    }
    .icon-arr {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 10px;
        height: 15px;
        background: url(/assets/icon_order.png) 0 0 no-repeat;
        background-size: 100px 100px;
    }
    a{
        margin-left: 15px;
    }

</style>
<div class="am-list-news-hd "><a href="##"><h2>使用经验</h2><span class="am-list-news-more am-fr">更多 »</span></a></div>

<ul class="am-list">
  <li><a href="use_detail">卓仕产品线分类 <span class="icon-arr"></span></a></li>
  <li><a href="use_detail">卓仕物流装卸方案实施图 <span class="icon-arr"></span></a></li>
  <li><a href="use_detail">叉车轮胎出现非正常磨损的原因及使用注意事项 <span class="icon-arr"></span></a></li>
  <li><a href="use_detail">叉车实心轮胎常见质量问题及发生原因 <span class="icon-arr"></span></a></li>
  <li><a href="use_detail">尼龙脚轮的优点及使用环境 <span class="icon-arr"></span></a></li>
  <li><a href="use_detail">脚轮的基础知识 <span class="icon-arr"></span></a></li>
</ul>