<ul class="side-nav">
  <li class="heading"><img src="http://www.cheuks.com/images/ltt_tech.gif"></li>

  <li><a href="" data-search="">产品标准</a></li>
  <li><a href="" data-search="">故障分析</a></li>
  <li><a href="" data-search="">使用经验</a></li>
  <li><a href="" data-search="">资料下载</a></li>



</ul>