


<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a class="title" href="/member">技术中心</a>
    <ul id="panel1b" class="side-nav   active">
      <li><a href="/pages/techaicl" data-search="">产品标准</a></li>
      <li><a href="/pages/gzfx" data-search="">故障分析</a></li>
      <li><a href="/pages/syjy" data-search="">使用经验</a></li>
      <li><a href="#" data-search="">资料下载</a></li>


    </ul>
  </dd>
    </dl>