
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a class="title" href="#panel1b">购物指南</a>

      <ul id="panel1b" class="side-nav content active">

        <li><a href="">如何注册</a></li>

        <li><a href="#" >如何购物</a></li>

        <li><a href="#" >订单状态</a></li>

        <li><a href="#" >购物流程图</a></li>
         </ul>


  </dd>
  <dd class="accordion-navigation">
    <a class="title" href="#panel2b">配送方式</a>

      <ul id="panel2b" class="side-nav active">

        <li><a href="/pages/smzt">上门自提</a></li>

        <li><a href="/pages/kdsh" >快递送货</a></li>

        <li><a href="/pages/kdsh" >特快专递（EMS）</a></li>

      </ul>

  </dd>
  <dd class="accordion-navigation">
    <a class="title" href="#panel3b">支付方式</a>
    <ul id="panel3b" class="side-nav active">

      <li><a href="/pages/zxzf">现金支付</a></li>

      <li><a href="/pages/yjsh" >银行汇款</a></li>

      <li><a href="/pages/kdsh" >货到付款</a></li>
      <li><a href="/pages/hdfk" >在线支付</a></li>

    </ul>
  </dd>
  <dd class="accordion-navigation">
    <a class="title" href="#panel4b">售后服务</a>
    <ul id="panel4b" class="side-nav active">
   <li><a href="/pages/zxzf">换货流程</a></li>
   <li><a href="/pages/yjsh" >退货流程</a></li>
   <li><a href="/pages/kdsh" >售后流程</a></li>
   <li><a href="/pages/hdfk" >售后政策</a></li>

    </ul>
  </dd>
</dl>