
<style type="text/css">
    img{
        width: 70px;
        height: 40px;
    }


    .aaa{
        margin: 0;
        float: left;
        font-size: 15px
    }
</style>
<script>
    var ui = 'touch';
</script>

</head>





<header id="header" class="header clearfix">

  <a class=" aaa" href="javascript:history.go(-1);">上一页</a>
  <span class="headtit">优惠劵领取</span>
  <div class="head_right fr"><a href="/tairyo" mars_sead="nav_home_btn"><span class="h_home"></span></a></div>
</header>
<div class="space10"></div>
<ul id="J_CouponsList" class="new-coupons-list">


<li>
  <div class="coupon-wrapper">
    <h2><a  href="/coupon/lingqu" title="优惠券，满100元减10元金芭浪店抵用券">满100元减10元金芭浪店抵用券</a>
      <i class="hot">hot</i>

    </h2>
    <div class="coupon"><!--left begin-->
            <span class="left"><span class="description"><a  href="lingqu" title="金芭浪优惠券，满100元减10元一金芭浪店抵用券">
              满<em>100</em>减<em>10</em></a> </span><span class="store-logo"><a  rel="nofollow" href="" href2="" class="clicktrick" title="1号店优惠券，满100元减10元金芭浪店店抵用券">

              <img alt="" title="金芭浪店" src="/assets/tairyo/you.png">
            </a> </span></span><!--left end--><!--right begin-->
            <span class="right">
                
                <em class="free">
                  密码券</em>
                <!--price or coupon type end-->
                <a  href="/coupon/lingqu" title="优惠券，满100元减10元金芭浪店抵用券">

                  <span class="get"><b></b>立即领取</span>

                </a></span><!--right end-->
    </div>

    <div class="info">

      <em><i class="date"></i>还剩
        7天 </em>

      <em><i class="remain"></i>已领:153470</em>

      <em>今日剩余:258</em>


      <br/>
    </div>

  </div>
  <br/>
</li>

  <li>
    <div class="coupon-wrapper">
      <h2><a  href="/coupon/lingqu" title="优惠券，满100元减10元金芭浪店抵用券">满100元减10元金芭浪店抵用券</a>
        <i class="hot">hot</i>

      </h2>
      <div class="coupon"><!--left begin-->
            <span class="left"><span class="description"><a  href="lingqu" title="金芭浪优惠券，满100元减10元一金芭浪店抵用券">
              满<em>100</em>减<em>10</em></a> </span><span class="store-logo"><a  rel="nofollow" href="" href2="" class="clicktrick" title="1号店优惠券，满100元减10元金芭浪店店抵用券">

              <img alt="" title="金芭浪店" src="/assets/tairyo/you.png">
            </a> </span></span><!--left end--><!--right begin-->
            <span class="right">

                <em class="free">
                  密码券</em>
                <!--price or coupon type end-->
                <a  href="/coupon/lingqu" title="优惠券，满100元减10元金芭浪店抵用券">

                  <span class="get"><b></b>立即领取</span>

                </a></span><!--right end-->
      </div>

      <div class="info">

        <em><i class="date"></i>还剩
          7天 </em>

        <em><i class="remain"></i>已领:153470</em>

        <em>今日剩余:258</em>



      </div>

    </div>

  </li>










</ul>



<br/>
<br/>