<style type="text/css">
    .aaa{
        margin: 0;
        float: left;
        font-size: 15px
    }
  img{
      width: 100%;
  }
</style>
<script>
    var ui = 'touch';
</script>

</head>





<header id="header" class="header clearfix">

  <a class="aaa" href="javascript:history.go(-1);">上一页</a>
  <span class="headtit">领取优惠券</span>
  <div class="head_right fr"><a href="/m" mars_sead="nav_home_btn"><span class="h_home"></span></a></div>
</header>
<div class="space10"></div>


<div  class="youhuijuan" >
  <ul  >
    <li >
      <img src="/assets/tairyo/sanwenyu.jpg">
    </li>
  </ul>
</div>
<div class="normal_m">
  <ul class="normal_m_u detail clear">
    <!--购买价格-->

    <li><em>有效期：</em>2014年10月31日 23:59:00止<br>
    </li>

    <li><em>优惠券数：</em> 已发放 <i>
      19290</i> 张

      ，今日还剩<i>260</i>张</li>

    <li><em>领取限制：</em>

      每天限领<i>1</i>张优惠券，每月最多领取<i>2</i>张券

    </li>

    <!--<li><em>更多券：</em>更多<a href="/coupon" title="优惠券">优惠券请点击</a>-->
    <!--</li>-->

  </ul>
  <!--购买或领取按钮-->


</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!--此处可以添加样式 ，但是目前还没有考虑，-->
<div class="goods_con area_con_grey">
  <h3 class="title"  >【使用条件】</h3>
  1、验证手机后，激活抵用券
  <br/>2抵用券激活码有效期为2014年5月1日至2014年10月31日，抵用券激活后30日内使用有效
  <br/>3本券每笔订单仅可使用1张且不可与其它金芭浪店抵用券同时使用；
  <br/>4活动中同一中奖者可允许重复获得本抵用券；
  <br/>5抵用券不可找零，不得转让，不能兑换现金；
  <br/>
</div>
<div class="goods_con area_con_grey">
  <h3 class="title"  >【如何使用】</h3>
  1、使用领取到的金芭浪抵用券激活码在下面页面激活
  <br/><a href="#">xxxx</a>
  <br/>“抵用券激活码”就是您在券妈妈优惠券网领取到的代码。
  <br/>完成激活后，抵用券将自动发放至您金芭浪店的用户账户中
  <br/>2.在进入结算流程，选择支付方式时，若账户中存在符合条件的抵用券则直接显示
  <br/>注意：分类抵用券及全场抵用劵不支持"货到付款及刷卡"付款方式，如需使用抵用劵请选择其它付款方式。

  <br/>
</div>
<div class="goods_con area_con_grey">
  <h3 class="title"  >温馨提示：</h3>
  1.如果你需要多张优惠券，可以尝试上方“最新领取记录”区域券妈妈其他会员领取过的优惠券
  <br/>2.每张券领到后请尽快使用，领取后<i ><font color="red">2个小时</font></i>内只有你自己知道券代码，
  但<i ><font color="red">2个小时</font></i>后就会在当前页面显示出来。
  <br/>还请各位亲每张优惠券，在此叩谢!
  <br/>完成激活后，抵用券将自动发放至您一号店的用户账户中
  <br/>已领取的券在您的账号中心 <a href="/mycoupon">我领取的优惠券</a>中都可以查看到

  <br/>
</div>
<div class="goods_con area_con_grey">
  <h3 class="title"  >最新领取记录</h3>
  <p class="msg_info">
    领取的优惠券<span style="color: Red;">2小时</span>后自动公开，请大家在领券后请尽快使用！公开的券号可能未被使用,你可以去<span style="color: red">试试运气</span>！</p>
  <table cellspacing="1" cellpadding="1" id="used_number_table" border="1px" class="used_number">
    <tbody>
    <tr>
      <th>
        领取用户
      </th>
      <th>
        券码
      </th>
      <th>
        是否使用
      </th>
      <th>
        领取时间
      </th>
    </tr>
    </tbody>
    <tbody id="usedQuanTbody">



    <tr  class="trhide">
      <td>
        爱在天涯

      </td>
      <td>
        43235664C8
      </td>
      <td>

        未知

      </td>
      <td>
        7月24日10:38
      </td>
    </tr>

    <tr  class="trhide">
      <td>
        瑞稀

      </td>
      <td>
        4322D266V8
      </td>
      <td>

        未知

      </td>
      <td>
        7月24日10:26
      </td>
    </tr>

    </tbody>
  </table>
</div>

<div class="clear">
</div>
<!--Admin Pamel-->
<!--管理员看到的-->
<div class="clear">
</div>
</div>
<div class="fanhui"  >
  <a href="youhuijuan.html"  >放弃？返回</a>
</div>

<div class="btn_red">
  <a href="" ><font color="white">确认领取</font></a>
</div>




</html>