 <link rel="stylesheet" type="text/css" href="/assets/mobile/jd/base.css" charset="gbk"/>
 <link rel="stylesheet" type="text/css" href="/assets/mobile/jd/2013/ware/search_html5.css" charset="gbk"/> 
 <link rel="stylesheet" type="text/css" href="/assets/mobile/jd/chapter.css" charset="gbk"/>  
 <script type="text/javascript">
      var _winLocation=window.location.href;//获得当前页面的路径，根据路径规则进行逐页替换
      var _isWebKit = '__proto__' in {};//是否是webkit内核
      if(_isWebKit){//如果是webkit内核，则分模块使用zepto
        //要使用zeptojs的路径列表，可以做为分模块替换的开关
        var _locationList=new Array();
        //活动模块
        _locationList.push('../activity/proActList');
        _locationList.push('../activity/proActWareList');
        _locationList.push('../activity/list');
        //商品分类模块
        _locationList.push('../category/');
        //京东快讯模块
        _locationList.push('../newslist.html');
        _locationList.push('../newslist/');
        _locationList.push('../news/');
        //机票模块
        _locationList.push('../airline/');
        //酒店模块
        _locationList.push('../hotel/');
        //团购模块
        _locationList.push('../tuan/');
        //首页相关
        _locationList.push('../hotbrand.html');//品牌馆
        //商品筛选相关
        _locationList.push('../ware/expandSort.action');
        _locationList.push('../ware/categoryFilter.action');
        _locationList.push('../ware/search.action');
        _locationList.push('../products/');
        
        _locationList.push('../notice/');//通告模块
        _locationList.push('../coupons/');//随地惠模块
        _locationList.push('../chongzhi/');//手机充值模块
        _locationList.push('../comment/');//手机推荐模块
        _locationList.push('../pay/');//支付
        _locationList.push('../order/');//订单
        var _needReplace = false;
        //如果当前路径符合要使用的路径规则，则进行替换
        for(var i=0;i<_locationList.length;i++){
          if(_winLocation.indexOf(_locationList[i])!=-1){
            _needReplace=true;
            break;
          }
        }
        //如果是首页的话，则使用zepto
        var _tmp = _winLocation.replace(/(^http:\/\/)|(\/*$)/g,'');
        if(_tmp.indexOf('/')<0 || (_tmp.split('/').length<=2 && _tmp.indexOf('/index')>=0)){
          _needReplace=true;
        }
        //如果是商品详情页的话，则使用zepto
        var _dlocationList=new Array();
        _dlocationList.push(/\/product\/([0-9]+)\.html/);
        _dlocationList.push(/\/orderComment\/([0-9]+)\.html/);
        _dlocationList.push(/\/consultations\/([0-9]+)\.html/);
        _dlocationList.push(/\/consultations\/([0-9]+)-([0-9]+)\.html/);
        _dlocationList.push(/\/comments\/([0-9]+)\.html/);
        for(var i=0,len=_dlocationList.length;i<len;i++){
          if(_dlocationList[i].test(_winLocation)){
            _needReplace=true;
            break;
          }
        }
        if(_needReplace){
          document.write('<script src="/assets/mobile/jd/zepto.min.js"><\/script>');
          document.write('<script type="text/javascript">window.jQuery=window.Zepto;<\/script>');
        }else{
          document.write('<script src="/assets/mobile/jd/jquery-1.6.2.min.js"><\/script>');
        }
      }else{//如果是非webkit内核直接使用jquery
        document.write('<script src="/assets/mobile/jd/jquery-1.6.2.min.js"><\/script>');
      }
      </script>
      <script type="text/javascript" src="/assets/mobile/jd/html5/common.js"></script>
      <script type="text/javascript" src="/assets/mobile/jd/html5/spin.min.js"></script>
    </head>

    <body id="body">
      <a name="top"></a>
      <header>
        <div class="new-header">
          <a href="javascript:pageBack();" class="new-a-back" id="backUrl"><span>返回</span></a>
          <h2></h2>
          <a href="javascript:void(0)" id="btnJdkey" class="new-a-jd"><span>京东键</span></a>
        </div>
        <div class="new-jd-tab" style="display:none" id="jdkey">
          <div class="new-tbl-type">
            <a href="/mobile/home/" class="new-tbl-cell">
              <span class="icon">首页</span>
              <p style="color:#6e6e6e;">首页</p>
            </a>
            <a href="../category/all.html@sid=e0d0f025d6d3e8e8d7be5428c43ef911" class="new-tbl-cell">
              <span class="icon2">分类搜索</span>
              <p style="color:#6e6e6e;">分类搜索</p>
            </a>
            <a href="javascript:void(0)" id="html5_cart" class="new-tbl-cell">
              <span class="icon3">购物车</span>
              <p style="color:#6e6e6e;">购物车</p>
            </a>
            <a href="../user/home.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911" class="new-tbl-cell">
              <span class="icon4">我的京东</span>
              <p style="color:#6e6e6e;">我的京东</p>
            </a>
          </div>
        </div>
      </header>
      <div class="new-ct new-p-re">
        <div class="new-search">
          <div class="new-goods-img-lst new-tbl-type">
              <div class="new-tbl-cell">
                            <a href="../product/1.html" class="new-goods-section">
                      <div class="new-img-box">
                            <img src="http://img13.360buyimg.com/n3/g15/M07/05/1D/rBEhWlIUf7oIAAAAAALnZATd9X4AACSsAGXLa8AAud8547.jpg" onerror="this.src=''" width="130" height="130" alt="" class="new-goods-img">
                            <span class="new-goods-txt new-p-re">
                                <strong class="new-txt">¥159.00</strong>
                                <span class="new-txt2" style="color:red">
                                  </span>
                            </span>
                        </div>
                    </a>
                </div>
                <div class="new-tbl-cell">
                            <a href="../product/1.html" class="new-goods-section">
                      <div class="new-img-box">
                            <img src="http://img10.360buyimg.com/n3/g15/M04/09/13/rBEhWVIu6l8IAAAAAAQfYNF16GYAADAkgJhMXUABB94158.jpg" onerror="this.src=''" width="130" height="130" alt="" class="new-goods-img">
                            <span class="new-goods-txt new-p-re">
                               <strong class="new-txt">¥129.00</strong>
                                <span class="new-txt2" style="color:red">
                                  </span>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      </div>

      <div class="new-paging">
        <div class="new-tbl-type">
          <div class="new-tbl-cell">
            <span class="new-a-prve"><span>上一页</span>
          </div>
          <div class="new-tbl-cell new-p-re">
            <div sytle="new-a-page">
              <span class="new-open">第1页</span>
            </div>
          </div>
          <div class="new-tbl-cell">
            <a href="getWare.action@page=2&resourceType=index_promotion&resourceValue=f1&sid=e0d0f025d6d3e8e8d7be5428c43ef911" class="new-a-next"><span>下一页</span></a>
          </div>
        </div>
      </div>

      <div class="login-area" id="footer">
        <div class="login">
          <a href="../user/login.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911">登录</a><span class="lg-bar">|</span><a href="../user/mobileRegister.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911">注册</a>
          <span  class="new-fr"><a href="../showvote.html@sid=e0d0f025d6d3e8e8d7be5428c43ef911">反馈</a><span class="lg-bar">|</span><a href="#top">回到顶部</a></span>
        </div>
        <div class="version"><a href="../index.html@v=w&sid=e0d0f025d6d3e8e8d7be5428c43ef911">标准版</a><a href="javascript:void(0)" class="on">触屏版</a><a href="pcsite.action" id="toPcHome">电脑版</a></div>
        <div class="copyright">&copy; m.jd.com </div>
      </div>
      <script type="text/javascript">
      $("#unsupport").hide();
if(!testLocalStorage()){ //not support html5
  if(0!=0 && !$clearCart && !$teamId){
    $("#html5_cart_num").text(0>0>0);
  }
}else{
  updateToolBar('');
}

$("#html5_cart").click(function(){
//  syncCart('e0d0f025d6d3e8e8d7be5428c43ef911',true);
location.href='../cart/cart.action';
});

function reSearch(){
  var depCity = window.sessionStorage.getItem("airline_depCityName");
  if(testSessionStorage() && isNotBlank(depCity) && !/^\s*$/.test(depCity) && depCity!=""){
    var airStr = '<form action="../airline/list.action" method="post" id="reseach">'
    +'<input type="hidden" name="sid"  value="e0d0f025d6d3e8e8d7be5428c43ef911"/>'
    +'<input type="hidden" name="depCity" value="'+ window.sessionStorage.getItem("airline_depCityName") +'"/>'
    +'<input type="hidden" name="arrCity" value="'+ window.sessionStorage.getItem("airline_arrCityName") +'"/>'
    +'<input type="hidden" name="depDate" value="'+ window.sessionStorage.getItem("airline_depDate") +'"/>'
    +'<input type="hidden" name="depTime" value="'+ window.sessionStorage.getItem("airline_depTime") +'"/>'
    +'<input type="hidden" name="classNo" value="'+ window.sessionStorage.getItem("airline_classNo") +'"/>'
    +'</form>';
    $("body").append(airStr);
    $("#reseach").submit();
  }else{
    window.location.href='../airline/index.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911';
  }
}
 //banner 关闭点击
 $('.div_banner_close').click(function(){
  $('#div_banner_header').unbind('click');
  jQuery.post('addClientCookieVal.json',function(d){
    $('#div_banner_header').slideUp(500);
  });
});
    //banner 下载点击
    $('.div_banner_download').click(function(){
     var downloadUrl = $(this).attr('url');
     jQuery.post('addClientCookieVal.json',function(d){
       window.location.href=downloadUrl;
     });
   });

    </script>
  </body>