<div class="instruct"> 
	<p style="font-size:16px;text-align:center;">售后服务须知 </p>
	<p>&nbsp;</p>
	<p>TRADE-V贸威售后服务包括：七天无理由退换货和国家规定的商品售后服务 </p>
	<p>&nbsp;</p>
	<p>为了保障您的权益，商品送达时，请检查外包装是否有破损，签收后可拆开包裹清点货品，如发现与订单不符，或外包装破损，及时反馈给送货人员，双方确认有问题时应当面拒收并马上联系我们。&nbsp; </p>
	<p>注：当您签收后，如果发现非物流问题，请您及时与我们联系，我们会第一时间为您解决。 </p>
	<p>&nbsp;</p>
	<p><a href="http://www.TRADE-V.com">www.TRADE-V.com</a>提供七天无理由退换货服务 </p>
	<p>1、&nbsp;换货<br> (1)、自收到货品七日内（以签收日为准）您可通过TRADE-V贸威客服电话、在线客服或者登录<a href="http://www.TRADE-V.com">www.TRADE-V.com</a>申请退换货。我们会尽快为您办理换货&nbsp;</p>
	<p> (2)、TRADE-V贸威为每个订单提供一次免费的物流人员上门退换商品服务&nbsp; </p>
	<p>(3)、TRADE-V贸威不接受客户自行发送服务 </p>
	<p>2、退货<br> (1)、自收到货品七日内（以签收日为准）您可通过TRADE-V贸威客服电话、在线客服或者登录<a href="http://www.TRADE-V.com">www.TRADE-V.com</a>申请退换货。我们会尽快为您办理换货&nbsp;&nbsp; </p>
	<p>(2)、TRADE-V贸威为每个订单提供一次免费的物流人员上门退换商品服务，如果所购商品有赠品或开具有发票，请您将赠品和发票一并装箱，如果您用的是货到付款，请同时提交付款账号&nbsp;</p>
	<p>(3)、TRADE-V贸威&nbsp;收到您退回的商品，检验无误后，一周内为您办理退货事宜。&nbsp;退款直接转入您付款账号&nbsp; </p>
	<p>(4)、TRADE-V贸威不接受客户自行发送服务 </p>
	<p>&nbsp;</p>
	<p>其他售后服务 </p>
	<p>trade-v贸威是多品牌服务平台，各品牌商品在售后服务标准略有不同。其他任何您所需要的售后服务，请联系我们。&nbsp; </p>
	<p>&nbsp;</p>
	<p>以下情况恕不接受售后服务 </p>
	<p>1.&nbsp;非本商店出售的货品&nbsp; </p>
	<p>2.&nbsp;任何已使用或被污损的货品&nbsp; </p>
	<p>3.&nbsp;货品配件、吊牌、销售单据、包装、赠品等缺失&nbsp; </p>
	<p>4.&nbsp;货品经穿着、洗涤，遭污损和损坏等或因不当使用和保管导致出现质量问题&nbsp; </p>
	<p>&nbsp;</p>
	<div class="next"><%=link_to "下一步",aftersales_path,:class=>"btn btn-inverse"%></div>
</div>