     <span style="border: 4px solid darkcyan"></span><span> 技术资料下载</span>
<ul class="side-nav">
  <%@files.each do |file|%>
     <li> <%=link_to file.url, "#{file.url}"%> </li>

  <%end%>
</ul>


<div class="pagination">
  <%=will_paginate @files, container: false%>
</div>