<div class="title">
  <span style="border: 3px solid #ae3cbd"> </span>
  <span style="margin-left: 10px;font-size: 20px;font-weight: bold">资料下载</span>
  <hr style="margin: 0;border: 1px dotted #ae3cbd;">  <br>
</div>
     <ul class="side-nav">
  <%@files.each do |file|%>
     <li> <%=link_to file.name,"#{file.url}"%> </li>

  <%end%>
</ul>


<div class="pagination">
  <%=will_paginate @files, container: false%>
</div>