
<ul class="am-gallery am-gallery-overlay" data-am-widget="gallery">
  <li>
    <div class="am-gallery-item">
      <img class="xqimg" src="http://img10.360buyimg.com/tuangou/jfs/t487/28/1287049954/46872/9d713f52/54c8bb03N30f34cb2.jpg!q80.jpg" width="100%">
      <h3 class="am-gallery-title" style="color:white">
        200人已团</h3>

    </div>
  </li>

</ul>
<section>
  <div class="cpxq_area_1">
    <div class="onefloor">
      <div class="left"><span>果园老农美果盛宴</span></div>
      <div class="right">
        <p><span style="color: rgb(0, 0, 0); font-size: 14px;"><span id="day_show">0天</span><span id="hour_show">0时</span><span id="minute_show">0分</span><span id="second_show">0秒</span></span></p>
      </div>
    </div>
    <p class="twofloor">仅售106元,即可享受果园老农美果盛宴坚果礼盒干果零食大礼包 年货礼盒 1454g</p>
    <div class="threefloor">
      <div class="left"><span class="s1">￥106</span><span class="s2">￥119</span></div>
      <div class="right">
        <a data-role="button" href="javascript:void (0)" id="orderbuy">立即抢购</a>
        <div href="javascript:;" id="orderbuy2" style="display:none;">活动结束</div>
      </div>
      </div>
  </div>
</section>


<script type="text/javascript">

    var intDiff = parseInt(1000000000);//倒计时总秒数量

    function timer(intDiff){
        window.setInterval(function(){
            var day=0,
                    hour=0,
                    minute=0,
                    second=0;//时间默认值
            if(intDiff > 0){
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            $('#day_show').html(day+"天");
            $('#hour_show').html('<s id="h"></s>'+hour+'时');
            $('#minute_show').html('<s></s>'+minute+'分');
            $('#second_show').html('<s></s>'+second+'秒');
            intDiff--;
        }, 1000);
    }

    $(function(){
        timer(intDiff);
    });</script>