html {
	-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	line-height: 1.6;
}
input {
	outline: 0px;
}
textarea {
	outline: 0px;
}
button {
	outline: 0px;
}
a {
	outline: 0px;
}
body {
	margin: 0px;
}
h1 {
	margin: 0px;
}
h2 {
	margin: 0px;
}
h3 {
	margin: 0px;
}
h4 {
	margin: 0px;
}
h5 {
	margin: 0px;
}
h6 {
	margin: 0px;
}
p {
	margin: 0px;
}
ul {
	margin: 0px;
}
ol {
	margin: 0px;
}
dl {
	margin: 0px;
}
dd {
	margin: 0px;
}
fieldset {
	margin: 0px;
}
textarea {
	margin: 0px;
}
fieldset {
	padding: 0px;
}
legend {
	padding: 0px;
}
textarea {
	padding: 0px;
}
input {
	padding: 0px;
}
ul {
	padding-left: 0px; list-style-type: none;
}
ol {
	padding-left: 0px; list-style-type: none;
}
a img {
	border: 0px currentColor; border-image: none;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
main {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
audio:not([controls]) {
	height: 0px; display: none;
}
[hidden] {
	display: none;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0px;
}
button {
	margin: 0px; font-family: inherit; font-size: 100%;
}
input {
	margin: 0px; font-family: inherit; font-size: 100%;
}
select {
	margin: 0px; font-family: inherit; font-size: 100%;
}
textarea {
	margin: 0px; font-family: inherit; font-size: 100%;
}
button {
	text-transform: none;
}
select {
	text-transform: none;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
html input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
html input[disabled] {
	cursor: default;
}
input[type='checkbox'] {
	padding: 0px; box-sizing: border-box;
}
input[type='radio'] {
	padding: 0px; box-sizing: border-box;
}
input[type='search'] {
	box-sizing: content-box; -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
textarea {
	overflow: auto; vertical-align: top; resize: none;
}
select {
	border-radius: 0px; -webkit-border-radius: 0;
}
body {
	color: rgb(34, 34, 34); font-family: "Microsoft YaHei","黑体",Helvetica,Arial,Tahoma,sans-serif; font-size: 14px;
}
a {
	color: rgb(70, 119, 189); text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.container_box {
	min-height: 630px;
}
.float_layout.container_box {
	overflow: hidden;
}
.float_layout.container_box .col_side {
	width: 191px; padding-bottom: 9999em; margin-bottom: -9999em;
}
.float_layout.container_box .col_main {
	overflow: hidden;
}
.side_l.float_layout.container_box .col_side {
	float: left;
}
.side_r.float_layout.container_box .col_side {
	float: right;
}
.cell_layout.container_box {
	margin-left:30px;
}
.cell_layout.container_box .col_side {
	vertical-align: top; display: table-cell; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.cell_layout.container_box .col_main {
	vertical-align: top; display: table-cell; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.cell_layout.container_box .col_side {
	width: 20%; max-width: 191px;
}
.cell_layout.container_box .col_main {
	width: 2000px; height: 630px;
}
.cell_layout.container_box .col_side {
	
}
.cell_layout.container_box .col_main {
	
}
.side_r.cell_layout.container_box .col_side {
	
}
.col_ext {
	width: 20%;
}
.container_hd {
	line-height: 36px;
}
.main_hd {
	line-height: 36px;
}
.container_hd .info {
	text-align: right; margin-top: -36px;
}
.main_hd .info {
	text-align: right; margin-top: -36px;
}
.container_hd h2 {
	font-style: normal; font-weight: 400;
}
.main_hd h2 {
	font-style: normal; font-weight: 400;
}
.container_hd .extra_info {
	text-align: right; margin-top: -36px;
}
.main_hd .extra_info {
	text-align: right; margin-top: -36px;
}
.wrp.inner {
	width: 1000px; margin-right: auto; margin-left: auto;
}
body {
	min-width: 1000px; background-color: rgb(233, 234, 235);
}
.body {
	padding-top: 20px;
}
.col_side {
	border-right-color: rgb(197, 197, 197); border-right-width: 1px; border-right-style: solid;
}
.container_box {
	border-radius: 2px; border: 1px solid rgb(197, 197, 197); border-image: none; background-color: rgb(255, 255, 255); -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.main_hd {
	margin: 0px 50px; padding: 45px 0px 0px; border-bottom-color: rgb(219, 219, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.main_hd h2 {
	font-size: 16px;
}
.main_bd {
	padding: 25px 50px;
}
.grid_line {
	
}
.grid_line::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.grid_item {
	float: left;
}
.no_extra.grid_item {
	width: auto; overflow: hidden; float: none;
}
.no_extra_flex.grid_item {
	width: auto; vertical-align: top; float: none; display: table-cell;
}
.no_extra_flex.grid_item::after {
	height: 0px !important; line-height: 0; clear: both; display: block; visibility: hidden; content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}
.size1of1 {
	width: 100%;
}
.size1of2 {
	width: 50%;
}
.size1of3 {
	width: 33.33%;
}
.size1of4 {
	width: 25%;
}
.size1of5 {
	width: 20%;
}
.size1of6 {
	width: 16.66%;
}
.size1of7 {
	width: 14.28%;
}
.size1of8 {
	width: 12.5%;
}
.global_bar {
	text-align: right; line-height: 36px; background-color: rgb(43, 43, 43);
}
.account {
	line-height: 14px; font-size: 0px; display: inline-block;
}
.account a {
	color: rgb(112, 112, 112); letter-spacing: normal; padding-left: 8px; font-size: 14px; margin-left: 8px; border-left-color: rgb(112, 112, 112); border-left-width: 1px; border-left-style: solid; display: inline-block;
}
.account .notices.icon_common {
	margin-top: -10px;
}
.no_extra.account_meta {
	border-left-width: 0px;
}
.logo {
	font-size: 22px; display: inline-block;
}
.logo a {
	width: 250px; height: 40px; overflow: hidden; text-decoration: none; display: block;
}

.logo {
	margin-top: 10px; float: left;
}
.logo a {
	color: rgb(255, 255, 255);
}
.nav {
	line-height: 60px; font-size: 18px;
}
.nav_item {
	margin-left: 2em; vertical-align: top; display: inline-block;
}
.nav_item a {
	color: rgb(235, 235, 235); display: block;
}
.nav_item a:hover {
	color: rgb(150, 228, 67); text-decoration: none;
}
.selected.nav_item a {
	color: rgb(150, 228, 67);
}
.head_box {
	text-align: right; background-color: rgb(82, 82, 85);
}
.head_box .inner {
	height: 60px; overflow: hidden;
}
.foot .inner {
	color: rgb(158, 159, 159); padding-top: 12px; padding-bottom: 30px;
}

.foot .inner::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.copyright {
	line-height: 14px; text-align:center; color: rgb(158, 159, 159);text-align:center
}
.ft.links {
	text-align: center;
}
.foot_img{width:80px}

.ft.links .links_item {
	font-size: 14px;
}
.ft.links a {
	color: rgb(158, 159, 159);
}
.page_introduction .foot {
	margin-top: 40px;
}
.page_introduction .foot .inner {
	border-top-color: rgb(197, 197, 197); border-top-width: 1px; border-top-style: solid;
}
.icon_login {
	width: 22px; height: 22px; vertical-align: middle; display: inline-block;
}
.qq.icon_login {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px 0px;
}
.login_panel {
	border-radius: 3px; left: 50%; top: 50%; width: 450px; color: rgb(51, 51, 51); overflow: hidden; margin-left: -225px; position: fixed; z-index: 3; box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.35); -webkit-border-radius: 3px; -moz-border-radius: 3px; -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35); -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
}
.label_input.login_panel .login_input_box {
	display: block; position: relative;
}
.label_input.login_panel .login_label {
	top: 0px; position: absolute;
}
.prepend.login_panel .login_label {
	left: 0px;
}
.open.login_panel .login_label {
	left: 14px;
}
.open.login_panel .login_input_box {
	padding-right: 20px; padding-left: 60px;
}
.login_close {
	top: 10px; right: 10px; position: absolute;
}
.login_tips {
	border-top-color: rgb(215, 215, 215); border-top-width: 1px; border-top-style: solid; box-shadow: inset 0px 1px 0px 0px #fefefe; -moz-box-shadow: inset 0 1px 0 0 #fefefe; -webkit-box-shadow: inset 0 1px 0 0 #fefefe;
}
.login_tips .icon_login {
	margin-right: 5px;
}
.wx.login_tips {
	padding-top: 14px; margin-top: 22px;
}
.qq.login_tips {
	padding-top: 8px; margin-left: 20px;
}
.login_tips a {
	color: rgb(56, 170, 30);
}
.login_inner {
	padding-right: 50px; padding-bottom: 20px; background-color: rgb(246, 245, 245);
}
.wx.login_inner {
	padding-top: 20px; padding-left: 50px;
}
.qq.login_inner {
	padding-top: 15px; padding-left: 30px;
}
.login_iframe {
	width: 100%; height: 310px;
}
.login_fieldset {
	padding-top: 5px;
}
.login_legend {
	width: 100%; padding-bottom: 5px; font-size: 22px; font-style: normal; font-weight: 400; display: block;
}
.login_input_area {
	border-radius: 5px; border: 1px solid rgb(215, 215, 215); border-image: none; overflow: hidden; box-shadow: 0px 1px 0px 0px #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: 0 1px 0 0 #fff; -webkit-box-shadow: 0 1px 0 0 #fff;
}
.login_label {
	line-height: 48px;
}
.login_input_box {
	height: 46px; line-height: 46px; border-top-color: rgb(215, 215, 215); border-top-width: 1px; border-top-style: solid; background-color: rgb(250, 249, 249);
}
.login_input_box .frm_input {
	margin: 5px 0px; height: 37px;
}
.first.login_input_box {
	border-top-width: 0px;
}
.login_code_area {
	margin-top: 12px;
}
.login_code_area .verifycode .frm_input_box {
	border-color: rgb(215, 215, 215); width: 120px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.03); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.03); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.03);
}
.login_code_area .verifycode img {
	margin: 0px 5px 0px 4px;
}
.login_function_area {
	text-align: right; margin-top: 8px;
}
.login_function_area::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.login_function_area .frm_checkbox_label {
	float: left;
}
.login_function_area a {
	color: rgb(56, 170, 30);
}
.login_valid_area {
	margin-top: 5px;
}
.login_valid_area .frm_msg {
	width: auto; display: inline-block;
}
.login_tool_area {
	margin-top: 12px;
}
.login_tool_area .btn {
	padding: 0px 46px; height: 30px; line-height: 30px; margin-right: 10px;
}
button.btn {
	height: 37px; line-height: 33px;
}
.btn button {
	padding: 0px 36px; outline: 0px; border: 0px currentColor; border-image: none; height: 100%; overflow: visible; display: block; background-color: transparent;
}
.btn_input.btn {
	padding: 0px;
}
.btn_vcode.btn_input.btn {
	margin-left: 5px;
}
.btn_vcode.btn_input.btn button {
	padding: 0px; width: 110px;
}
.btn_vcode.btn {
	padding: 0px; width: 110px; margin-left: 5px;
}
.btn {
	border-width: 1px; border-style: solid; padding: 0px 36px; border-radius: 5px; height: 35px; text-align: center; line-height: 35px; overflow: visible; font-size: 14px; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.btn:hover {
	text-decoration: none;
}
.btn_mini.btn {
	padding: 0px 10px; height: 21px; line-height: 21px;
}
.btn_small.btn {
	padding: 0px 12px; height: 25px; line-height: 25px;
}
.btn_large.btn {
	padding: 0px 70px; height: 38px; line-height: 38px;
}
.btn_p20.btn {
	padding: 0px 20px;
}
.btn_p30.btn {
	padding: 0px 30px;
}
.btn_w125.btn {
	padding: 0px; width: 125px;
}
.btn_w150.btn {
	padding: 0px; width: 150px;
}
.btn_w220.btn {
	padding: 0px; width: 220px;
}
.btn_default {
	border-color: rgb(209, 209, 209); color: rgb(0, 0, 0); background-image: linear-gradient(rgb(241, 241, 241) 0px, rgb(241, 241, 241) 100%); background-color: rgb(241, 241, 241);
}
.btn_default button {
	color: rgb(0, 0, 0);
}
.btn_default:hover {
	border-color: rgb(195, 195, 195); color: rgb(0, 0, 0); box-shadow: 0px 1px 3px rgba(0,0,0,0.1); background-image: linear-gradient(rgb(241, 241, 241) 0px, rgb(241, 241, 241) 100%); background-color: rgb(241, 241, 241); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.btn_default:hover button {
	color: rgb(0, 0, 0);
}
.btn_warn {
	border-color: rgb(242, 77, 77); color: rgb(255, 255, 255); background-image: linear-gradient(rgb(242, 77, 77) 0px, rgb(242, 77, 77) 100%); background-color: rgb(242, 77, 77);
}
.btn_warn button {
	color: rgb(255, 255, 255);
}
.btn_warn:hover {
	border-color: rgb(242, 77, 77); color: rgb(255, 255, 255); box-shadow: 0px 1px 2px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(242, 77, 77) 0px, rgb(242, 77, 77) 100%); background-color: rgb(242, 77, 77); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn_warn:hover button {
	color: rgb(255, 255, 255);
}
.btn_primary {
	border-color: rgb(62, 172, 39); color: rgb(255, 255, 255); background-image: linear-gradient(rgb(74, 175, 51) 0px, rgb(74, 175, 51) 100%); background-color: rgb(74, 175, 51);
}
.btn_primary button {
	color: rgb(255, 255, 255);
}
.btn_primary:hover {
	border-color: rgb(61, 129, 12); color: rgb(255, 255, 255); box-shadow: 0px 1px 2px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(74, 175, 51) 0px, rgb(74, 175, 51) 100%); background-color: rgb(74, 175, 51); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn_primary:hover button {
	color: rgb(255, 255, 255);
}
.btn_disabled {
	border-color: rgb(206, 206, 206); color: rgb(186, 186, 187); cursor: default; background-image: linear-gradient(rgb(228, 228, 228) 0px, rgb(228, 228, 228) 100%); background-color: rgb(228, 228, 228);
}
.btn_disabled button {
	color: rgb(186, 186, 187); cursor: default;
}
.btn_disabled:hover {
	border-color: rgb(206, 206, 206); color: rgb(186, 186, 187); box-shadow: none; background-image: linear-gradient(rgb(228, 228, 228) 0px, rgb(228, 228, 228) 100%); background-color: rgb(228, 228, 228); -moz-box-shadow: none; -webkit-box-shadow: none;
}
.btn_disabled:hover button {
	color: rgb(186, 186, 187); cursor: default;
}
.btn_loading {
	border-color: rgb(206, 206, 206); color: rgb(186, 186, 187); padding-right: 30px; padding-left: 42px; position: relative; cursor: default; background-image: linear-gradient(rgb(228, 228, 228) 0px, rgb(228, 228, 228) 100%); background-color: rgb(228, 228, 228);
}
.btn_loading button {
	color: rgb(186, 186, 187); cursor: default;
}
.btn_loading:hover {
	border-color: rgb(206, 206, 206); color: rgb(186, 186, 187); box-shadow: none; background-image: linear-gradient(rgb(228, 228, 228) 0px, rgb(228, 228, 228) 100%); background-color: rgb(228, 228, 228); -moz-box-shadow: none; -webkit-box-shadow: none;
}
.btn_loading:hover button {
	color: rgb(186, 186, 187); cursor: default;
}
.btn_loading button {
	padding-right: 30px; padding-left: 42px; position: relative;
}
.btn_loading i {
	background: url("/assets/vshop/icon16_loading_light1d30e9.gif") no-repeat 0px 0px; left: 16px; top: 50%; width: 16px; height: 16px; margin-top: -8px; vertical-align: middle; display: inline-block; position: absolute;
}
.btn:hover {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.icon_radio {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -32px; width: 16px; height: 16px; margin-top: -0.2em; vertical-align: middle; display: inline-block;
}
.selected.icon_radio {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -58px;
}
.selected .icon_radio {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -58px;
}
.disabled.selected.icon_radio {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -84px;
}
.disabled.selected .icon_radio {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -84px;
}
.icon_checkbox {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -110px; width: 16px; height: 16px; margin-top: -0.2em; vertical-align: middle; display: inline-block;
}
.selected.icon_checkbox {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -136px;
}
.selected .icon_checkbox {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -136px;
}
.disabled.icon_checkbox {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -162px;
}
.disabled .icon_checkbox {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -162px;
}
.disabled.selected.icon_checkbox {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -188px;
}
.disabled.selected .icon_checkbox {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -188px;
}
.frm_tab {
	overflow: hidden;
}
.frm_tab_navs {
	
}
.frm_tab_navs::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.frm_tab_nav {
	border-color: rgb(209, 209, 209); border-radius: 0px; width: auto; height: 35px; color: rgb(0, 0, 0); line-height: 35px; padding-right: 36px; padding-left: 36px; margin-right: -1px; float: left; background-image: linear-gradient(rgb(241, 241, 241) 0px, rgb(241, 241, 241) 100%); background-color: rgb(241, 241, 241); -webkit-border-radius: 0; -moz-border-radius: 0;
}
.frm_tab_nav button {
	color: rgb(0, 0, 0);
}
.frm_tab_nav:hover {
	border-color: rgb(195, 195, 195); color: rgb(0, 0, 0); box-shadow: 0px 1px 3px rgba(0,0,0,0.1); background-image: linear-gradient(rgb(241, 241, 241) 0px, rgb(241, 241, 241) 100%); background-color: rgb(241, 241, 241); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.frm_tab_nav:hover button {
	color: rgb(0, 0, 0);
}
.frm_tab_nav:hover {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.tab {
    margin-left: 30px;

}
.tab li{
    float: left;
    padding: 20px;
}
.selected.frm_tab_nav {
	background: 0px rgb(136, 136, 136); border-color: rgb(158, 159, 159); color: rgb(255, 255, 255); box-shadow: inset 0px 3px 8px #555; -moz-box-shadow: inset 0 3px 8px #555; -webkit-box-shadow: inset 0 3px 8px #555;
}
.frm_tab_panel {
	padding: 10px 0px;
}
.frm_tab_split {
	margin-top: 20px; border-bottom-color: rgb(179, 179, 179); border-bottom-width: 1px; border-bottom-style: solid; position: relative; box-shadow: 0px 1px 0px 0px #fff; -moz-box-shadow: 0 1px 0 0 #fff; -webkit-box-shadow: 0 1px 0 0 #fff;
}
.frm_tab_split .arrow_stop {
	position: relative;
}
.frm_tab_split .arrow {
	border-width: 0px 12px 12px; border-style: dashed dashed solid; border-color: transparent transparent rgb(179, 179, 179); left: 0px; width: 0px; height: 0px; display: inline-block; position: absolute;
}
.frm_tab_split .arrow_out {
	top: -12px; border-bottom-color: rgb(179, 179, 179);
}
.frm_tab_split .arrow_in {
	top: -10px; border-bottom-color: rgb(255, 255, 255);
}
.frm_tab_split .arrow_extra {
	top: -11px; border-bottom-color: rgb(255, 255, 255);
}
.frm_tab_tips {
	color: rgb(193, 194, 195); padding-top: 4px;
}
.simple.form_wrp {
	text-align: center;
}
.simple.form_wrp .form {
	text-align: left; display: inline-block;
}
.tips_inline.form .frm_tips {
	width: auto; display: inline-block;
}
.frm_vertical_lh {
	line-height: 37px;
}
.frm_vertical_pt {
	padding-top: 0.35em;
}
.frm_fieldset {
	padding-top: 25px;
}
.no_legend.frm_fieldset {
	padding-top: 25px;
}
.frm_legend {
	width: 100%; padding-bottom: 5px; display: block;
}
.frm_legend .tips {
	color: rgb(158, 159, 159); margin-left: 14px;
}
.frm_desc {
	color: rgb(34, 34, 34);
}
.frm_tips {
	width: 320px; color: rgb(193, 194, 195); padding-top: 4px;
}
.frm_msg {
	width: 320px; overflow: hidden; display: none;
}
.frm_msg i {
	font-style: normal; font-weight: 400; margin-right: 3px; float: left;
}
.success.frm_msg {
	color: rgb(127, 186, 79);
}
.fail.frm_msg {
	color: rgb(177, 21, 22);
}
.frm_control_group {
	padding-bottom: 25px;
    clear: both;
}
.frm_control_group::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.show_value.frm_control_group {
	padding-bottom: 15px;
}
.show_value.frm_control_group .frm_input_box {
	background: 0px; border-width: 0px; padding: 0px; height: auto; line-height: 1.6; margin-top: 0.35em; vertical-align: top; -ms-word-break: break-all; -ms-word-wrap: break-word; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.frm_label {
	width: 5em; font-size: 14px; margin-top: 0.35em; margin-right: 1em; float: left;
}
.frm_controls {
	width: auto; vertical-align: top; float: none; display: table-cell;
}
.frm_controls::after {
	height: 0px !important; line-height: 0; clear: both; display: block; visibility: hidden; content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}
.frm_input {
	outline: 0px; border: 0px currentColor; border-image: none; width: 100%; background-color: transparent;
}
.frm_textarea {
	outline: 0px; border: 0px currentColor; border-image: none; width: 100%; background-color: transparent;
}
.frm_input {
	margin: 4px 0px; height: 27px;
}
.frm_textarea {
	height: 100px;
}
.frm_input_box {
	padding: 0px 10px; border-radius: 3px; border: 1px solid rgb(197, 197, 197); border-image: none; width: 298px; height: 35px; line-height: 35px; font-size: 14px; vertical-align: middle; display: inline-block; position: relative; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.15); background-color: rgb(255, 255, 255); -webkit-border-radius: 3px; -moz-border-radius: 3px; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
}
.search.frm_input_box {
	border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;
}
.append.frm_input_box {
	padding-right: 30px;
}
.append.frm_input_box .frm_input_append {
	top: 50%; right: 0.8em; position: absolute;
}
.append.frm_input_box .search_gray.frm_input_append {
	margin-top: -8px;
}
.prepend.frm_input_box {
	padding-left: 30px;
}
.prepend.frm_input_box .frm_input_append {
	left: 0.8em; top: 50%; position: absolute;
}
.prepend.frm_input_box .search_gray.frm_input_append {
	margin-top: -8px;
}
.vcode.frm_input_box {
	width: 157px;
}
.zone.frm_input_box {
	width: 72px; margin-right: 5px;
}
.phone.frm_input_box {
	width: 175px;
}
.frm_textarea_box {
	padding: 4px 0px 4px 10px; border-radius: 3px; border: 1px solid rgb(197, 197, 197); border-image: none; width: 498px; font-size: 14px; display: inline-block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.15); background-color: rgb(255, 255, 255); -webkit-border-radius: 3px; -moz-border-radius: 3px; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
}
.frm_input_box.disabled {
	background-color: rgb(238, 238, 238);
}
.frm_textarea_box.disabled {
	background-color: rgb(238, 238, 238);
}
.disabled .frm_input_box {
	background-color: rgb(238, 238, 238);
}
.disabled .frm_textarea_box {
	background-color: rgb(238, 238, 238);
}
.frm_input_box.focus {
	border-color: rgb(74, 155, 223); box-shadow: 0px 0px 5px #aedcfa; -moz-box-shadow: 0 0 5px #aedcfa; -webkit-box-shadow: 0 0 5px #aedcfa;
}
.frm_textarea_box.focus {
	border-color: rgb(74, 155, 223); box-shadow: 0px 0px 5px #aedcfa; -moz-box-shadow: 0 0 5px #aedcfa; -webkit-box-shadow: 0 0 5px #aedcfa;
}
.frm_select_box.focus {
	border-color: rgb(74, 155, 223); box-shadow: 0px 0px 5px #aedcfa; -moz-box-shadow: 0 0 5px #aedcfa; -webkit-box-shadow: 0 0 5px #aedcfa;
}
.frm_select_box.focus {
	
}
.frm_radio {
	left: -999em; position: absolute;
}
.frm_checkbox {
	left: -999em; position: absolute;
}
.frm_radio_label {
	text-align: left; margin-right: 1em; display: inline-block; cursor: pointer;
}
.frm_checkbox_label {
	text-align: left; margin-right: 1em; display: inline-block; cursor: pointer;
}
.no_extra.frm_radio_label {
	margin-right: 0px;
}
.no_extra.frm_checkbox_label {
	margin-right: 0px;
}
.disabled.frm_radio_label {
	color: rgb(153, 153, 153); cursor: default;
}
.disabled.frm_checkbox_label {
	color: rgb(153, 153, 153); cursor: default;
}
.icon_radio {
	margin-right: 4px;
}
.icon_checkbox {
	margin-right: 4px;
}
.frm_select_box {
	padding: 6.5px 0px; border-radius: 3px; border: 1px solid rgb(197, 197, 197); border-image: none; color: rgb(0, 0, 0); font-size: 14px; vertical-align: middle; display: inline-block; position: relative; background-image: linear-gradient(rgb(241, 241, 241) 0px, rgb(241, 241, 241) 100%); background-color: rgb(241, 241, 241); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.frm_select_box button {
	color: rgb(0, 0, 0);
}
.frm_select_box:hover {
	border-color: rgb(195, 195, 195); color: rgb(0, 0, 0); box-shadow: 0px 1px 3px rgba(0,0,0,0.1); background-image: linear-gradient(rgb(241, 241, 241) 0px, rgb(241, 241, 241) 100%); background-color: rgb(241, 241, 241); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.frm_select_box:hover button {
	color: rgb(0, 0, 0);
}
.frm_select_label {
	
}
.frm_select {
	padding: 0px 30px 0px 10px; outline: 0px; border: 0px currentColor; border-image: none; height: 22px; line-height: 22px; position: relative; z-index: 1; background-color: transparent;
}
@media not all
{
.frm_select_box {
	padding: 0px;
}
.frm_select_box::after {
	border-width: 4px 4px 0px; border-style: solid dashed dashed; border-color: rgb(119, 119, 119) transparent transparent; top: 50%; width: 0px; height: 0px; right: 15px; margin-top: -2px; display: inline-block; position: absolute; content: " ";
}
.frm_select {
	height: 37px; -webkit-appearance: none;
}
}
.frm_label {
	margin-top: 7px;
}
.frm_label .tips {
	color: rgb(193, 194, 195); font-style: normal; font-weight: 400; display: block;
}
.frm_input_box {
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.06); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
}
.frm_textarea_box {
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.06); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
}
.vcode.frm_input_box {
	width: 175px;
}
.textarea.frm_control_group .frm_textarea {
	height: 45px;
}
.textarea.frm_control_group .frm_tips {
	width: 510px;
}
.textarea.frm_control_group .frm_msg {
	width: 510px;
}
.meta_list {
	padding-bottom: 40px;
}
.frm_fieldset {
	padding-bottom: 40px;
}
.last.meta_list {
	padding-bottom: 0px;
}
.last.frm_fieldset {
	padding-bottom: 0px;
}
.meta_list_title {
	font-size: 16px; border-bottom-color: rgb(219, 219, 219); border-bottom-width: 1px; border-bottom-style: solid;
}
.frm_legend {
	font-size: 16px; border-bottom-color: rgb(219, 219, 219); border-bottom-width: 1px; border-bottom-style: solid;
}
.frm_inner_tips {
	color: rgb(193, 194, 195); padding-top: 7px; padding-bottom: 5px;
}
.frm_inner_controls {
	padding-bottom: 20px;
}
.meta_list_title {
	padding-bottom: 5px; font-style: normal; font-weight: 400; margin-bottom: 16px;
}
.icon_msg {
	width: 56px; height: 56px; vertical-align: middle; display: inline-block;
}
.success.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -214px;
}
.warn.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -280px;
}
.error.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -346px;
}
.mail.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -412px;
}
.waiting.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -478px;
}
.info.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -544px;
}
.icon37_msg {
	width: 37px; height: 37px; vertical-align: middle; display: inline-block;
}
.success.icon37_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -610px;
}
.warn.icon37_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -657px;
}
.info.icon37_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -704px;
}
.error.icon37_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -751px;
}
.mail.icon37_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -798px;
}
.waiting.icon37_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -845px;
}
.icon20_msg {
	width: 20px; height: 20px; vertical-align: middle; display: inline-block;
}
.success.icon20_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -892px;
}
.warn.icon20_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -922px;
}
.error.icon20_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -952px;
}
.info.icon20_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -982px;
}
.icon18_msg {
	width: 18px; height: 18px; vertical-align: middle; display: inline-block;
}
.ask.icon18_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1012px;
}
.success.icon18_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1040px;
}
.warn.icon18_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1068px;
}
.error.icon18_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1096px;
}
.info.icon18_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1124px;
}
.waiting.icon18_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1152px;
}
.page_msg .inner {
	position: relative; background-color: rgb(224, 234, 246);
}
.page_msg .inner::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.page_msg .msg_icon_wrp {
	font-size: 0px; margin-right: 10px; float: left;
}
.page_msg .msg_icon_wrapper {
	font-size: 0px; margin-right: 10px; float: left;
}
.page_msg .msg_content {
	overflow: hidden; padding-top: 5px;
}
.page_msg .msg_opr {
	top: 50%; right: 10px; margin-top: -10px; display: none; position: absolute;
}
.page_msg h4 {
	font-size: 16px; font-weight: 700;
}
.page_msg p {
	color: rgb(158, 159, 159); font-size: 14px;
}
.page_msg .spacing {
	padding: 0.5em 0px 2em;
}
.large.page_msg .inner {
	padding: 12px 70px;
}
.small.page_msg .inner {
	padding: 10px 40px 10px 10px;
}
.mini.page_msg .inner {
	padding: 8px 20px;
}
.mini.page_msg .msg_icon_wrp {
	margin-top: 3px; margin-right: 5px;
}
.mini.page_msg .msg_content {
	padding-top: 0px;
}
.single_line.page_msg .msg_content {
	padding-top: 15px;
}
.default.page_msg .inner {
	border: 0px currentColor; border-image: none; box-shadow: none; background-color: transparent; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.simple.page_msg {
	text-align: center;
}
.simple.page_msg .inner {
	text-align: left; display: inline-block; min-width: 55%;
}
.icon_msg {
	width: 64px; height: 64px; vertical-align: middle; display: inline-block;
}
.success.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1180px;
}
.warn.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1254px;
}
.error.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1328px;
}
.mail.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1402px;
}
.waiting.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1476px;
}
.info.icon_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1550px;
}
.icon34_msg {
	width: 34px; height: 34px; vertical-align: middle; display: inline-block;
}
.success.icon34_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1624px;
}
.warn.icon34_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1668px;
}
.error.icon34_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1712px;
}
.info.icon34_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1756px;
}
.waiting.icon34_msg {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1800px;
}
.page_msg .inner {
	border-width: 0px; background-color: rgb(220, 234, 252);
}
.page_msg p {
	color: rgb(123, 123, 123);
}
.small.page_msg .inner {
	text-align: center;
}
.page_msg .spacing {
	padding: 1em 0px 2em;
}
.page_msg .msg_content {
	padding-top: 10px;
}
.page_tips {
	left: 0px; top: 0px; width: 100%; text-align: center; position: fixed; z-index: 3;
}
.page_tips .inner {
	padding: 5px 30px; color: rgb(255, 255, 255); display: inline-block; min-width: 250px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px;
}
.success.page_tips .inner {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(84, 146, 73); border-image: none; background-color: rgb(107, 176, 94);
}
.error.page_tips .inner {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(185, 135, 16); border-image: none; background-color: rgb(234, 160, 0);
}
.pop_closed {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1844px;
}
.pop_closed:hover {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1870px;
}
.dialog_wrp {
	left: 50%; top: 50%; width: 726px; position: fixed; z-index: 3;
}
.label_block.dialog_wrp .frm_label {
	width: auto; font-size: 16px; margin-bottom: 1em; float: none; display: block;
}
.label_block.dialog_wrp .frm_tips {
	width: auto;
}
.label_block.dialog_wrp .frm_msg {
	width: auto;
}
.label_block.dialog_wrp .frm_controls {
	padding-left: 0px;
}
.simple.dialog_wrp .dialog_bd {
	padding: 90px 0px 110px; text-align: center;
}
.align_edge.dialog_wrp .dialog_bd {
	padding: 0px;
}
.dialog {
	border-radius: 3px; border: 1px solid rgb(0, 0, 0); border-image: none; overflow: hidden; background-color: rgb(243, 243, 243); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.dialog_hd {
	padding: 0px 20px; height: 38px; line-height: 38px; border-bottom-color: rgb(219, 219, 219); border-bottom-width: 1px; border-bottom-style: solid; position: relative; background-image: linear-gradient(rgb(242, 242, 242) 0px, rgb(224, 224, 224) 100%); background-color: rgb(231, 231, 231);
}
.dialog_hd h3 {
	color: rgb(34, 34, 34);
}
.dialog_hd .pop_closed {
	top: 14px; width: 16px; height: 16px; right: 20px; line-height: 999em; overflow: hidden; position: absolute;
}
.dialog_bd {
	padding: 55px 45px;
}
.dialog_ft {
	margin: 0px 20px; padding: 25px 0px 50px; text-align: center; border-top-color: rgb(200, 200, 200); border-top-width: 1px; border-top-style: solid; box-shadow: inset 0px 1px 0px #fbfbfb; -moz-box-shadow: inset 0 1px 0 #fbfbfb; -webkit-box-shadow: inset 0 1px 0 #fbfbfb;
}
.dialog_ft .btn {
	margin-right: 0.3em; margin-left: 0.3em;
}
.simple_dialog_content {
	width: 400px; text-align: left; display: inline-block;
}
.simple_dialog_content .frm_input_box {
	width: auto; display: block;
}
.simple_dialog_content .frm_textarea_box {
	width: auto; display: block;
}
.dialog_content_list {
	padding: 0px 120px; height: 420px; position: relative; -ms-overflow-y: scroll;
}
.list.table_wrp {
	padding: 20px;
}
.list.table_wrp .table {
	border-top-width: 0px;
}
.list.table_wrp .table_cell {
	padding-right: 20px; padding-left: 20px; vertical-align: top;
}
.list.table_wrp .tbody .table_cell {
	padding-top: 15px; padding-bottom: 15px;
}
.with_border.table_wrp .table {
	border: 1px solid rgb(195, 195, 195); border-image: none;
}
.table {
	width: 100%; text-align: center; font-size: 14px; border-top-color: rgb(195, 195, 195); border-bottom-color: rgb(230, 230, 230); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.table_cell {
	padding: 0px; font-style: normal; font-weight: 400;
}
.thead {
	background-color: rgb(240, 240, 240);
}
.thead .table_cell {
	line-height: 32px; border-bottom-color: rgb(195, 195, 195); border-left-color: rgb(195, 195, 195); border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid;
}
.thead :first-child.table_cell {
	border-left-width: 0px;
}
.tbody tr:hover {
	background-color: rgb(243, 243, 243);
}
.tbody tr.even {
	background-color: rgb(243, 243, 243);
}
.tbody tr.empty_item:hover {
	background: 0px;
}
.tbody tr:first-child .table_cell {
	border-top-width: 0px;
}
.tbody .table_cell {
	padding-top: 1em; padding-bottom: 1em; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid;
}
.table_cell {
	padding-right: 20px; padding-left: 20px;
}
.table_cell .thead {
	border-left-width: 0px;
}
.tool_bar {
	padding-top: 20px; margin-top: 40px;
}
.tool_bar::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.tool_bar .btn {
	margin-right: 0.6em;
}
.with_form.tool_bar {
	margin-top: 15px;
}
.border.tool_bar {
	border-top-color: rgb(210, 210, 210); border-top-width: 1px; border-top-style: solid; box-shadow: inset 0px 1px 0px #fbfbfb; -moz-box-shadow: inset 0 1px 0 #fbfbfb; -webkit-box-shadow: inset 0 1px 0 #fbfbfb;
}
.tc.tool_bar .btn {
	margin-right: 0.3em; margin-left: 0.3em;
}
.tr.tool_bar .btn {
	margin-right: 0px; margin-left: 0.6em;
}
.tool_area {
	
}
.tool_area::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.title_bar {
	
}
.title_bar::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.title_bar .info {
	float: left;
}
.title_bar .opr {
	float: right;
}
.parent_title_bar {
	line-height: 35px; border-bottom-color: rgb(219, 219, 219); border-bottom-width: 2px; border-bottom-style: solid;
}
.parent_title_bar::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.parent_title_bar h3 {
	font-size: 16px; font-style: normal; font-weight: 400;
}
.sub_title_bar {
	padding: 0px 20px; line-height: 38px;
}
.sub_title_bar::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.sub_title_bar .info {
	float: left;
}
.sub_title_bar .opr {
	float: right;
}
.sub_title_bar h3 {
	font-size: 14px; font-style: normal; font-weight: 400;
}
.sub_title_bar h4 {
	font-size: 14px; font-style: normal; font-weight: 400; float: left;
}
.tool_bar {
	margin-bottom: 40px;
}
.tool_bar .btn {
	margin-right: 0.5em; margin-left: 0px;
}
.tc.tool_bar .btn {
	margin-right: 0.5em; margin-left: 0.5em;
}
.tr.tool_bar .btn {
	margin-right: 0px; margin-left: 1em;
}
.mask {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: 2; opacity: 0.75; background-color: rgb(0, 0, 0); -moz-opacity: .75; -khtml-opacity: .75;
}
.mask {
	opacity: 0.35; -moz-opacity: .35; -khtml-opacity: .35;
}
.tips_box {
	padding: 6px 15px; border-radius: 3px; border: 1px solid rgb(177, 199, 226); border-image: none; color: rgb(102, 102, 102); background-color: rgb(219, 233, 251); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.tips_box .em {
	color: rgb(177, 21, 22);
}
.tips_box_primary {
	padding: 6px 15px; border-radius: 3px; border: 1px solid rgb(209, 209, 209); border-image: none; color: rgb(102, 102, 102); background-color: rgb(241, 241, 241); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.tips_box_primary .em {
	color: rgb(177, 21, 22);
}
.disabled_box {
	padding: 0.4em 0.8em; border-radius: 3px; border: 1px solid rgb(197, 197, 197); border-image: none; font-size: 14px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.15); background-color: rgb(238, 238, 238); -webkit-border-radius: 3px; -moz-border-radius: 3px; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
}
.notices_box {
	border-radius: 3px; border: 1px solid rgb(197, 197, 197); border-image: none; line-height: 40px; background-color: rgb(233, 234, 235); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.msg_box {
	text-align: center; line-height: 36px;
}
.msg_box .inner {
	background-color: rgb(214, 229, 245);
}
.msg_box a {
	color: rgb(34, 34, 34); display: block;
}
.empty_tips {
	padding: 100px 0px; text-align: center; color: rgb(193, 194, 195); font-size: 14px;
}
.mini_tips {
	color: rgb(193, 194, 195);
}
.mini_tips i {
	font-style: normal; font-weight: 400; margin-top: -3px; margin-right: 3px;
}
.warn.mini_tips {
	color: rgb(177, 21, 22);
}
.success.mini_tips {
	color: rgb(127, 186, 79);
}
.icon_after.mini_tips i {
	margin-right: 0px; margin-left: 3px;
}
.inset.article_box {
	border-radius: 3px; border: 1px solid rgb(219, 219, 219); border-image: none; height: 500px; -ms-overflow-y: auto; box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.05); background-color: rgb(238, 238, 238); -webkit-border-radius: 3px; -moz-border-radius: 3px; -moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.05); -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.inset.article_box .inner {
	padding-right: 50px; padding-left: 50px;
}
.article_box .inner {
	padding: 20px 50px 40px;
}
.article_box h3 {
	text-align: center; font-size: 22px;
}
.article_box h4 {
	padding-bottom: 14px; font-size: 16px; font-weight: 700;
}
.article_box h5 {
	padding-bottom: 14px; font-size: 16px; font-weight: 700;
}
.article_box h6 {
	padding-bottom: 14px; font-size: 14px; font-weight: 700;
}
.article_box ul.disc {
	padding-left: 20px; list-style-type: disc;
}
.article_box dl {
	padding-bottom: 14px; font-size: 14px;
}
.article_box li {
	padding-bottom: 14px; font-size: 14px;
}
.article_box p {
	padding-bottom: 14px; font-size: 14px;
}
.article_box pre {
	white-space: pre-wrap;
}
.article_box strong {
	font-style: normal; font-weight: 400;
}
.article_box .media {
	text-align: center; padding-bottom: 28px;
}
.article_box .img_wrp {
	display: inline-block; max-width: 750px;
}
.article_box .img_wrp img {
	width: 100%; vertical-align: top;
}
.article_box .img_wrp .mobile_width {
	width: 175px;
}
.article_box .sign {
	text-align: right; padding-top: 4em;
}
.article_box .company_sign {
	text-align: right; padding-top: 4em;
}
.article_box .strong.sign {
	font-size: 16px; font-weight: 700;
}
.article_box .strong.company_sign {
	font-size: 16px; font-weight: 700;
}
.article_box .no_extra {
	padding-bottom: 0px;
}
.text_box h4 {
	font-size: 16px; font-style: normal; font-weight: 400; margin-bottom: 10px;
}
.text_box .spacing {
	margin-top: 10px;
}
.mod_hd {
	
}
.mod_ft {
	
}
.mod_hd::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.mod_ft::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.mod_info {
	float: left;
}
.mod_opr {
	text-align: right;
}
.mod_opr .btn {
	margin-top: -0.2em;
}
.vm_box {
	height: 100%; vertical-align: middle; display: inline-block;
}
.empty_tips {
	font-size: 16px;
}
.article_box .table_wrp {
	padding-bottom: 14px;
}
.article_box .table_wrp table {
	width: 100%;
}
.article_box .code_wrp {
	margin-bottom: 14px;
}
.article_box .em_code.code_wrp {
	background-color: rgb(249, 249, 249);
}
.article_box .code {
	padding: 10px 16px; overflow: auto; font-family: "Microsoft YaHei","黑体",Helvetica,Arial,Tahoma,sans-serif; display: block; white-space: nowrap; max-width: 600px;
}
.article_box .code_desc {
	padding: 0px; color: rgb(158, 159, 159); font-style: normal; font-weight: 400; display: block; white-space: normal;
}
.article_box .em_mod {
	padding: 10px 16px; margin-bottom: 14px; background-color: rgb(255, 249, 227);
}
.article_box .faq_title {
	font-size: 14px; font-weight: 700;
}
.article_box .download_title {
	font-size: 14px; font-weight: 700;
}
.article_box .faq_title a {
	color: rgb(34, 34, 34);
}
.article_box .download_title a {
	color: rgb(34, 34, 34);
}
.article_box .faq_desc {
	padding-bottom: 1em;
}
.article_box .download_desc {
	padding-bottom: 1em;
}
.notices_box {
	
}
.notices_box::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.notices_box .icon_speaker {
	margin-top: 13px; float: left;
}
.notices_box ul {
	overflow: hidden;
}
.notices_box li {
	background: url("/open/zh_CN/htmledition/res/common/images/icon/common/icon_point1d30e9.png") no-repeat 0px 50%; padding-left: 14px; margin-right: 12px; margin-left: 12px; float: left;
}
.notices_box a {
	color: rgb(34, 34, 34);
}
.notices_box a:hover {
	color: rgb(70, 119, 189);
}
.meta_preview_box h3 {
	padding-bottom: 10px; font-size: 16px; font-style: normal; font-weight: 400; margin-bottom: 10px; border-bottom-color: rgb(230, 230, 230); border-bottom-width: 1px; border-bottom-style: solid;
}
.meta_preview_box .frm_control_group {
	padding-bottom: 0px;
}
.meta_preview_box .frm_controls {
	padding-top: 7px;
}
.meta_preview_box .preview_title_tips {
	margin-left: 14px;
}
.meta_preview_box .meta_preview_img {
	margin-top: 6px; max-width: 100px;
}
.reset_iframe {
	border: 0px currentColor; border-image: none; width: 100%; overflow: hidden; background-color: transparent;
}
.reset_iframe body {
	overflow: hidden;
}
.icon_datepicker {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1896px; width: 21px; height: 21px; vertical-align: middle; display: inline-block;
}
.date_select {
	letter-spacing: -5px; font-size: 0px;
}
.date_select .datepicker_area {
	display: inline-block;
}
.date_select .dropdown_menu {
	margin: 0px 3px; letter-spacing: normal; font-size: 14px; vertical-align: middle;
}
.date_select .datepicker_area {
	margin: 0px 3px; letter-spacing: normal; font-size: 14px; vertical-align: middle;
}
.datepicker_area {
	line-height: normal;
}
.datepicker_area .gap {
	margin: 0px 3px; vertical-align: middle;
}
.with_form.datepicker_area {
	height: 37px; line-height: 37px;
}
.datepicker_area .frm_checkbox_label {
	margin-left: 14px; vertical-align: middle;
}
.datepicker_switch {
	position: relative; cursor: pointer;
}
.datepicker_switch .frm_input {
	margin: 0px; height: 25px; text-align: center; line-height: 25px; cursor: pointer;
}
.datepicker_switch .icon_datepicker {
	top: 50%; right: 4px; margin-top: -11px; position: absolute;
}
.datepicker_switch.btn {
	border-color: rgb(209, 209, 209); width: 80px; height: 25px; color: rgb(0, 0, 0); line-height: 25px; padding-right: 30px; padding-left: 4px; background-image: linear-gradient(rgb(241, 241, 241) 0px, rgb(241, 241, 241) 100%); background-color: rgb(241, 241, 241);
}
.datepicker_switch.btn button {
	color: rgb(0, 0, 0);
}
.datepicker_switch.btn:hover {
	border-color: rgb(195, 195, 195); color: rgb(0, 0, 0); box-shadow: 0px 1px 3px rgba(0,0,0,0.1); background-image: linear-gradient(rgb(241, 241, 241) 0px, rgb(241, 241, 241) 100%); background-color: rgb(241, 241, 241); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.datepicker_switch.btn:hover button {
	color: rgb(0, 0, 0);
}
.btn_search_datepicker.btn {
	border-color: rgb(209, 209, 209); width: auto; height: 27px; color: rgb(0, 0, 0); line-height: 23px; letter-spacing: normal; padding-right: 10px; padding-left: 10px; display: inline-block; background-image: linear-gradient(rgb(241, 241, 241) 0px, rgb(241, 241, 241) 100%); background-color: rgb(241, 241, 241);
}
.btn_search_datepicker.btn button {
	color: rgb(0, 0, 0);
}
.btn_search_datepicker.btn:hover {
	border-color: rgb(195, 195, 195); color: rgb(0, 0, 0); box-shadow: 0px 1px 3px rgba(0,0,0,0.1); background-image: linear-gradient(rgb(241, 241, 241) 0px, rgb(241, 241, 241) 100%); background-color: rgb(241, 241, 241); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.btn_search_datepicker.btn:hover button {
	color: rgb(0, 0, 0);
}
.menu {
	font-size: 14px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
:first-child.menu {
	border-top-width: 0px;
}
.menu_item {
	line-height: 37px; position: relative; cursor: pointer;
}
.menu_item:hover {
	background-color: rgb(221, 221, 221);
}
.selected.menu_item {
	background-color: rgb(221, 221, 221);
}
.menu_link {
	color: rgb(34, 34, 34); padding-left: 1em; text-decoration: none; display: block;
}
.menu_link:hover {
	text-decoration: none;
}
.menu_link strong {
	width: auto; overflow: hidden; font-style: normal; font-weight: 400; margin-top: -2px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-word-wrap: normal; -ms-text-overflow: ellipsis; max-width: 80px;
}
.menu_box_primary {
	width: 100%;
}
.menu_primary dt {
	cursor: pointer;
}
.menu_primary dt .icon_menu_switch {
	border-width: 0px 6px 6px; border-style: dashed dashed solid; border-color: transparent transparent rgb(179, 179, 179); top: 25px; width: 0px; height: 0px; right: 10px; margin-top: -2px; margin-right: 5px; vertical-align: middle; display: inline-block; position: absolute;
}
.menu_primary dt .icon_menu_dot {
	color: rgb(204, 204, 204); font-style: normal; font-weight: 400; margin-right: 5px;
}
.menu_primary dt.closed .icon_menu_switch {
	border-top-color: rgb(179, 179, 179); border-top-width: 6px; border-bottom-width: 0px; border-top-style: solid;
}
.menu_title_primary {
	padding: 10px 14px 5px; line-height: 32px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.menu_link_primary {
	width: auto; color: rgb(34, 34, 34); line-height: 32px; overflow: hidden; text-decoration: none; display: block; white-space: nowrap; -ms-word-wrap: normal; -ms-text-overflow: ellipsis;
}
.sub_menu_title_primary .menu_link_primary {
	padding: 0px 30px;
}
.sub_menu_desc_primary .menu_link_primary {
	padding: 0px 48px;
}
.menu_link_primary:hover {
	text-decoration: none;
}
.no_sub.menu_link_primary:hover {
	background-color: rgb(221, 221, 221);
}
.selected.no_sub.menu_link_primary {
	background-color: rgb(221, 221, 221);
}
.links {
	font-size: 0px;
}
.links_item {
	padding: 0px 1em; line-height: 1em; font-size: 12px; border-left-color: currentColor; border-left-width: 1px; border-left-style: solid; display: inline-block;
}
.links_item a {
	display: block;
}
:first-child.links_item {
	border-left-width: 0px;
}
.last_child.links_item {
	padding-right: 0px;
}
.page_nav {
	color: rgb(34, 34, 34); padding-bottom: 5px; font-size: 16px;
}
.page_nav a {
	color: rgb(34, 34, 34);
}
.page_nav a:hover {
	color: rgb(70, 119, 189);
}
.icon12_del {
	color: rgb(179, 179, 179); font-size: 12px; font-style: normal; font-weight: 400; text-decoration: none; vertical-align: middle; display: inline-block; cursor: pointer;
}
.icon12_del:hover {
	color: rgb(84, 84, 84);
}
.icon_dot {
	color: rgb(181, 180, 180); font-size: 14px; font-style: normal; font-weight: 400; vertical-align: middle; display: inline-block;
}
.new.icon_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1927px; width: 18px; height: 18px; line-height: 100px; overflow: hidden; margin-top: 3px; margin-left: 3px; vertical-align: middle; display: inline-block;
}
.icon13_common {
	width: 13px; height: 13px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.arrow_right_gray.icon13_common {
	background: url("/open/zh_CN/htmledition/res/common/images/icon/common/icon13_arrow_right_gray1d30e9.png") no-repeat 0px 0px;
}
.icon32_loading {
	width: 32px; height: 32px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.dark.icon32_loading {
	background: url("/open/zh_CN/htmledition/res/common/images/icon/common/icon32_loading_dark1d30e9.gif") no-repeat 0px 0px;
}
.light.icon32_loading {
	background: url("/open/zh_CN/htmledition/res/common/images/icon/common/icon32_loading_light1d30e9.gif") no-repeat 0px 0px;
}
.icon18_common {
	width: 18px; height: 18px; vertical-align: middle; display: inline-block;
}
.upload_gray.icon18_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1946px;
}
.icon21_common {
	width: 21px; height: 21px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.error.icon21_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -1974px;
}
.waiting.icon21_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -2005px;
}
.success.icon21_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -2036px;
}
.icon22_common {
	width: 22px; height: 22px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.checked.icon22_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -2067px;
}
.error.icon22_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -2099px;
}
.fail.icon22_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -2131px;
}
.success.icon22_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -2163px;
}
.notices.icon_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -2195px; width: 10px; height: 10px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.icon16_common {
	width: 16px; height: 16px; line-height: 100px; overflow: hidden; vertical-align: middle; display: inline-block;
}
.search_gray.icon16_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -2215px;
}
.close.icon16_common {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -2241px;
}
.close.icon16_common:hover {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -2267px;
}
.icon_speaker {
	background: url("/assets/vshop/base_z1ea897.png") no-repeat 0px -2293px; width: 16px; height: 16px; vertical-align: middle; display: inline-block;
}
.icon_plus {
	color: rgb(255, 255, 255); font-size: 25px; font-style: normal; font-weight: 400; margin-top: -0.3em; vertical-align: middle; display: inline-block;
}
.btn_disabled .icon_plus {
	color: rgb(174, 174, 174);
}
