<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>尊敬的 <%= @user.login_name %> 您好 : </p>
    <p>你申请了重设I-MODEC摩登客密码，请点击下面的链接，然后根据页面提示完成密码重设：</p>
    <p><%=link_to @reset_password_url,@reset_password_url%></p>
    <p>如果链接无法点击，请完整拷贝到浏览器地址栏里直接访问。</p>
    <br>
    <p>此邮件为系统自动发送，请勿直接回复</p>
    <p>如需帮助可联系I-MODEC摩登客客服</p>
    <p>客服电话：021-60919835</p>
    <p>微信公众账号：imodec</p>
    <div>
      <img src="http://www.i-modec.com/assets/store/weixin.jpg">
    </div>
    <p>I-MODEC摩登客（<a href="http://www.i-modec.com">www.i-modec.com</a>）</p>
  </body>
</html>