<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>尊敬的 <%= @user.login_name %> 您好 : </p>
    <p>你申请了重设TRADE-V贸威密码，请点击下面的链接，然后根据页面提示完成密码重设：</p>
    <p><%=link_to @reset_password_url,@reset_password_url%></p>
    <p>如果链接无法点击，请完整拷贝到浏览器地址栏里直接访问。</p>
    <br>
    <p>此邮件为系统自动发送，请勿直接回复</p>
    <p>TRADE-V贸威（<a href="http://www.trade-v.com">www.trade-v.com</a>）</p>
  </body>
</html>