// Place all the styles related to the patch/member_addrs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table{
	border: solid 1px #DDD;
}
.error{
	color:red;
}
.new{
	margin-bottom: 10px;
}
.no-record{
	color:#999;
}