#by_text{
	display: inline-block;
	width: 40px;
}
.error,
.required{
	color:red;
}
#sms_input_form{
	#help{
		margin-left: 82px;
	}
}
.help-tips{
	margin-left: 50px;
}
.field_with_errors{
	display: inline;
}
.sent-success{
	color:green;
	font-weight: bold;
}
.radic{
	font-size: 25px;
	margin-right: 5px;
	font-size: 15px;
}
.tips{
	color:#888;
	font-size: 12px;
}