.carousel {
  position: relative;
  margin-bottom: 10px;
  line-height: 1;
  margin-top: 50px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
  margin: 0px auto;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-indicators {
 /* position: absolute;
  top: 15px;
  right: 15px;*/
  z-index: 5;
  margin:15px auto;
  padding:0px;
  list-style: none;
 
  text-align: center;
  width: 60px;

}

.carousel-indicators li {
  display: inline-block;
  float: left;
  width: 8px;
  height: 8px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #999;
  border-radius: 4px;
  margin-right: 5px;
}

.carousel-indicators .active {
  background-color: #666;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}

/* LOGIN */
body{
  font-size: 14px;
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  color: #4A443D;
  margin: 0px;
}


a{
  color: #4A443D;
  text-decoration: none;
}
#modal_login {
  overflow: hidden;
  position: fixed;
  min-height: 520px;
  text-align: left;
  width: 640px;
  /*margin: -280px 0 0 -320px;*/
  background: #fafafa;
  border: none;
  outline: none;
}
#modal_login .modal-header {
  /*border-bottom: 1px solid #e4e4e4;*/
  padding: 0;
  height: 36px;
  /*text-shadow: 0 1px 1px rgba(150, 0, 12, 0.6);*/
  margin-top: 15px;
  background-color: #7d070a;
  background-color: rgba(125, 7, 10, 1);
  background-image: -webkit-linear-gradient(top, rgba(180, 13, 22, 1) 0%,rgba(125, 7, 10, 1) 100%);
  background-image: -moz-linear-gradient(top, rgba(180, 13, 22, 1) 0%,rgba(125, 7, 10, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b40d16', endColorstr='#7d070a', GradientType=0);
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #fff;
  vertical-align: middle;
  line-height: 40px;
}
#modal_login .modal-header .close {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 10px;
  top: 4px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #fff;
  opacity: 0.7;
}
#modal_login .modal-header .close:hover {
  opacity: 1;
}
#modal_login .modal-header h3 {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  height: 20px;
  padding-top: 10px;
  font-weight: normal;
  text-align: center;
}

#modal_login .modal-body {
  min-height: 400px;
  overflow: hidden;
  padding: 0 40px;
}

#modal_login .modal-body a.login_link {
  position: relative;
  top: 10px;
  font-size: 14px;
  text-decoration: underline;
}

#modal_login .modal-body h5{
  position: relative;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  text-align: center;
  margin: 15px;
}
#modal_login .modal-body h5 a.login_link{
  position: absolute;
  left: 15px;
  top: 2px;
  color: #666;
  font-size: 14px;
  text-decoration: underline;
}

#modal_login .modal_login_nav {
  /*left: 50%;*/
  margin: 20px 0 0 250px;
  /*bottom: 20px;*/
  /*z-index: 12;*/
  height: 16px;
  width: 100px;
  color: #777;
  padding: 0 0 0 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  text-align: center;
  /*position: fixed;*/
  /*display: none;*/
  /*opacity: 0;*/
}

#modal_login .modal_login_nav li {
  display:block;
  float:left;
  width:8px;
  height:8px;
  line-height:8px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
  background: #999;
  overflow:hidden;
  padding:0;
  margin:3px 10px 0 0;
  text-align:center;
  cursor: pointer;
  text-indent: -9999px;
}


#modal_login .modal_login_nav li.selected {
  background:#666;
}
#modal_login .modal-body .login_form {
  height: 75px;
}
#modal_login .modal-body .new-input {
  /*border-radius: 0 0 0 0;*/
  border: solid 1px #c4c4c4;
  float: left;
  font-size: 16px;
  margin-right: 10px;
  padding: 7px 6px 8px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  color: #444;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  width: 210px;
}
#modal_login .modal-body .new-input:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(204, 204, 204, 0.6);
}

#modal_login .modal-body .other-login {
    float: left;
    margin-top: 10px;
    padding: 2px 0;
}
#modal_login .modal-body .other-login span {
float: left;
}

#modal_login .modal-body .other-login .forgot_link {
  text-decoration: underline;
  margin-left: 8px;
}

#modal_login .modal-body .other-login a {
    outline: medium none;
}
#modal_login .modal-body .other-login .register_link {
    /*float: left;*/
    text-decoration: underline;
}
#modal_login .modal-body .other-login .login_links {
  display: block;
  position: absolute;
  left: 315px;
  float: left;
}
#modal_login .modal-body .other-login .login_links #autologin {
  position: relative;
  top: -1px;
}
#modal_login .modal-body .other-login .forgot_link {
  text-decoration: underline;
  margin-left: 8px;
}
#modal_login .modal-body .dark_red {
  color: #C50800;
} 
#modal_login ul.sns_login {
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin: 0 0 0 5px;
    padding: 0;
}
#modal_login ul.sns_login span {
    float: left;
    margin-right: 5px;
}
#modal_login ul.sns_login li {
    float: left;
    list-style: none outside none;
    margin-right: 8px;
    margin-top: 3px;
}
#modal_login ul.sns_login li a {
    background: url("/assets/sns.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    margin-top: -4px;
    text-indent: -9999px;
    width: 16px;
}
#modal_login ul.sns_login li a.tsina {
    background-position: 0 0;
}
#modal_login ul.sns_login li a.tqq {
    background-position: -22px 0;
}
#modal_login ul.sns_login li a.douban {
    background-position: -44px 0;
}
#modal_login ul.sns_login li a.t163 {
    background-position: -134px 0;
}
#modal_login ul.sns_login li a.tsohu {
    background-position: -67px 0;
}
#modal_login .login_box {
  position: absolute;
  left: 40px;
  width: 560px;
  height: 400px;
}
#modal_login .register_box {
  position: absolute;
  left: 640px;
  width: 560px;
  height: 400px;
}

#modal_login .modal-body .register_box .new-input {
  display: block;
  width: 230px;
  float: none;
}

#modal_login img.register_girl {
  padding: 1px;
  border: 1px solid #eee;
  float: left;
  margin: 10px 0 0 30px;
  background: #fff;
}

#modal_login .register_box ul.register_ul {
  list-style: none;
  padding-left: 20px;
  float: right;
  width: 280px;
  border-left: 1px solid #f2f2f2;
  margin-top: 12px;
}

#modal_login .register_box ul.register_ul li {
  float: left;
  height: 55px;
  width: 280px;
}

#modal_login .btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#modal_login .btn:hover,
#modal_login .btn:active,
#modal_login .btn.active,
#modal_login .btn.disabled,
#modal_login .btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

#modal_login .btn:active,
#modal_login .btn.active {
  background-color: #cccccc \9;
}

#modal_login .btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

#modal_login .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#modal_login .btn.active,
#modal_login .btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#modal_login .btn.disabled,
#modal_login .btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#modal_login .modal-body .new_btn,
#modal_login .modal-body .register_btn,
#modal_login .modal-body .back_btn {
  border-radius: 0 0 0 0;
  float: right;
  margin-right: -6px;
  text-shadow: 0 1px 0 #fff;
  padding: 7px 12px;
  font-size: 16px;
  line-height: 16px;
  margin: 0 -6px 0 0;
  width: 89px;
}
#modal_login .modal-body .register_btn,
#modal_login .modal-body .back_btn {
  float: left;
  margin: 0 10px 0 0;
}
#modal_login .modal-body .back_btn {
  color: #666;
}
#modal_login #login_msg{
   margin-bottom: 2px;
}
#modal_login .error{
  color: red;
}
#modal_login .help{
  color: #ccc;
}
#modal_login .modal-body .register_box .help-block{
  margin-top: 1px;
  color:red;
}
button.close{
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

#modal_login #reg_term,
#modal_login #privacy{
  color:#777;
}