/*
*= require bootstrap
*= require header
*= require top_menu
*= require footer
*= require bootstrap_override
*/

body{
	font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	font-size: 14px;
	color:#333;
}

#main{
	width: 950px;
	margin: 10px auto 40px auto;
	min-height: 300px;
}
#backToTop {
  display: none;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #111;
  width: 20px;
  /*margin-left: 500px;*/
  margin-left: 520px;
  line-height: 14px;
  padding: 0;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  text-align: center;
  position: fixed;
  _position: absolute;
  *postion:absolute;
  /*left: 50%;*/
  right: 25px;
  bottom: 100px;
  _bottom: "auto";
  cursor: pointer;
  opacity: 0.5;
  filter: Alpha(opacity=50);
  z-index: 1000;
}
#backToTop span{
  display: block;
  padding: 6px 0 9px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#backToTop span em.at {
  display: block;
  font-size: 28px;
  height: 8px;
  line-height: 14px;
  margin: 0 0 0 3px;
  overflow: hidden;
  text-align: left;
  color: #eee;

}
#backToTop span em.ab {
  display: block;
  font-size: 11px;
  height: 5px;
  line-height: 14px;
  margin: -1px 0 2px 4px;
  overflow: hidden;
  text-align: left;
  color: #eee;
}
.pagination > *{
   padding: 0px 5px;
}
.pagination .current{
    font-style: normal;
    font-weight: bold;
}

#notice{
  font-size: 13px;
  color:#B20000;
  font-weight: bold;
  margin-top: 5px;
}