<div id="goods_detail">
        <h3>商品详情</h3>
        <ul class="clearfix">
          <li>
            <div class="good-info">
              <%=raw good.intro%>
            </div>
          </li>
        </ul>
</div>