<div class="row">
  <div class="large-12 medium-12 columns">
        <h3>商品详情</h3>
    <hr>
        <ul class="clearfix">
          <li  style="width:100%;">
            <div class="good-info">
              <%=raw good.intro%>
            </div>
          </li>
        </ul>
</div>  </div>