<HR>
<div class="large-10 medium-9 columns">
  <ul class="tabs" data-tab="" role="tablist">
    <li class="tab-title active" role="presentational"><a href="#basic" role="tab" tabindex="0" aria-selected="true" controls="basic">基本信息</a></li>
    <li class="tab-title" role="presentational"><a href="#details" role="tab" tabindex="-1" aria-selected="false" controls="details">详细资料</a></li>
    <!--<li class="tab-title" role="presentational"><a href="#interest" role="tab" tabindex="-1" aria-selected="false" controls="interest">个人偏好</a></li>-->
     </ul>


  <div class="tabs-content">
    <section role="tabpanel" aria-hidden="false" class="content active" id="basic">
      <%=render "patch/profiles/show/basic"%>
       </section>
    <section role="tabpanel" aria-hidden="true" class="content" id="details" tabindex="-1">
      <%=render "patch/profiles/show/details"%>
      </section>
    <section role="tabpanel" aria-hidden="true" class="content" id="interest" tabindex="-1">
      <%=render "patch/profiles/show/interest"%>   </section>

  </div>
    </div>


