<div class="cards">
	<p>您已经完成VIP卡激活，感谢您对我们的支持！</p>
	<p>
		本页面将在<span id="sec">5</span>秒后自动跳转至“我的贸威”中的“预存款账户”
	</p>
	<p>如页面未自动跳转, <%=link_to "请点击此处","/member-balance.html",:class=>"jump"%></p>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		var t = 5;
		var countSec = setInterval(function(){
			t = t - 1;
			if(t >= 0){
			    $("#sec").text(t);
			}else{
				window.location.href = $(".jump").attr("href");
				clearInterval(countSec);
			}
		},1000);
	});
</script>