<div class="row">
  <div class="title" >
    <span style="border: 3px solid #281bd6"> </span>
    <span style="margin-left: 10px;font-size: 20px; line-height:39px;font-weight: bold">卓仕公众号</span>
    <hr style="margin: 0;border: 1px dotted #281bd6;">    <br>
  </div>
<div class="field">
			<label>请用微信扫描二维码，关注我们，订阅最新活动和消息:</label>
			<img src="http://weishop.cheuks.com/images/a01/homepage/getqrcode.jpg" alt="卓仕公众号">
		</div>
    </div>