 <style>

   .all>li, li>.left,li>.right{
       float: left;
   }
  .am-list-li{
      width: 50%;
       height: 210px;
  }
  .right{
      margin-left: 20px;
  }
   .left> span{
        font-size: 20px;

    }
     .right span{
         color: #ff0000;
     }

 </style>



<ul class="am-list all">
  <li class="am-list-li">
     <div class="left"><span>01</span></div>
    <div class="right"><span>搬运车  <br>
     PALLETTRUCK</span> <br>
      <span>1.手动搬运车</span> <br>
      <span>2.剪式搬运车</span> <br>
      <span>3.半电动搬运车</span> <br>
      <span>4.全电动搬运车</span>
    </div>
  </li>
  <li class="am-list-li">
    <div class="left"><span >02</span></div>
    <div class="right"><span>无人搬运车</span>  <br>
      <span>AGV</span> <br>
      <span>1.潜伏式AGV</span> <br>
      <span>2.牵引式AGV</span> <br>
      <span>3.背负式AGV</span> <br>
      <span>4.台车式AGV</span> <br>
      <span>5.SMT专用AGV</span> <br>
      <span>6.叉车式AGV</span>
    </div>
  </li>
  <li class="am-list-li">
    <div class="left"><span>03</span></div>
    <div class="right"><span>堆高车</span>  <br>
      <span>STACKER</span> <br>
      <span>1.手动堆高车</span> <br>
      <span>2.行李车</span> <br>
      <span>3.半电动堆高车</span> <br>
      <span>4.全电动堆高车</span> <br>
      <span>5.平衡重电动堆高车</span> <br>
      <span>6.前移式电动堆高车</span>

    </div>
  </li>
  <li class="am-list-li">
    <div class="left"><span>04</span></div>
    <div class="right"><span>叉车</span>  <br>
      <span>FORKLIFT</span> <br>
      <span>1.电瓶叉车</span> <br>
      <span>2.内燃叉车</span> <br>
      <span>3.前移式叉车</span> <br>
      <span>4.窄巷道叉车</span> <br>
      <span>5.特种叉车</span> <br>
      <span>6.叉车属具</span>
    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>05</span></div>
    <div class="right"><span>牵引车</span>  <br>
      <span>TOW TRACTOR</span> <br>
      <span>1.电动牵引车</span> <br>
      <span>2.柴油牵引车</span> <br>
      <span>3.汽车转移器</span>

    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>06</span>
    </div>
    <div class="right"><span>高空作业平台</span>  <br>
      <span>AERIAL WORK PLATFORMS</span> <br>
      <span>1.铝合金高空作业平台</span> <br>
      <span>2.剪叉式高空作业平台</span> <br>
      <span>3.直臂式高空作业平台</span> <br>
      <span>4.曲臂式高空作业平台</span> <br>
      <span>5.高空取料机</span> <br>
      <span>6.叉车载人平台</span>
      </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>07</span></div>
    <div class="right"><span>油桶车</span>  <br>
      <span>DRUM TRUCK</span> <br>
      <span>1.油桶搬运车</span> <br>
      <span>2.油桶堆高车</span> <br>
      <span>3.油桶翻转车</span> <br>
      <span>4.油桶属具</span>
    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>08</span></div>
    <div class="right"><span>手推车</span>  <br>
      <span>HAND CART</span> <br>
      <span>1.静音手推车</span> <br>
      <span>2.服务车</span> <br>
      <span>3.各种专用物流车</span>

    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>09</span></div>
    <div class="right"><span>存储器具</span>  <br>
      <span>STORAGE APPARATUS</span> <br>
      <span>1.仓储笼</span> <br>
      <span>2.托盘</span> <br>
      <span>3.周转箱</span> <br>
      <span>4.零件盒</span>

    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>10</span></div>
    <div class="right"><span>工业衡器</span>  <br>
      <span>INDUSTRIAL WEIGHING</span> <br>
      <span>1.便携式台秤</span> <br>
      <span>2.固定式台秤</span> <br>
      <span>3.异型秤</span> <br>
      <span>4.轴重秤</span> <br>
      <span>5.地磅</span> <br>
      <span>6.工业吊秤</span>
    </div>
  </li>
  <li class="am-list-li">
    <div class="left"><span>11</span></div>
    <div class="right"><span>工业平台</span>  <br>
      <span>INDUSTRIAL PLATFORM</span> <br>
      <span>1.手动平台车</span> <br>
      <span>2.电动平台车</span> <br>
      <span>3.电动液压平台</span> <br>
      <span>4.装载升降平台</span> <br>
      <span>5.固定液压升降平台</span>

    </div>
  </li>
  <li class="am-list-li">
    <div class="left"><span>12</span></div>
    <div class="right"><span>装卸设备</span>  <br>
      <span>HANDLING EQUIPMENT</span> <br>
      <span>1.汽车尾板</span> <br>
      <span>2.登车桥</span> <br>
      <span>3.装卸平台</span> <br>
      <span>4.装车机</span>
     </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>13</span></div>
    <div class="right"><span>手工具</span>  <br>
      <span>HAND TOOLS</span> <br>
      <span>1.扳手</span> <br>
      <span>2.螺丝批</span> <br>
      <span>3.钳类工具</span> <br>
      <span>4.专用手工具</span> <br>
      <span>5.锤、尺、剪刀</span> <br>
      <span>6.扭力工具</span>
    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>14</span></div>
    <div class="right"><span>动力工具</span>  <br>
      <span>POWER TOOLS</span> <br>
      <span>1.电动装璜工具</span> <br>
      <span>2.电动金属切割工具</span> <br>
      <span>3.电动装配工具</span> <br>
      <span>4.气动扳手</span> <br>
      <span>5.气动冲压工具</span> <br>
      <span>6.启动螺丝刀</span>
    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>15</span></div>
    <div class="right"><span>工位设备</span>  <br>
      <span>STATION EQUIPMENT</span> <br>
      <span>1.工具箱</span> <br>
      <span>2.工作台</span> <br>
      <span>3.工具车</span> <br>
      <span>4.置物柜</span> <br>
      <span>5.文件柜</span>

    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>16</span></div>
    <div class="right"><span>起重设备</span>  <br>
      <span>LIFTING EQUIPMENT</span> <br>
      <span>1.吊机</span> <br>
      <span>2.葫芦</span> <br>
      <span>3.吊具</span> <br>
      <span>4.千斤顶</span>

    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>17</span></div>
    <div class="right"><span>货物包装</span>  <br>
      <span>GOODS PACKING</span> <br>
      <span>1.手动打包机</span> <br>
      <span>2.电动打包机</span>
    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>18</span></div>
    <div class="right"><span>清洁设备</span>  <br>
      <span>CLEANING EQUIPMENT</span> <br>
      <span>1.扫地机</span> <br>
      <span>2.洗地机</span> <br>
      <span>3.吹干机</span> <br>
      <span>4.清洁车</span>

    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>19</span></div>
    <div class="right"><span>货架</span>  <br>
      <span>GOODS SHELVES</span> <br>
      <span>1.轻型仓储货架</span> <br>
      <span>2.中型仓储货架</span> <br>
      <span>3.重型仓储货架</span> <br>
      <span>4.阁楼货架</span> <br>
      <span>5.物料架</span>

    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>20</span></div>
    <div class="right"><span>工业门</span>  <br>
      <span>INDUSTRIAL DOOR</span> <br>
      <span>1.快速门</span> <br>
      <span>2.快速堆积门</span> <br>
      <span>3.快速卷帘门</span> <br>
      <span>4.工业滑升门</span> <br>
      <span>5.柔性提升门</span> <br>
      <span>6.车库门</span>
    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>21</span></div>
    <div class="right"><span>液压系统</span>  <br>
      <span>HYDRAULIC SYSTEM</span> <br>
      <span>1.液压泵</span> <br>
      <span>2.液压阀</span> <br>
      <span>3.液压马达</span> <br>
      <span>4.液压元件</span> <br>
      <span>5.动力单元</span>
    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>22</span></div>
    <div class="right"><span>安防用品</span>  <br>
      <span>SECURITY PRODUCTS</span> <br>
      <span>1.安全帽</span> <br>
      <span>2.防撞帽</span> <br>
      <span>3.安全绳</span> <br>
      <span>4.安全钩</span> <br>
      <span>5.护腰带</span>
    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>23</span></div>
    <div class="right"><span>防爆设备</span>  <br>
      <span>EX-PROOF EQUIPMENT</span> <br>
      <span>1.防爆搬运车</span> <br>
      <span>2.防爆堆高车</span> <br>
      <span>3.防爆油桶车</span> <br>
      <span>4.防爆叉车</span>
    </div>
  </li>

  <li class="am-list-li">
    <div class="left"><span>24</span></div>
    <div class="right"><span>工业产品</span>  <br>
      <span>INDUSTRIAL PRODUCTS</span> <br>
      <span>1.观光车</span> <br>
      <span>2.立钻机床</span> <br>
      <span>3.工业脚轮</span> <br>
      <span>4.车间用品</span> <br>
      <span>5.驱动轮</span>
    </div>
  </li>







</ul>