 <style>

.all>li, li>.left,li>.right{
   float: left;
}
.am-list-li{
    width: 50%;
    height:300px;
    overflow: hidden;
}
.am-list-li.boxer{
    background:#e60012 ;
}
.am-list-li div{
    z-index: 10;
}
.am-list-li .bgbg{
    width: 200%;
    height:200%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.am-list-li .left{
    font-size: 2em;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 33%;
    height: 120px;
    line-height: 120px;
    color:#fff;

}
.am-list-li   .right_title{
    font-size: 24px;
    line-height: 50px;
    position: absolute;
    top: 20px;
    left: 35%;
    width: 65%;
    text-align: left;
    color:#fff;
}
.am-list-li .right_en{
    font-size: 17px;
    position: absolute;
    top: 60px;
    left: 35%;
    width: 65%;
    text-align: left;
    color:#fff;

}
.am-list-li  .right_div_body{
    position: absolute;
    width: 200px;
    position: absolute;
    top: 125px;
    left: 35%;
    width: 65%;
    text-align: left;
    color:#fff;
 }
.am-list-li  .right_div_body a{
    color: #fff;
}
 </style>



<ul class="am-list all">
  <li class="am-list-li boxer"> <div class="bgbg"></div>
     <div class="left"><span>01</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">搬运车</span>
      <span class="right_en">  PALLET&nbsp;TRUCK</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.手动搬运车</span> </a>   <br>
      <span>2.剪式搬运车</span> <br>
      <span>3.半电动搬运车</span> <br>
      <span>4.全电动搬运车</span></div>
    </div>
  </li>
  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>02</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">无人搬运车</span>
      <span class="right_en">  AGV</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.潜伏式AGV车</span> </a>   <br>
      <span>2.牵引式AGV</span>  <br>
      <span>3.背负式AGV</span>  <br>
      <span>4.台车式AGV</span>   <br>
      <span>5.SMT专用AGV</span> <br>
      <span>6.叉车式AGV</span>  </div>
    </div>
  </li>
  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>03</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">堆高车</span>
      <span class="right_en">  PALLET&nbsp;TRUCK</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.手动堆高车</span> </a>   <br>
      <span>2.行李车</span> <br>
      <span>3.半电动堆高车</span> <br>
      <span>4.全电动堆高车</span> <br>
      <span>5.平衡重电动堆高车</span> <br>
      <span>6.前移式电动堆高车</span>
     </div>
    </div>
  </li>
  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>04</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">叉车</span>
      <span class="right_en">FORKLIFT</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.电瓶叉车</span> </a>   <br>
      <span>2.内燃叉车</span> <br>
      <span>3.前移式叉车</span> <br>
      <span>4.窄巷道叉车</span> <br>
      <span>5.特种叉车</span> <br>
      <span>6.叉车属具</span>
    </div> </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>05</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">牵引车</span>
      <span class="right_en">  TOW&nbsp; TRACTOR</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.电动牵引车</span> </a>   <br>
      <span>2.柴油牵引车</span> <br>
      <span>3.汽车转移器</span>
       </div>
    </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>06</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">高空作业平台</span> <br>
      <span class="right_en">AERIAL&nbsp;WORK&nbsp;PLATFORMS</span> </a> <br/><div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.铝合金平台</span> </a>   <br>
      <span>2.剪叉式平台</span> <br>
      <span>3.直臂式平台</span> <br>
      <span>4.曲臂式平台</span> <br>
      <span>5.高空取料机</span> <br>
      <span>6.叉车载人平台</span>
      </div>   </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>07</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">油桶车</span>
      <span class="right_en">DRUM&nbsp;TRUCK</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.油桶搬运车</span> </a>   <br>
      <span>2.油桶堆高车</span> <br>
      <span>3.油桶翻转车</span> <br>
      <span>4.油桶属具</span>
    </div>  </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>08</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">手推车</span>
      <span class="right_en">HAND &nbsp;CART</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.静音手推车</span> </a>   <br>
      <span>2.服务车</span> <br>
      <span>3.各种专用物流车</span>
      </div>
    </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>09</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">存储器具</span>
      <span class="right_en">  STORAGE&nbsp;APPARATUS</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.仓储笼</span> </a>   <br>
      <span>2.托盘</span> <br>
      <span>3.周转箱</span> <br>
      <span>4.零件盒</span>
       </div>
    </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>10</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">工业衡器</span>
      <span class="right_en">  INDUSTRIAL&nbsp;WEIGHING</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.便携式台秤</span> </a>   <br>
      <span>2.固定式台秤</span> <br>
      <span>3.异型秤</span> <br>
      <span>4.轴重秤</span> <br>
      <span>5.地磅</span> <br>
      <span>6.工业吊秤</span>
    </div> </div>
  </li>
  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>11</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">工业平台</span>
      <span class="right_en">  INDUSTRIAL&nbsp;PLATFORM</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.手动平台车</span> </a>   <br>
      <span>2.电动平台车</span> <br>
      <span>3.电动液压平台</span> <br>
      <span>4.装载升降平台</span> <br>
      <span>5.固定液压升降平台</span>
           </div>
    </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>12</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">装卸设备</span>
      <span class="right_en">  HANDLING &nbsp;EQUIPMENT</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.汽车尾板</span> </a>   <br>
      <span>2.登车桥</span> <br>
      <span>3.装卸平台</span> <br>
      <span>4.装车机</span>
     </div>  </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>13</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">手工具</span>
      <span class="right_en">  HAND&nbsp;TOOLS</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.扳手</span> </a>   <br>
      <span>2.螺丝批</span> <br>
      <span>3.钳类工具</span> <br>
      <span>4.专用手工具</span> <br>
      <span>5.锤、尺、剪刀</span> <br>
      <span>6.扭力工具</span>
    </div> </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>14</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">动力工具</span>
      <span class="right_en">  POWER&nbsp;TOOLS</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.电动装璜工具</span> </a>   <br>
      <span>2.电动金属切割工具</span> <br>
      <span>3.电动装配工具</span> <br>
      <span>4.气动扳手</span> <br>
      <span>5.气动冲压工具</span> <br>
      <span>6.启动螺丝刀</span>
    </div>  </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>15</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">工位设备</span>
      <span class="right_en">  STATION&nbsp;EQUIPMENT</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.工具箱</span> </a>   <br>
      <span>2.工作台</span> <br>
      <span>3.工具车</span> <br>
      <span>4.置物柜</span> <br>
      <span>5.文件柜</span>

    </div>  </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>16</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">起重设备</span>
      <span class="right_en">LIFTING&nbsp;EQUIPMENT</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.吊机</span> </a>   <br>
      <span>2.葫芦</span> <br>
      <span>3.吊具</span> <br>
      <span>4.千斤顶</span>
           </div>
    </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>17</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">货物包装</span>
      <span class="right_en">  GOODS&nbsp;PACKING</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.手动打包机</span> </a>   <br>
      <span>2.电动打包机</span>
    </div></div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>18</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">清洁设备</span>
      <span class="right_en">  PALLET&nbsp;TRUCK</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.扫地机</span> </a>   <br>
      <span>2.洗地机</span> <br>
      <span>3.吹干机</span> <br>
      <span>4.清洁车</span>
              </div>
    </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>19</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">货架</span>
      <span class="right_en">  GOODS&nbsp;SHELVES</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.轻型仓储货架</span> </a>   <br>
      <span>2.中型仓储货架</span> <br>
      <span>3.重型仓储货架</span> <br>
      <span>4.阁楼货架</span> <br>
      <span>5.物料架</span>

    </div>   </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>20</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">工业门</span>
      <span class="right_en">  INDUSTRIAL&nbsp;DOOR</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.快速门</span> </a>   <br>
      <span>2.快速堆积门</span> <br>
      <span>3.快速卷帘门</span> <br>
      <span>4.工业滑升门</span> <br>
      <span>5.柔性提升门</span> <br>
      <span>6.车库门</span>
    </div>  </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>21</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">液压系统</span>
      <span class="right_en">HYDRAULIC&nbsp;SYSTEM</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.液压泵</span> </a>   <br>
      <span>2.液压阀</span> <br>
      <span>3.液压马达</span> <br>
      <span>4.液压元件</span> <br>
      <span>5.动力单元</span>
    </div></div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>22</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">安防用品</span>
      <span class="right_en">  PALLET&nbsp;TRUCK</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.安全帽</span> </a>   <br>
      <span>2.防撞帽</span> <br>
      <span>3.安全绳</span> <br>
      <span>4.安全钩</span> <br>
      <span>5.护腰带</span>
    </div> </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>23</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">防爆设备</span>
      <span class="right_en">EX-PROOF&nbsp;EQUIPMENT</span> <br> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.防爆搬运车</span> </a>   <br>
      <span>2.防爆堆高车</span> <br>
      <span>3.防爆油桶车</span> <br>
      <span>4.防爆叉车</span>
    </div>   </div>
  </li>

  <li class="am-list-li boxer"> <div class="bgbg"></div>
    <div class="left"><span>24</span></div>
    <div class="right"><a href="/vshop/1/category?cat=580"> <span class="right_title">工业产品</span>
      <span class="right_en">  INDUSTRIAL&nbsp;PRODUCTS</span> </a> <div class="right_div_body">
      <a href="/mproducts?id=a0010001&supplier_id=1&fp=category"> <span>1.观光车</span> </a>   <br>
      <span>2.立钻机床</span> <br>
      <span>3.工业脚轮</span> <br>
      <span>4.车间用品</span> <br>
      <span>5.驱动轮</span>
    </div>    </div>
  </li>







</ul>

 <%=javascript_include_tag "manco/TweenMax.min.js"%>
 <script type="text/javascript">
 var colors = ["e60012","a5866c","595857","009943","008cd7","aace02","e72010","a50082","ea5522","e6217d","921d52","000710","5ebc8f","0750a2","546857","f1c314","f4b6d1","8d2921","50c1e0","044f2b","006c76","9d4897","a59acb","6f8831"];
   $(document).ready(function(){
         $(".am-list-li").each(function(i){
             $(this).children(".bgbg").css("background","#"+colors[i]);
         });
        window.setInterval(changeColors,1000);
   })
 function changeColors(){
    var leng = $(".am-list-li").length;
    var ramdomDiv = Math.floor(Math.random()*leng);
    var ramdomNum = Math.floor(Math.random()*colors.length);
     $(".am-list-li").eq(ramdomDiv).children(".bgbg").css({"background":'#'+('00000'+(Math.random()*0x2000000<<0).toString(16)).slice(-6),"display":"none","opacity":"0","border-radius":"400%"});
     TweenLite.to( $(".am-list-li").eq(ramdomDiv).children(".bgbg")[0], 0.5, {display:"block","opacity":"1","border-radius":"0%"});
 }
 </script>