<div class="am-panel am-panel-default">
  <div class="am-panel-hd" style="text-align: center">意见反馈</div>
  <div class="am-panel-bd">
    <form class="am-form">

      <div class="am-form-group">
        <label for="doc-ipt-email-1">标题：</label>
        <input type="text" class="" id="doc-ipt-email-1" placeholder="输入您的标题(必选)">
      </div>

      <div class="am-form-group">

        <textarea class="" rows="5" id="doc-ta-1" placeholder="请输入对该产品的要求和对我们的意见"></textarea>
      </div>

      <div class="am-form-group">
        <label for="doc-ipt-email-1">联系人</label>
        <input type="text" class="" id="doc-ipt-email-1" placeholder="输入联系人">
      </div>
      <div class="am-form-group">
        <label for="doc-ipt-email-1">联系电话</label>
        <input type="text" class="" id="doc-ipt-email-1" placeholder="输入联系电话">
      </div>
      <div class="am-form-group">
        <label for="doc-ipt-email-1">邮箱</label>
        <input type="text" class="" id="doc-ipt-email-1" placeholder="输入邮箱地址">
      </div>








      <button type="submit" class="am-btn am-btn-cheuks button">提交意见</button>

    </form>
    <br/>
  </div>
</div>

<style>
    .button{
        width: 50%; float: left;
    }
</style>
