<div class="am-list-news-hd am-cf" style="
background: #f0f0f0; padding: 10px;color: red"><h2>&nbsp;&nbsp;公司简介</h2><span class="am-list-news-more am-fr">更多 »</span></div>
<div >
  <p> &nbsp;&nbsp;&nbsp;卓展集团是一家专业于工业与物流装备和技术的现代企业，专业经营搬运车、堆高车、叉车、高空作业平台、汽车尾板、液压元件和系统、仓储工程、工业工具等一系列工业产品。</p>
 <p> &nbsp;&nbsp;&nbsp;　集团在上海、苏州、广州、南宁、柳州、中山、惠州等地设立了物流设备4S店。公司已通过ISO9001质量管理体系认证，产品获得了德国莱茵公司CE和GS认证。主要产品七大类2000多个，广泛应用于现代工业和物流的各个场所。</p>
 <p> &nbsp;&nbsp;&nbsp;　　公司致力于为客户提供完整和满意的物流解决方案，为客户提供标准化的产品，品质符合国际标准。并且可根据客户的个性化需求，设计和制造非标产品，实现一站式的采购服务。  </p>
 <p> &nbsp;&nbsp;&nbsp;　生产设备先进、工艺完善，拥有数控焊接机、焊接机器人、数控铣床、数控车床、全自动喷涂流水线、大型油压机、冲压设备等高、精、尖大型智能设备200多台（套），同时还拥有疲劳寿命测试机、液压测试台、倾翻试验台等先进专用检测设备。  </p>
<p> &nbsp;&nbsp;&nbsp;　　公司奉行“质量第一、信誉至上”的宗旨，注重企业品牌建设和企业诚信建设，提供优质的产品和服务，在行业内享有较高的知名度，在社会上有着良好的声誉。  </p>
<p> &nbsp;&nbsp;&nbsp;　　“卓于心，展以行”是公司技术和品质的追求，公司把提高企业核心竞争力作为一项重要工作来抓，紧紧把握国际现代工业和物流装备快速向大型化、智能化和节能环保型方向发展的趋势，以自主开发和原创性创新为主，并与大专院校、科研机构合作，走“产学研”联合开发的道路，研究出适合市场的新产品、新技术和新工艺。</p>
<p> &nbsp;&nbsp;&nbsp;　　跻身国际知名工业和物流装备业是我们永恒的追求。</p>
<p> &nbsp;&nbsp;&nbsp;　　卓展集团拥有自营进出口权，产品在历届科隆、汉诺威、芝加哥、广交会等国际展览会上受到客商的一致赞誉，畅销美洲、欧洲、亚洲、非洲等100多个国家和地区。公司实行国际化战略，不断提升自身的核心竞争力。同时，为开拓广阔的国际市场和掌握国际先进技术，在德国和美国设立研发和服务中心，致力于公司国际化经营战略的实施。</p>
</div>

<div class="am-list-news-hd am-cf" style="background: #f0f0f0; padding: 10px;color: red">
  <h2>&nbsp;&nbsp;系列分类</h2><span class="am-list-news-more am-fr">更多 »</span></div>
<div id="widget-list">
  <ul class="am-list m-widget-list">

    <li>
      <a href="/cheuks/new_detail" style="padding: 0px">


            <img src="http://images02.cdn86.net/kps01/M00/EC/A3/wKiAiVPuvvaia58lAABhBE1rNko582.jpg" width="75" height="75">
       <span class="widget-name" style="margin-left: 20px" > 车载式高空作业平台 </span>
        </a>
    </li>

    <li>
      <a href="/cheuks/new_detail" style="padding: 0px">


        <img src="http://images02.cdn86.net/kps01/M00/EC/A3/wKiAiVPuvvaia58lAABhBE1rNko582.jpg" width="75" height="75">
        <span class="widget-name" style="margin-left: 20px" > 车载式高空作业平台 </span>
      </a>
    </li>

    <li>
      <a href="/cheuks/new_detail" style="padding: 0px">


        <img src="http://images02.cdn86.net/kps01/M00/EC/A3/wKiAiVPuvvaia58lAABhBE1rNko582.jpg" width="75" height="75">
        <span class="widget-name" style="margin-left: 20px" > 车载式高空作业平台 </span>
      </a>
    </li>

  </ul>



  <div class="am-list-news-hd am-cf" style="background: #f0f0f0; padding: 10px;color: red">
  <h2>&nbsp;&nbsp;产品推荐</h2><span class="am-list-news-more am-fr">更多 »</span></div>

  <div class="am-g">


    <div class="col-sm-6">
      <a href="/rongdas/goods_detail">
        <div class="am-thumbnail" >
          <img src="/assets/cheuks/IMG_0231.jpg" alt=""/>
          <div class="am-thumbnail-caption">
            <span>0.567T升高10M自行越</span>
          </div>
        </div>   </a>
    </div>

    <div class="col-sm-6">
      <a href="/rongdas/goods_detail">
        <div class="am-thumbnail" >
          <img src="/assets/cheuks/IMG_0231.jpg" alt=""/>
          <div class="am-thumbnail-caption">
            <span>0.567T升高10M自行越</span>
          </div>
        </div>
      </a>
    </div>


    <div class="col-sm-6">
      <a href="/rongdas/goods_detail">
        <div class="am-thumbnail" >
          <img src="/assets/cheuks/IMG_0231.jpg" alt=""/>
          <div class="am-thumbnail-caption">
            <span>0.567T升高10M自行越</span>
          </div>
        </div>
      </a>
    </div>


    <div class="col-sm-6">
      <a href="/rongdas/goods_detail">
        <div class="am-thumbnail" >
          <img src="/assets/cheuks/IMG_0231.jpg" alt=""/>
          <div class="am-thumbnail-caption">
            <span>0.567T升高10M自行越</span>
          </div>
        </div>
      </a>
    </div>





  </div>






</div>