
<style>
    @media only screen and (min-width: 1200px) {
        .blog-g-fixed {
            max-width: 1200px;
        }
    }

    @media only screen and (min-width: 641px) {
        .blog-sidebar {
            font-size: 1.4rem;
        }
    }

    .blog-main {
        padding: 20px 0;
    }

    .blog-title {
        margin: 10px 0 20px 0;
    }

    .blog-meta {
        font-size: 14px;
        margin: 10px 0 20px 0;
        color: #222;
    }

    .blog-meta a {
        color: #27ae60;
    }

    .blog-pagination a {
        font-size: 1.4rem;
    }

    .blog-team li {
        padding: 4px;
    }

    .blog-team img {
        margin-bottom: 0;
    }

    .blog-footer {
        padding: 10px 0;
        text-align: center;
    }
</style>
</head>
<body>


<div class="am-g am-g-fixed blog-g-fixed">
  <div class="col-md-8">
    <article class="blog-main">
      <h3 class="am-article-title blog-title" >
        卓展致力于现代物流技术和设备，降低物流成本
      </h3>
      <h4 class="am-article-meta blog-meta" style="text-align: center">2011-5-11 9:55:52</h4>

      <div class="am-g blog-content">
        <div class="col-lg-7">
          <p> 聚焦物流顽疾：物流堵在最后一公里
          主持人：作为上海市内最大的物流配送公司之一，也只有三张通行证，怪不得他们送货要靠打出租车。而北京，交管部门的回答更明确，没指标了。各大城市对货车限行，最主要的原因是是担心加剧交通拥堵，但有没有算过物流不畅对于物价的影响呢？
            我们来看看中国的香港，这是一个寸土寸金的繁华之地，是国际金融中心、航运中心，也是现代物流中心，那么香港又是如何解决物流堵在最后一公里的困难呢？</p>
          <p>物流公司负责人恽绵告诉记者，在国内的很多大中城市，物流围城的现象普遍存在，现实情况是，相当一部分商品是通过各种违法的方式运进城的。
          </p>
          <p>张晓东 北京交通大学教授 </p>
            　张晓东：通行证的发放，通行证的数量跟市场需求以我们了解的情况，几年前做过一个调查，是不够用的。北京市每年货运量2.9亿吨，80%是进城的货。我们说就是两亿多吨，两亿多吨的货，要求货运能力就会很高，而目前我们的车证少，所以需要以货代货，或者客货混装，没有这一部分车来运货，你可以想象很多超市的货就根本送不到。</p>
            <p>记者：这一部分会占多大比例？<br>
              张晓东：大概说50%到70%是有的，甚至70%、80%。 <br>
              　　专家给记者算了这样一笔账：即使是最小的货车它的载货量是12立方，相当于4两金杯车的载货量。从现实来看，货车禁行后，上路的面包车多了，其实并没有减轻拥堵压力，反而加剧了拥堵。而且，一辆货车所占的道路资源远远小于四辆金杯，尾气排放也远小于4辆金杯车。此外，目前的城市配送不畅，实际上增加了商品的流通成本。</p>
              <p>　邹晓美 北京物资学院教授   <br>
                　　邹晓美：它原来可能用一辆大货车，可以运送一趟货物，现在就得变成两辆或者三辆，可能要增加投资的成本。当然包括时间成本，财务成本，这样等于统统都加大了。
                记者注意到，有很多同样面临交通拥堵困扰的国家和地区，对货车进城采取了不同的管理措施。在中国香港，物流业是支柱产业之一，不少跨国企业也都选择香港作为储存、管理和运送产品及获取增值服务的理想基地，作为亚洲重要的金融、商贸中心。香港特区政府一方面限制私人轿车的发展，另一方面却对从事物流运输的货车大开绿灯，几乎没有任何限制。而且大部分商场、超市在夜间也会收货。</p>
             <p>　郑会友 香港物流协会会长   <br>
               　　郑会友：如果遇到塞车，物流公司也会想怎么处理，物流公司一般会马上通知供应商，可不可以在仓库里用同样数量、质量的货物，使用另一架车(装载)，(通过避开)塞车路线而送去目的地。另外一个方法，可以用摩托车在堵车分批、分散来送货。
               亚洲的另外一个大城市东京，同样限制私人轿车的发展，但和香港一样，东京对物流配送的货车却没有任何限制，货运车被视为城市公共交通的一部分，甚至和公交车一样享受财政补贴。</p>
        <p>     &nbsp; 邹晓美：(日本的)配送车辆，特别也是百姓必需品，基本上是借用，比如说像我们所说公交快车道，那种是专用车道。
          那么，同样是一个交通拥堵的城市，东京是如何解决城市货物配送难题的呢？专家告诉记者，日本的城市配送，采用共同配送的办法，为同一区域的商家设立共同配送中心，统一调配运送货物。而且日本的商业区一般有专门的卸货平台，商家用小的搬运工具把货物从卸货平台运回去。</p>
          <p>　　肖和森 北京物流公共信息平台执行总监
            肖总：(货车)在卸货区停的时间非常短，给后面的车辆提供了一个很方便的停车时间，再一个，他的组织规模化，卸完货后很快就走了，这样给整个组织效率会带来很大的提升，商家也会自己在重视自己整个物流的组织。
            主持人：中国物流与采购联合会发布的最新数据显示，2010年中国物流总费用占国内生产总值比重约18%左右，比发达国家高出一倍。物价高企背后，有许多复杂的原因，而物流不畅进城难，则是其中的一个重要推手。缓解交通拥堵、规范货车运输，城市管理者的本意固然是为了让大多数人享受到城市文明带来的方便与快捷，但对比中国香港和日本东京的案例，我们应当发现，和香港、东京相比，北京上海对私人轿车的管制过于宽松，而对公交、货运的扶持过于乏力，以结果论，香港、东京的城市交通既比我们畅通，物流环境比我们更便利。城市管理需要整体智慧和前瞻眼光，头痛医头，脚痛医脚，往往顾此失彼，左右为难。但愿我们的城市管理者能够重新审视城市功能定位，宜疏导，忌堵截，真正让农民和市民都能获益。</p>


        </div>

      </div>
      <div class="am-g">
        <div class="col-sm-12">
          <p> 针对物流成本高涨的形势，我们上海卓展想方设法降低物流成本，提高物流的整体效率。卓展一如既往地秉承“致力于现代物流技术和设备，降低物流成本”的宗旨。</p>
        </div>
      </div>
    </article>




    <hr class="am-article-divider blog-hr">
    <ul class="am-pagination blog-pagination">
      <li class="am-pagination-prev"><a href="">&laquo; 上一页</a></li>
      <li class="am-pagination-next"><a href="">下一页 &raquo;</a></li>
    </ul>
  </div>

  <div class="col-md-4 blog-sidebar">
    <div class="am-panel-group">

      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">行业动态</div>
        <ul class="am-list blog-list">
          <li><a href="#">2012年第九届东盟博览会圆满落幕</a></li>
          <li><a href="#">卓展宝骊叉车获年度创新产品奖</a></li>
          <li><a href="#">卓展荣获“2013年嘉定新城最佳创新奖”</a></li>

        </ul>
      </section>


    </div>
  </div>

</div>




