<style>
    li span{
        margin-left: 20px;
        color: #7c7c7c;


    }

    .date{ color: #7c7c7c;
        font-size: 16px;
        float: right;
        margin-right: 30px;

    }


</style>

<div class="am-list-news-hd am-cf" style="
background: #f0f0f0; padding: 10px"><h2>&nbsp;&nbsp;行业动态 </h2><span class="am-list-news-more am-fr">更多 »</span></div>

<div id="widget-list">
  <ul class="am-list m-widget-list">

    <li>
      <a href="/cheuks/industry_detail">

        <span class="widget-name" > 高空作业车传动系统的改进</span>
        <span class="date">2014-08-11</span>
      </a>
    </li>
   <li>
    <a href="/cheuks/industry_detail">

      <span class="widget-name"> 警惕这些原因导致高空作业车发生事故</span>
      <span class="date">2014-08-08</span>
    </a>
    </li>

    <li>
      <a href="/cheuks/industry_detail" >

        <span class="widget-name" style="width:260px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap">卓展致力于现代物流技术和设备，降低物流成本</span>

        <span class="date">2011-5-11</span>
      </a>
    </li>





  </ul>


  <div class="doc-example">
    <a href="#" class="am-btn am-btn-default am-round" style="margin: 10px 5px; height: 50px;line-height: 24px;display: block;

    " > 更多 </a>
  </div>
</div>
</div>