
  <style>
      @media only screen and (min-width: 1200px) {
          .blog-g-fixed {
              max-width: 1200px;
          }
      }

      @media only screen and (min-width: 641px) {
          .blog-sidebar {
              font-size: 1.4rem;
          }
      }

      .blog-main {
          padding: 20px 0;
      }

      .blog-title {
          margin: 10px 0 20px 0;
      }

      .blog-meta {
          font-size: 14px;
          margin: 10px 0 20px 0;
          color: #222;
      }

      .blog-meta a {
          color: #27ae60;
      }

      .blog-pagination a {
          font-size: 1.4rem;
      }

      .blog-team li {
          padding: 4px;
      }

      .blog-team img {
          margin-bottom: 0;
      }

      .blog-footer {
          padding: 10px 0;
          text-align: center;
      }
  </style>
</head>
<body>


<div class="am-g am-g-fixed blog-g-fixed">
  <div class="col-md-8">
    <article class="blog-main">
      <h3 class="am-article-title blog-title" >
        卓展荣获2013年嘉定新城最佳创新奖
      </h3>
      <h4 class="am-article-meta blog-meta" style="text-align: center">2013-12-20 17:25:00</h4>

      <div class="am-g blog-content">
        <div class="col-lg-7">
          <p> 本周三，2013年度嘉定新城(马陆镇)中外企业表彰大会，在上海隆重召开，上百家优秀企业代表欢聚一堂，共同对今年的经济发展进行了讨论与演讲，一同喜迎新年。嘉定新城(马陆镇)相关领导出席了活动。</p>
          </div>
        <div class="col-lg-5">
          <p><img src="/assets/cheuks/20131220172529659.jpg"></p>
        </div>
      </div>
      <div class="am-g">
        <div class="col-sm-12">
          <p>上海市嘉定区和马陆镇政府的领导在大会中在大会中发表了讲话，他对全体优秀企业为嘉定和马陆区域经济发展作出的巨大贡献表示感谢，满怀期待地诚挚邀请企业家们共襄嘉定新城建设发展，在参加嘉定新城建设过程中实现企业自身的更好发展，并祝福所有企业在明年的发展中取得更好的业绩。</p>


        </div>
      </div>
    </article>




    <hr class="am-article-divider blog-hr">
    <ul class="am-pagination blog-pagination">
      <li class="am-pagination-prev"><a href="">&laquo; 上一页</a></li>
      <li class="am-pagination-next"><a href="">下一页 &raquo;</a></li>
    </ul>
  </div>

  <div class="col-md-4 blog-sidebar">
    <div class="am-panel-group">

      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">新闻目录</div>
        <ul class="am-list blog-list">
          <li><a href="#">2012年第九届东盟博览会圆满落幕</a></li>
          <li><a href="#">卓展宝骊叉车获年度创新产品奖</a></li>
          <li><a href="#">卓展荣获“2013年嘉定新城最佳创新奖”</a></li>

        </ul>
      </section>


    </div>
  </div>

</div>




