<style>
  li span{
      margin-left: 20px;
      color: #7c7c7c;


  }

 .date{ color: #7c7c7c;
  font-size: 16px;
     float: right;
     margin-right: 30px;

  }


</style>

<div class="am-list-news-hd am-cf" style="
        background: #f0f0f0; padding: 10px"><h2>&nbsp;&nbsp;公司动态 </h2><span class="am-list-news-more am-fr">更多 »</span></div>

  <div id="widget-list">
    <ul class="am-list m-widget-list">

      <li>
        <a href="/cheuks/new_detail" >

          <span class="widget-name" style="width:260px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap">卓展荣获“2013年嘉定新城最佳创新奖”</span>

          <span class="date">2013-12-20</span>
        </a>
      </li>

      <li>
        <a href="/cheuks/new_detail">

          <span class="widget-name" >2012年第九届东盟博览会圆满落幕</span>
          <span class="date">2012-10-8</span>
        </a>
      </li>

      <li>
        <a href="/cheuks/new_detail">

          <span class="widget-name">卓展宝骊叉车获年度创新产品奖</span>
          <span class="date">2013-6-9</span>
        </a>
      </li>

    </ul>


    <div class="doc-example">
      <a href="#" class="am-btn am-btn-default am-round" style="margin: 10px 5px; height: 50px;line-height: 24px;display: block;

              " > 更多 </a>
    </div>
  </div>
</div>