<DIV class="banner">
  <DIV class="slider_container">
    <DIV class="slider_list">
      <OL id="slider_container">
        <LI class="slide_item wx_login">
          <DIV class="inner_slide_item">
            <DIV class="slide_con">
              <H2>移动微店<BR>便捷管理</H2>
              <P><A class="jsUrlLink btn btn_banner" href="/vshop/article?id=ruzhutiaojian" data-url="home/wx_login">平台入驻条件</A>
              </P></DIV>
            <DIV class="slide_img"><IMG src="" back_src="/assets/vshop/banner_index_login1ea368.png">
            </DIV></DIV></LI>
        <LI class="slide_item wx_pay">
          <DIV class="inner_slide_item">
            <DIV class="slide_con">
              <H2>朋友圈推广<BR>零成本营销</H2>
              <P><A class="jsUrlLink btn btn_banner btn_banner_pay" href="/vshop/article?id=yongjin"
                    data-url="home/pay">了解更多</A> </P></DIV>
            <DIV class="slide_img"><IMG src="" back_src="/assets/vshop/banner_index_pay1ea368.png">
            </DIV></DIV></LI>
        <LI class="slide_item wx_login">
          <DIV class="inner_slide_item">
            <DIV class="slide_con">
              <H2>人人为您销售<BR>自动获得佣金</H2>
              <P><A class="jsUrlLink btn btn_banner" href="/vshop/article?id=yunzuoguize" data-url="home/wx_login">平台入驻规则</A>
              </P></DIV>
            <DIV class="slide_img"><IMG src="" back_src="/assets/vshop/banner_index_login1ea369.png">
            </DIV></DIV></LI>
      </OL></DIV>
    <DIV class="slider_nav">
      <UL id="slider_title">
        <LI class="current">1</LI>
        <LI>2</LI><LI>3</LI></UL></DIV></DIV></DIV>
<DIV class="container" style="display:none">
  <DIV class="inner wrp">
    <DIV class="notices_box"><I class="icon_speaker"></I>
      <UL>
        <LI><A class="jsUrlLink" href="javascript:"
               data-url="note/post-wxlogin">微信开放平台更新，微信登录功能邀请内测</A><I
        class="icon_common new"></I></LI>
        <LI><A class="jsUrlLink" href="javascript:"
               data-url="note/apply-wxpay">微信开放平台改版，可申请微信支付</A><I
        class="icon_common new"></I></LI></UL></DIV>
    <DIV class="site_desc_box">
      <UL class="inner">
        <LI class="site_desc_item app_dev grid_item size1of3">
          <DIV class="site_desc_inner">
            <DL>
              <DT>移动应用开发</DT>
              <DD class="content">接入微信开放平台，让你的移动应用支持微信分享、微信收藏和微信支付。</DD>
              <DD class="readmore"><A class="jsUrlLink btn btn_primary" href="javascript:;"
                                      data-url="home/app">了解更多</A></DD>
              <DD class="icon_site_desc gray"></DD></DL></DIV></LI>
        <LI class="site_desc_item web_dev grid_item size1of3">
          <DIV class="site_desc_inner">
            <DL>
              <DT>网站应用开发</DT>
              <DD class="content">接入微信开放平台，让你的网站支持使用微信帐号来登录</DD>
              <DD class="readmore"><A class="jsUrlLink btn btn_primary" href="javascript:;"
                                      data-url="home/web">了解更多</A></DD>
              <DD class="icon_site_desc gray"></DD></DL></DIV></LI>
        <LI class="site_desc_item wx_dev grid_item size1of3  no_extra_flex">
          <DIV class="site_desc_inner">
            <DL>
              <DT>公众帐号开发</DT>
              <DD class="content">接入微信开放平台公众帐号开发，为亿万微信用户提供轻便的服务。</DD>
              <DD class="readmore"><A class="jsUrlLink btn btn_primary" href="javascript:;"
                                      data-url="home/mp">了解更多</A></DD>
              <DD
              class="icon_site_desc gray"></DD></DL></DIV></LI></UL></DIV></DIV></DIV></DIV>