<DIV class="banner">
  <DIV class="slider_container">
    <DIV class="slider_list">
      <OL id="slider_container">
        <LI class="slide_item wx_login" style="background: #ff0000">
          <DIV class="inner_slide_item"  style="width:500px;">
            <DIV class="slide_con">
              <H2>欢迎加盟卓展</H2>
              <P>
                <%unless current_admin%>
              <A class="jsUrlLink btn btn_banner" href="/vshop/register">加盟</A>
                    <!--<%#else%>-->
                    <!--<A class="jsUrlLink btn btn_banner" href="#">我的资料管理</A>-->
                <%end%>
              </P>
            </DIV>
          </DIV></LI>
        
      </OL></DIV>
    <DIV class="slider_nav">
      <UL id="slider_title">
        <LI class="current">1</LI></UL></DIV></DIV></DIV>
