<br>

<br>
 <div style="margin: 10px;padding: 10px">

<div class="am-alert am-alert-warning">
 很抱歉 您进入的馆，我们正在筹备上线，敬请期待
  您可以进入下面几个馆

</div>

<ul class="am-list" style="text-align: center">
  <li>
    <a href="/quality_products?supplier_id=78"> <span>生态农产馆</span> </a>
  </li>
  <li><a href="/world_food?supplier_id=78"> <span>德国香肠馆</span> </a>
  </li>
  <li><a href="/prime_beef?supplier_id=78"><span>顶级牛肉馆</span> </a>
  </li>
   <li> <a href="/food_beverage?supplier_id=78"><span>食品饮料馆</span></a> </li>
  <br>
  <br>

</ul>
     </div>