
<header id="header" class="header clearfix">

  <div class="head_left fl"><a href="/m/user"><span class="h_back"></span></a></div>
  <span class="headtit">个人中心</span>
  <div class="head_right fr"><a href="/vshop/<%= @supplier.id%>" mars_sead="nav_home_btn"><span class="h_home"></span></a></div>
</header>

<div class="userinfo clearfix">
  <div class="fl"><p class="username">账户：</p></div>
  <div class="fr">
    <p class="setpsw"><sub></sub><a href="/profile/password">设置密码</a></p>
  </div>
</div>


<div class="userdiv" style="display:none">
  <ul class="orderList clearfix">
    <li><a href="user-order-list-unpay.html" class=""><span class="wait_pay"></span><p>待支付</p></a></li>
    <li><a href="user-order-list-unreceive.html" class=""><span class="wait_delivery"></span><p>待收货</p></a></li>
    <li><a href="user-order-list-more.html" class=""><span class="all_orders"></span><p>更多订单</p></a></li>
  </ul>
</div>
<div class="s_links in_user_center">
  <a href="user-fav-product.html" style="display:none">

    <em class="s_fav"></em>我的收藏<span></span><i class="s_onsale"></i>
  </a>
  <!--<a href="/goods?platform=mobile&supplier_id=<#%=@supplier.id%>"><em class="s_back"></em>我的订单<span></span></a>-->
  <a href="/orders/index_mobile?platform=mobile&supplier_id=<%=@supplier.id%>"><em class="s_back"></em>我的订单<span></span></a>
  <a href="/cart/mobile?id=<%=@supplier.id%>"><em class="s_back"></em>我的购物车<span></span></a>
  <a href="/share?supplier_id=<%=@supplier.id%>"><em class="s_back"></em>我的佣金<span></span></a>
  <a href="/commissions/bank_info"><em class="s_back"></em>佣金账号<span></span></a>

<div class="s_links in_user_center">
  <a href="/member_addrs?platform=mobile"><em class="s_addr"></em>配送地址<span></span></a>
</div>
<a href="user-logout.html" class="btn_white btn_out" mars_sead="logout_btn" style="display:none">退出登录</a>
<div class="space20"></div>
</div>