
  <style type="text/css">
      .bottomdiv {
          position: fixed;
          bottom: 0;
          width: 100%;
          background: #fff;
          border: #ddd 1px solid;
          border-top: #fff 1px solid;
          z-index: 1000000;
      }
  </style>


 <div data-am-widget="list_news" class="am-list-news am-list-news-default">
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
      <!--带更多链接-->
      <a href="###">
        <h2>关于餐厅:</h2>
        <span class="am-list-news-more am-fr">更多 &raquo;</span>
      </a>
    </div>
    <div class="am-list-news-bd">
      <ul class="am-list">
        <li class="am-g am-list-item-desced">
          <a href="" class="am-list-item-hd"> 餐厅介绍　</a>
          <div class="am-list-item-text">
            大渔铁板烧是一家主要做日本料理，同时兼做日式铁板烧、日式自助的餐厅。   铁板烧是相对平民的日式铁板烧，价格合理；自助，品种丰富，原料新鲜，只要不怕撑破肚皮，可以尽情饕餮。厨师很愿意和客人沟通，经常询问对食物是否有特殊要求；运铲的技艺也相当精湛，尤其烹饪牛排时，火焰腾空的一刹那，让人忍不住鼓掌。环境挺好，设备先进，近距离烧烤也不用担心油烟。
          </div>
        </li>
        <li class="am-g am-list-item-desced">
          <a href="#" class="am-list-item-hd">餐厅特色</a>
          <div class="am-list-item-text">
            铁板之所以这样受欢迎，最根本的原因还是它非常符合人们健康饮食的需要。食材新鲜，讲究吃到食材的原味，而且料理中少油少盐，只有中餐用量的三分之一，鲜味完全来自食材本身。调味品少而精，黄油等是用来提香提鲜，没有自己的味道，丝毫不会破坏食物的原味。而且铁板可以很快达到并准确保持在300度以上的高温，食材可以迅速地成熟，最大程度地保留食材的营养，口感也是无法比拟地有汁有味。
           </div>

      </ul>
    </div>
  </div>


  <div id="demo-view" data-backend-compiled="" >
    <div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout">
      <div class="am-list-news-hd am-cf">
        <a href="###"><h2>精选团购</h2><span class="am-list-news-more am-fr">更多 »</span></a></div>
      <div class="am-list-news-bd"><ul class="am-list">
        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
          <div class="am-col col-sm-4 am-list-thumb">
            <a href="/mproducts?id=a990001&supplier_id=99">
              <img src="/assets/tairyo/tuan.jpg" alt=""></a></div>
          <div class="am-col col-sm-8 am-list-main">
            <div class="am-list-item-text"><a href="/mproducts?id=a990001&supplier_id=99">仅售198元，价值430元双人套餐，根据您的口味调味，厨师为您现场烹饪，视觉与味觉的双重享受！</a></div>
            <div class="am-list-item-text" style="color: red ;float: right">￥77</div></div></li>
        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
          <div class="am-col col-sm-4 am-list-thumb">
            <a href="/tproducts?id=a990001&supplier_id=99">
              <img src="/assets/tairyo/tuan.jpg" alt=""></a></div>
          <div class="am-col col-sm-8 am-list-main">
            <div class="am-list-item-text"><a href="/tproducts?id=a990001&supplier_id=99">仅售198元，价值430元双人套餐，根据您的口味调味，厨师为您现场烹饪，视觉与味觉的双重享受！</a></div>
            <div class="am-list-item-text" style="color: red;float: right;margin-bottom: 0">￥77</div></div></li>

      </ul></div></div></div>




    <div class="bottomdiv clearfix">
      <div class="inner clearfix">

        <a href="/tairyoall?id=a990000&supplier_id=99&platform=tairyo" style="float: right" class="am-btn am-btn-warning " id="add_to_cart">饿了吗？需要订餐</a>

      </div>
    </div>
  </div></div>







    </div>
  </div>