

<div data-am-widget="map" class="am-map am-map-default" data-name="金芭浪新概念海鲜料理餐厅"
     data-address="上海市闵行区黄桦路318号(红松路)" data-longitude="" data-latitude="">
  <div id="bd-map"></div>
</div>

<div id="demo-view" data-backend-compiled="" >
  <div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout">
    <div class="am-list-news-hd am-cf">
      <a href="###"><h2>
        金芭浪新概念海鲜料理餐厅</h2></a></div>
    <div class="am-list-news-bd"><ul class="am-list">
      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
        <div class="am-col col-sm-4 am-list-thumb">
          地址:</div>
        <div class="am-col col-sm-8 am-list-main">
          黄桦路318号(红松路)</div></li>

      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
        <div class="am-col col-sm-4 am-list-thumb">
          电话:</div>
        <div class="am-col col-sm-8 am-list-main">
          021-54133980</div></li>
      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
        <div class="am-col col-sm-4 am-list-thumb">
          营业时间:</div>
        <div class="am-col col-sm-8 am-list-main">
          11：00--03:00</div></li>


    </ul></div></div></div>