
<script>
    var ui = 'touch';
</script>


<div class="head_title btn_sure"> 团购介绍</div>
<div class="product_detail">
  <div class="tab_content pro_detail_info">
    <div class="area_con_grey">
      <ul><li><b class="bt_lt_par_t"></b><h3>【团购内容】</h3></li>

        <p>可享受<strong>最高价值384元</strong><strong>比利时风味餐厅</strong><strong>浪漫双人餐</strong>，包含：<br /><strong>- 以下汤品任选2份</strong><br />&nbsp; 比利时蔬菜汤（1份，价值25元）<br />&nbsp; 南瓜浓汤（1份，价值16元）<br /><strong>- WOK DE SMAAK&nbsp;招牌色拉</strong>（1份，价值42元）<br /><strong>- 比利时经典风味贻贝</strong>（1份，价值68元）<br /><strong>- </strong><strong>比利时薯条配番茄酱/蛋黄酱</strong>（1份，价值20元）<br /><strong>- 香煎大虾</strong>（1份，价值88元）<br /><strong>- 咖喱鸡肉卷</strong>（1份，价值38元）<br /><strong>- 比利时列日风味华夫</strong>（1份，价值38元）<br /><strong>- 饮料</strong>（2杯，价值40元）<br /></p>
        </ul>
    </div>

    <div class="goods_con area_con_grey">
      <h3 class="title"  >【消费提示】</h3>
      1、有效期：2012年09月14日至2014年08月22日
      <br/>2、2013.2.8-2013.2.18 不参与团购活动
      <br/>3、商家接待时间：17:00-22:00
      <br/>4、提前1天预约，预约电话：021-64078302
      <br/>5、每人不限购，每次消费不限用糯米券，每张糯米券建议2人使用
      <br/>6、本次团购不可与店内其他优惠同享
      <br/>
    </div>


    <div class="goods_con area_con_grey">
      <h3 class="title"  >【特色亮点】</h3>
      - 比利时风味，精致口感
      <br/>- 菜品丰盛，精美呈献
      <br/>- 环境别致，尽享美食
      <br/>
    </div>

    <div class="goods_con area_con_grey">
      <h3 class="title"  >【菜色推荐】</h3>
      <img style="float:none" title="图片" src="http://nuomi.xnimg.cn/upload/2012/09-13/1347528627635-4133.jpg" /><br /><strong>WOK DE SMAAK 招牌色拉：</strong>这道色拉是主厨精选法式菜叶配合秘制酱汁，口感清爽。<br /><img style="float:none" title="图片" src="http://nuomi.xnimg.cn/upload/2012/09-13/1347528627738-7730.jpg" /><br /><a href="">用户评价</a><strong>比利时经典风味贻贝：</strong>比利时贻贝配比利时薯条，经典比利时国菜搭配组合。享受比利时异国风味，一定要尝一下！<br /><img style="float:none" title="图片" src="http://nuomi.xnimg.cn/upload/2012/09-13/1347528627896-9064.jpg" /><br /><strong>比利时薯条1份配番茄酱/蛋黄酱：</strong>精选原产比利时薯条，口感内酥外脆。<br /><img style="float:none" title="图片" src="http://nuomi.xnimg.cn/upload/2012/09-13/1347528627996-2315.jpg" /><br /><strong>香煎大虾：</strong>蒜泥香煎大虾配合特调酱汁。<br /><img style="float:none" title="图片" src="http://nuomi.xnimg.cn/upload/2012/09-13/1347528628172-7963.jpg" /><br /><strong>咖喱鸡肉卷：</strong>HOME MADE蔬菜卷饼配合咖喱酱汁及鸡胸肉，健康，轻食，但是真的很时尚。<br /><img style="float:none" title="图片" src="http://nuomi.xnimg.cn/upload/2012/09-13/1347528628298-6614.jpg" /><br /><strong>比利时列日风味华夫：</strong>无添加，纯手工揉面，天然发酵比利时列日风味华夫饼被带到了上海，去掉了过多的糖份，我们使其更加的健康，却依然保持了香浓的口感。<br /><img style="float:none" title="图片" src="http://nuomi.xnimg.cn/upload/2012/09-13/1347528628546-9089.jpg" /><br /><strong>饮料2杯</strong><br />
    </div>

    <div class="goods_con area_con_grey">
      <h3 class="title"  >【用户评论】</h3>
      <div id="SOHUCS"></div>
      <script>
          (function(){
              var appid = 'cyrmTsAaN',
                      conf = 'prod_5f1b7731ebb677190e934ff7f030c317';
              var doc = document,
                      s = doc.createElement('script'),
                      h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
              s.type = 'text/javascript';
              s.charset = 'utf-8';
              s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
              h.insertBefore(s,h.firstChild);
              window.SCS_NO_IFRAME = true;
          })()
      </script>
    </div>



    <br/>
    <br/>
    <br/>


    <div class="space15"></div>



    <div class="bottomdiv clearfix">
      <div class="inner clearfix">

        <a href="#" class="add_to_cart fr btn_sure " id="add_to_cart">需要预定？</a>

      </div>
    </div>




   </div>
    </div>
