
<style type="text/css">
    #headerimg{
        text-align: center;
    }
    #headerimg img{
        width:100%;
        margin: -8px;
        height: 30%;

    }



    .body_content h2{
        margin-bottom: 30px;
        margin-left: 46px;
    }



    .body_img img ,#tuan img {
        width: 100px;
        height: 100px;
        margin-left: 0px;
    }




    #contentse span{

        margin-bottom: 50px;
    }


</style>
</head>

<header id="header" class="header clearfix">

  <span class="headtit">金芭浪餐厅</span>
  <%if @user%>
      <div class="head_right fr">
        <a href="/cart/tairyo_cart" mars_sead="home_head_cart_btn" onclick="setBackAct(&#39;topHeaderCart&#39;)"/>
        <span class="h_cart"></span>
        </a>
      </div>
      <div class="head_right fr">
        <a href="/tairyo/user" onclick="setBackAct(&#39;topHeaderUserHome&#39;);" id="reddot">
          <span class="h_logn">                </span>
        </a>
      </div>
  <%end%>
</header>
<div id="headerimg" class="goods_con area_con_grey">
  <img style="float:none" title="图片" src="/assets/tairyo/thumb.jpg">
</div>

<div id="SOHUCS"></div>
<script>
    (function(){
        var appid = 'cyrmTsAaN',
                conf = 'prod_5f1b7731ebb677190e934ff7f030c317';
        var doc = document,
                s = doc.createElement('script'),
                h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
        s.type = 'text/javascript';
        s.charset = 'utf-8';
        s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
        h.insertBefore(s,h.firstChild);
        window.SCS_NO_IFRAME = true;
    })()
</script>