<style type="text/css">
    .aaa{
        margin: 0;
        float: left;
        font-size: 15px
    }</style>
<header id="header" class="header clearfix">

  <a class=" aaa" href="javascript:history.go(-1);">上一页</a>
  <span class="headtit">特色</span>
  <div class="head_right fr"><a href="/m" mars_sead="nav_home_btn"><span class="h_home"></span></a></div>
</header>
<div class="space10"></div>

<div id="wapModalsbox">
  <div id="goods_detail" class="aposition">
    <div id="goods_images" class="carousel" style="overflow: hidden; visibility: visible;">
      <ul data-cartimg="img" style="list-style: none; margin: 0px; width: 516px; transition: 0ms; -webkit-transition: 0ms; -webkit-transform: translate3d(0px, 0px, 0px);">
        <li style="width: 258px; display: table-cell; vertical-align: top;"><span>
              <img src="/assets/tairyo/sanwenyu.jpg"
                   data-original="/images/a072/a0729002_b_1.jpg"
                   data-onerror="/images/a072/a0729002_b_1.jpg"
                   alt="" class="smallImg active" mars_sead="product_big_pic">
            </span></li>
      </ul>
    </div>
    <div class="slideControl clearfix"> <!--<a href="#" id="prev" onClick='Touch_ImgReview.prev();return false;'></a>-->
      <div id="pro_pagination">

        <em class="on">1</em>

        <em>2</em>

      </div>
      <!--<a href="#" id="next" onClick='Touch_ImgReview.next();return false;'></a>-->
    </div>

  </div>
</div>
<a href="javascript:;" class="btn_more" data-getdetail="more" data-merchandise="normal" style="display: none;"><span class="moreimg"></span>查看商品详情</a>
<div class="product_detail">
  <div class="tab_content pro_detail_info"><ul><li><b class="bt_lt_par_t"></b>大渔的传说：</li>

    <p>
      相传自弥生时代起；东瀛的渔民出海打鱼起锚前会同前来相送的族人和亲属举行一些祭祀活动以祈福：“风平浪静，鱼虾满舱，安祥而归”其中有一个仪式就是升悬“大渔”旗以保佑“大福大运，渔福恩泽于万民”涵盖了普通庶民期盼“渔业丰收，生活富足，平安康健”的吉祥愿望！
      铁板烧的起源：
      铁板烧起源于上世纪二十年代的法式厨房，即是煎牛、羊、鱼排的扒炉。即厚度十毫米铁板，因其加热侯的温度大大高于常用的法兰煎盘，能使食材原味在瞬间凝结，并使营养成分不流失，且口感极佳，并带有丝丝的焦香味。即使现今的西式厨房，扒炉仍被广泛的作用。精明的日本人把这种烹调方式加以改进后而登上大雅之堂，并美其名曰【在餐桌上为您烹调美味佳肴】。
      大渔自一九九五年创业以来始终把握着【诚信服务，物有所值】作为永恒不变的经营方针。本店业主自创的【大渔特色火焰牛排】一直为各界所津津乐道的美食经典话题。大渔铁板烧是聚多年来本店的经验及多国朋友的宝贵意见所推出的百款铁板烧美食，定会适合与众不同的您！
      目前国内餐厅分布在上海、北京、天津、广州、深圳、东莞、大连、苏州、无锡、南京、福州、青岛、杭州、厦门、重庆、沈阳、济南、武汉、长沙、南宁、成都、合肥、惠州。</p>
    </li></ul>
    <br><p class="detail"><p style="text-align: center;">
    <img alt="" src="/assets/tairyo/生食牛肉.jpg" style="widthh: 750px; heightt/: 80px;" /><img alt="" src="/assets/tairyo/北极贝刺身.jpg" style="widthh: 750px; heightt/: 156px;" /></p>
    <p style="text-align: center;">
      <img alt="" src="/assets/tairyo/季节鱼生双拼.jpg" style="widthh: 750px; heightt/: 646px;" /><img alt="" src="/assets/tairyo/季节鱼生双拼.jpg" style="widthh: 750px; heightt/: 80px;" /><img alt="" src="/assets/tairyo/季节鱼生双拼.jpg" style="widthh: 448px; heightt/: 298px;" /></p>


    <p style="text-align: center;">
      <img alt="" src="/assets/tairyo/季节鱼生双拼.jpg" style="widthh: 750px; heightt/: 80px;" />
      <img alt="" src="/assets/tairyo/生食牛肉.jpg" style="widthh: 700px; heightt/: 466px;" />
      <img alt="" src="/assets/tairyo/北极贝刺身.jpg" style="widthh: 700px; heightt/: 492px;" />
      <img alt="" src="/assets/tairyo/北极贝刺身.jpg" style="widthh: 750px; heightt/: 737px;" />
      <img alt="" src="/assets/tairyo/sanwenyu.jpg" style="widthh: 750px; heightt/: 505px;" />
      <img alt="" src="/assets/tairyo/季节鱼生双拼.jpg" style="widthh: 750px; heightt/: 505px;" /></p>
    </p></div>
  <div class="loading hide" style="display: none;"><img src="/assets/mobile/loading-big.gif" alt="loading"><span>加载中...</span></div>
</div>
<div class="space15"></div>
<script type="text/javascript">
    function saveProValue(){
        return {product_id: '26038564',brand_id: '198535'}
    };
</script>
<!--<a href="product-198535-26038564-detail.html" class="btn_more"><span class="moreimg"></span>查看更多详情</a>-->
<!-- <p class="coupontips">有一张满<span class="fontred">300</span>减<span class="fontred">100</span>优惠券可用</p> -->

<div class="bottomdiv clearfix">
  <div class="inner clearfix">
    <a class="fl cart_time" href="cart.html?rbc=service">
      <em class="num_cart hide"></em>
      <span class="carticon fl"></span>
      <span class="num_cunt" data-ctime="true" data-carttime="-1402928788"></span>
    </a>
    <a href="/tairyo_order" class="add_to_cart fr btn_sure " id="add_to_cart">需要预定？</a>

  </div>
</div>

<div class="modal hide" id="Photo-modal" data-moadl="photobox">
  <div class="modal-body">
    <a href="javascript:void(0)" class="closeBtn" data-dismiss="closeModal"><span>×</span></a>
    <div class="modal-message">
      <div id="Photo-slide">
        <ul>
          <li><img src="/assets/mobile/loading_goods.gif"
                   data-original="/images/a072/a0729002_b_1.jpg"
                   data-onerror="/images/a072/a0729002_b_1.jpg"
                   alt="" class="Touch_mer_biglImg"></li>

        </ul>
        <nav>
          <ul id="Photo-pagination">

            <em id="sel1" class="on" mars_sead="product_big_pic">1</em>

            <em id="sel2" mars_sead="product_big_pic">2</em>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


</html>